{%- set tabid = "minify-css-11tyjs" %}
<div class="codetitle codetitle-right-md">eleventy.config.js</div>
<is-land on:visible import="/js/seven-minute-tabs.js">
<seven-minute-tabs class="tabs-flush" persist sync>
  {% renderFile "./src/_includes/syntax-chooser-tablist.11ty.js", {id: tabid, only: "jsesm,jscjs"} %}
  <div id="{{ tabid }}-jsesm" role="tabpanel">

```js
const fs = require("fs/promises");
const path = require("path");
const CleanCSS = require("clean-css");

export default async function (data) {
	return `<style>
	  ${await fs
			.readFile(path.resolve(__dirname, "./sample.css"))
			.then((data) => new CleanCSS().minify(data).styles)}
	</style>`;
};
```

  </div>
  <div id="{{ tabid }}-jscjs" role="tabpanel">

```js
const fs = require("fs/promises");
const path = require("path");
const CleanCSS = require("clean-css");

module.exports = async function (data) {
	return `<style>
	  ${await fs
			.readFile(path.resolve(__dirname, "./sample.css"))
			.then((data) => new CleanCSS().minify(data).styles)}
	</style>`;
};
```

  </div>
</seven-minute-tabs>
</is-land>