---
searchTitle: Search The Eleventy Documentation
---
{%- css %}{% include "components/page-search.css" %}{% endcss %}
<h1>Search the Eleventy Documentation</h1>

<form action="https://duckduckgo.com/" method="get" class="search" id="eleventy-search">
	<div class="search-lo fl">
		<div class="lo-maxgrow">
			<label for="search-term" class="sr-only">Search Terms</label>
			<input type="search" name="q" id="search-term" class="search-txt" autocomplete="off" autofocus>
			<input aria-hidden="true" hidden name="sites" value="www.11ty.dev">
		</div>
		<div>
			<button type="submit" class="search-btn btn-form">Search</button>
		</div>
	</div>
	<p>Search provided by <is-land><a href="https://duckduckgo.com/">DuckDuckGo</a><template data-island="replace"><a href="https://pagefind.app/">Pagefind</a></template></is-land>.</p>
</form>
<div id="search-results" class="hide">
	<h2 id="search-results-count" aria-live="polite">Results</h2>
	<ol id="search-results-list"></ol>
</div>
