---
searchTitle: Search The Eleventy Documentation
loadPagefind: true
putTheJsInTheHead: true
css:
  - components/page-search.css
---
<h1>Search the Eleventy Documentation</h1>

<div id="pagefindSearch"></div>
<p>Search provided by <span><a href="https://pagefind.app/">Pagefind</a>.</span></p>