---
permalink: js/eleventy.js
eleventyExcludeFromCollections: true
---
{% set js %}
{% include "components/import.js" %}
{% include "components/auth/gotrue.js" %}
{% include "components/auth/auth.js" %}
{% include "components/search.js" %}
{% include "../node_modules/instant.page/instantpage.js" %}
{% endset %}
{{ js | jsmin | safe }}