---
permalink: js/eleventy.js
eleventyExcludeFromCollections: true
---
{% set js %}
{% include "components/import.js" %}
{% include "components/auth/gotrue.js" %}
{% include "components/auth/auth.js" %}
{% include "components/search.js" %}
{% include "components/seven-minute-tabs.js" %}
{% include "../node_modules/speedlify-score/speedlify-score.js" %}
{% include "../node_modules/herald-of-the-dog/herald.js" %}
{% endset %}
{{ js | jsmin | safe }}