---
permalink: /imports/facepile.html
---
<div class="facepile">
{%- for author in authors | sortAuthors %}
{%- if author.sites.length > 0 -%}
	<a href="/authors/{{ author.name | slug }}/">{% communityavatar author.name %}<span class="sr-only">{{ author.name }}</span></a>
{%- endif -%}
{%- endfor %}
</div>