---
permalink: /imports/supporters.html
---
<div class="facepile facepile-supporters">
{%- for supporter in opencollective.supporters %}
{%- set nameToSlug = supporter.name | slugify | lower -%}
{%- set avatarHtml %}{% opencollectiveavatar supporter %}{% endset %}
{%- if avatarHtml != "" and supporter.showOnFacepile %}
	<a href="{{ supporter.website or supporter.profile }}" class="elv-externalexempt"{% if supporter.tier.slug %} data-supporters-tier="{{ supporter.tier.slug | slugify }}"{% endif %} rel="sponsored">{{ avatarHtml | safe }}</a>
{%- endif %}
{%- endfor %}
</div>