---
permalink: /imports/supporters.html
---
<div class="facepile facepile-supporters">
{% for supporter in opencollective.supporters | supportersFacepile %}
{%- set nameToSlug = supporter.name | slug | lower -%}
	<a href="{{ supporter.website or supporter.profile }}" class="elv-externalexempt" data-supporters-slug="{{ nameToSlug }}" rel="sponsored">{% opencollectiveavatar supporter.image, supporter.name %}</a>
{% endfor %}
</div>