---
eleventyNavigation:
  parent: Built With Eleventy
  key: Performance Leaderboard
  order: 2
excludeFromSidebar: true
ignoreFastestSite: true
css:
  - components/page-sites.css
---
<h1>Eleventy Performance Leaderboard</h1>

<div><strong class="sites-val">{{ sites | objectFilterNot("disabled") | length }}</strong> Sites</div>
{%- set medianLhScore = fastestSites | calc("median", "lighthouseScore") * 100 %}
{%- set meanLhScore = fastestSites | calc("mean", "lighthouseScore") * 100 %}
{%- set totalPerfectLhScore = fastestSites | calc("count", "lighthouseScore", 1) %}
<div><strong class="sites-val">{{ totalPerfectLhScore | round }}</strong> {% emoji "💯", "100" %}’s</div>
<div><strong class="sites-val">{{ medianLhScore | round }}</strong> Median Lighthouse Score</div>
<div><strong class="sites-val">{{ meanLhScore | round(1) }}</strong> Mean Lighthouse Score</div>
{%- set medianSi = fastestSites | calc("median", "speedIndex") %}
{%- set meanSi = fastestSites | calc("mean", "speedIndex") %}
<div><strong class="sites-val">{{ medianSi | round | commaNumber }}</strong> Median Speed Index</div>
<div><strong class="sites-val">{{ meanSi | round | commaNumber }}</strong> Mean Speed Index</div>
{%- set medianFcp = fastestSites | calc("median", "firstContentfulPaint") %}
{%- set meanFcp = fastestSites | calc("mean", "firstContentfulPaint") %}
<div><strong class="sites-val">{{ medianFcp | round | commaNumber }}</strong> Median First Contentful Paint</div>
<div><strong class="sites-val">{{ meanFcp | round | commaNumber }}</strong> Mean First Contentful Paint</div>

<br><br>

{% addToSampleSites %}

<p>Sites with Lighthouse scores greater than or equal to 90 are ordered by performance. The remainder are ordered randomly. Performance rankings are updated approximately once per week on Sunday. <em>Last generated {{ fastestSitesMeta.generated | newsDate }}</em>.</p>

<br>

<hr>

<div class="lo sites-lo" style="--lo-margin-h: 2rem; --lo-margin-v: 1rem; --lo-stackpoint: 31.25em;">
{%- for perf in fastestSites %}
{%- set site = perf.url | findSiteDataByUrl(sites) %}
{%- if site.disabled !== true and site.excludedFromLeaderboards !== true and site.url and perf.lighthouseScore >= 0.9 %}
	{%- set topKey = "performance" %}
	{%- set showMetadata = true %}
	{%- set showPerformanceMetadata = true %}
	{%- set showScreenshot = perf.rank <= 11 %}
	{% include "site.njk" %}
{%- endif %}
{%- endfor %}
	<div class="lo-c lo-fullwidth sites-divider"><strong>Remaining items are in random order</strong></div>
{%- for perf in fastestSites | shuffle %}
{%- set site = perf.url | findSiteDataByUrl(sites) %}
{%- if site.disabled !== true and site.excludedFromLeaderboards !== true and site.url and perf.lighthouseScore < 0.9 %}
	{%- set showMetadata = true %}
	{%- set showPerformanceMetadata = false %}
	{% include "site.njk" %}
{%- endif %}
{%- endfor %}
	<div class="lo-c lo-fullwidth sites-divider"><strong>Pending</strong></div>
{%- for key, site in sites -%}
{%- set missingEntry = site.url | hasPerformanceEntryByUrl(fastestSites) %}
{%- if not missingEntry and site.disabled !== true and site.excludedFromLeaderboards !== true and site.url %}
	{%- set showMetadata = true %}
	{%- set showPerformanceMetadata = false %}
	{% include "site.njk" %}
{%- endif -%}
{% endfor -%}
	<div class="lo-c">{% addToSampleSites %}</div>
</div>

<div style="margin-top: 50vh"></div>

<h4>Any site using AMP</h4>

<div class="lo lo-carousel ampcarousel" style="--lo-c-minwidth: 13.125em">
{%- for j in [1,2,3,4,5,6,7,8] %}
	<div class="lo-c"><a>{% avatarlocalcache "twitter", "AMPhtml" %}A site using AMP</a></div>
{%- endfor %}
</div>