{%- if communityLinks %}
<div class="elv-community" id="community-resources">
  {% callout "info" %}
  <strong class="elv-community-hed">Community Resources:</strong>
  <div class="sites-vert">
    <div class="lo-grid">
{% for entry in communityLinks -%}
    {%- set site = entry | convertCommunityLinkToSiteCard %}
    {% include "site-card.njk" %}
{%- endfor %}
      <div class="lo-c lo-c-center">
        +&#160;<a href="{{ config.githubEdit }}{{ page.inputPath }}" class="elv-externalexempt">Add yours!</a>
      </div>
    </div>
  </div>
  {% endcallout %}
</div>
{%- endif %}