<div class="fl fl-inline fl-nowrap elv-footer-nav">
	<ul class="list-bare">
		<li>{% include "edit-on-github.njk" %}</li>
		<li><a href="/docs/accessibility/">Accessibility</a></li>
		<li><a href="/firehose/">Firehose</a></li>
		<li><a href="/styleguide/">Style Guide</a></li>
	</ul>
	<ul class="list-bare">
		<li><em><i class="fa-brands fa-eleventy"></i>Eleventy v{{ eleventy.version }}</em></li>
		<li><a href="/docs/credits/">Credits</a></li>
{%- if github and github.stargazers %}
		<li><a href="https://github.com/11ty/eleventy/" class="elv-externalexempt" title="{{ github.stargazers }}"><i class="fa-solid fa-star"></i>{{ github.stargazers | humanReadableNum }} Stars</a></li>
{%- endif %}
{%- if npm and npm.downloads %}
		<li><i class="fa-solid fa-download"></i><abbr title="{{ npm.downloads }}">{{ npm.downloads | humanReadableNum }}</abbr> Downloads</li>
{%- endif %}
	</ul>
	<ul class="list-bare">
		<li><a href="https://fontawesome.com/"><i class="fa-brands fa-font-awesome"></i>Font Awesome</a></li>
		<li><a href="https://webawesome.com/"><i class="fa-brands fa-web-awesome"></i>Web Awesome</a></li>
		<li><a href="https://www.podcastawesome.com/">Podcast Awesome</a></li>
		<li><a href="https://blog.fontawesome.com/">Blog Awesome</a></li>
	</ul>
</div>