<ul class="list-bare mb-2 fl fl-inline fl-nowrap fl-separator-h">
	<li><a href="/blog/">Blog</a></li>
	<li><a href="/docs/accessibility/">Accessibility</a></li>
	<li><a href="/docs/account/" class="elv-externalexempt">Contributor Account</a></li>
	<li><a href="https://zachleat.com" class="elv-externalexempt">{% communityavatar "zachleat" %}</a></li>
</ul>
<ul class="list-bare mb-2 fl fl-inline fl-nowrap fl-separator-h">
	<li><a href="/styleguide/" class="elv-nav-light">Style Guide</a></li>
	<li><a href="/docs/credits/" class="elv-nav-light">Credits</a></li>
{% if github and github.stargazers %}
	<li><a href="https://github.com/11ty/eleventy/" class="elv-externalexempt elv-nav-light">{{ github.stargazers | humanReadableNum }} Stars</a></li>
{% endif %}
{% if opencollective and opencollective.backers %}
	<li><a href="/docs/supporters/" class="elv-externalexempt elv-nav-light">{{ opencollective.backers | humanReadableNum }} Backers</a></li>
{% endif %}
</ul>