<ul class="list-bare mb-2 fl fl-inline fl-nowrap fl-separator-h">
	<li>{% include "edit-on-github.njk" %}</li>
	<li><a href="/blog/">Blog</a></li>
	<li><a href="/docs/accessibility/">Accessibility</a></li>
	<li><a href="/docs/account/" class="elv-externalexempt">Contributor Account</a></li>
	<li>on <a href="https://www.netlify.com/" class="elv-externalexempt">Netlify</a></li>
	<li><a href="https://zachleat.com" class="elv-externalexempt">{% communityavatar "zachleat" %}</a></li>
</ul>
<ul class="list-bare mb-2 fl fl-inline fl-nowrap fl-separator-h">
	<li><a href="/styleguide/" class="elv-nav-light">Style Guide</a></li>
	<li><a href="/docs/credits/" class="elv-nav-light">Credits</a></li>
{% if github and github.stargazers %}
	<li><a href="https://github.com/11ty/eleventy/" class="elv-externalexempt elv-nav-light">{{ github.stargazers | humanReadableNum }} Stars</a></li>
{% endif %}
{% if npm and npm.downloads %}
	<li><a href="https://www.npmjs.com/package/@11ty/eleventy" class="elv-externalexempt elv-nav-light">{{ npm.downloads | humanReadableNum }} Downloads (Last Year)</a></li>
{% endif %}
{% if opencollective and opencollective.backers %}
	<li><a href="/docs/supporters/" class="elv-externalexempt elv-nav-light">{{ opencollective.backers | humanReadableNum }} Backers</a></li>
{% endif %}
</ul>
{%- if page.url === "/" %}
<ul class="list-bare">
	<li><a href="/reports/lighthouse/" class="elv-nav-light"><em>View this page’s Lighthouse Score</em></a></li>
</ul>
{%- endif %}