<header class="elv-header{% if headerClass %} {{ headerClass }}{% endif %}">
	<div class="elv-header-skip-content">
		<a href="#skip-nav">Skip to navigation</a>
		<a href="#skip-content">Skip to main content</a>
	</div>
	{%- set bannerLink = bannerlinks | matchbannerlink(bannerlinkOverride) %}
	{%- if not bannerLink %}
	{%- set bannerLink = bannerlinks | randompick %}
	{%- endif %}
	{%- if bannerLink %}
	<div class="announcement">
{% if bannerLink.url %}
		<a href="{{ bannerLink.url }}">{{ bannerLink.label }}</a>
{% else %}
		<span>{{ bannerLink.label }}</span>
{% endif %}
	</div>
	{%- endif %}

	<div class="elv-menu">
		<ul class="elv-nav-menu list-bare fl fl-inline fl-nowrap">
			<li><a href="/" class="naked">11ty</a></li>
			<li><a href="/docs/">Docs</a></li>
			<li><a href="/docs/search/" class="elv-nav-light">Search</a></li>
			<li><a href="/blog/" class="elv-nav-light">Blog</a></li>
			<li><a href="/docs/community/" class="elv-nav-light">Community</a></li>
			{# <li><a href="/firehose/" class="elv-nav-light">Firehose</a></li> #}
			<li><a href="https://conf.11ty.dev/" class="elv-externalexempt">Conference</a></li>
			{# <li><a href="https://merch.11ty.dev/products/11ty-merch-bundle-2024-limited-edition" class="elv-externalexempt">Merch</a></li> #}
			<li class="spacer" aria-hidden="true"></li>
			<li><a href="https://github.com/11ty/eleventy/" class="naked elv-nav-sociallink elv-skipicon">GitHub</a></li>
			{%- if github.stargazers %}<li class="elv-nav-menu-hidesmall"><a href="https://github.com/11ty/eleventy" class="minilink minilink-github elv-skipicon"><span>★</span> <strong title="{{ github.stargazers }}">{{ github.stargazers | humanReadableNum }}</strong></a></li>{% endif %}
			<li><a href="https://fosstodon.org/@eleventy" class="naked elv-nav-sociallink elv-nav-light"><span class="elv-nav-sociallink-text">Mastodon</span></a></li>
			<li><a href="https://www.youtube.com/c/EleventyVideo" class="naked elv-nav-sociallink elv-nav-light"><span class="elv-nav-sociallink-text">YouTube</span></a></li>
			<li><a href="/blog/discord/" class="naked elv-nav-sociallink elv-nav-light"><span class="elv-nav-sociallink-text">Discord</span></a></li>
		</ul>
	</div>

	<div class="elv-nav-header">
		<a href="{% if logoLink %}{{ logoLink }}{% else %}/{% endif %}" class="elv-hero elv-externalexempt">{% if logoContent %}{{ logoContent | safe }}{% else %}{% include "../img/logo.svg" %}{% endif %}<span class="sr-only">Eleventy</span></a>
		<{{ headerTag or "h1" }} class="elv-hed">{{ title | orphanWrap | safe }}</{{ headerTag or "h1" }}>
		<is-land on:visible on:idle on:save-data="false" on:media="(prefers-reduced-motion: no-preference)">
			<template data-island>
				<a href="/blog/mascot-david/" class="elv-externalexempt elv-possum-anchor" data-investors-avatar>
					<div class="elv-possum-pic">
							{% image "./src/img/mascots/david.svg", "The possum is Eleventy’s mascot", [222, 350], "elv-possum" %}
						</is-land>
					</div>
				</a>
			</template>
		</is-land>
	</div>
</header>
