<header class="elv-header{% if headerClass %} {{ headerClass }}{% endif %}">
	<div class="elv-menu">
		<active-background>
			<ul class="elv-nav-menu list-bare fl fl-inline fl-nowrap">
				<li><a href="/" class="elv-nav-menu-logo"><i class="fa-brands fa-eleventy"></i><span class="sr-only">11ty</span></a></li>
				<li><a href="/docs/">Get Started</a></li>
				<li><a href="/blog/">Blog</a></li>
				<li><a href="/docs/community/">Community</a></li>
				{# <li><a href="/firehose/">Firehose</a></li> #}
				{# <li><a href="https://conf.11ty.dev/" class= elv-externalexempt">Conference</a></li> #}
				{# <li><a href="https://merch.11ty.dev/products/11ty-merch-bundle-2024-limited-edition" class="elv-externalexempt">Merch</a></li> #}
				<li>
					<details-utils close-click-outside close-esc>
						<details class="elv-popover">
							<summary>Versions</summary>
							<div>
							  <ul class="list-bare">
									<li><a href="/docs/" class="elv-externalexempt"><code>v3</code> <small>Stable</small></a></li>
									<li><a href="https://v2.11ty.dev/docs/" class="elv-externalexempt"><code>v2</code></a></li>
									<li><a href="https://v1.11ty.dev/docs/" class="elv-externalexempt"><code>v1</code></a></li>
									<li><a href="https://v0.11ty.dev/docs/" class="elv-externalexempt"><code>v0</code></a></li>
									<li><a href="/docs/versions/" class="elv-externalexempt">History</a></li>
									<li><a href="/firehose/" class="elv-externalexempt">Firehose</a></li>
								</dl>
							</div>
						</details>
					</details-utils>
				</li>
				<li class="util-grow">
					<disabled-form>
						<form action="/docs/search/" class="util-stack">
							<label>
								<span class="sr-only">Search</span>
								<input type="search" name="q" placeholder="Search…" value="" disabled>
							</label>
							<button type="submit" disabled><i class="fa-solid fa-magnifying-glass"></i><span class="sr-only">Search</span></button>
						</form>
					</disabled-form>
				</li>
				{# <li class="spacer" aria-hidden="true"></li> #}
				{# <li><a href="/blog/feed.xml" class="nound elv-externalexempt elv-nav-sociallink"><i class="fa-solid fa-square-rss"></i><span class="elv-nav-sociallink-text">Feed</span></a></li> #}
				<li><a href="https://github.com/11ty/eleventy/" class="elv-skipicon"><i class="fa-brands fa-github" style="font-size: .9em"></i>GitHub</a></li>
				{# <li><a href="https://www.npmjs.com/org/11ty" class="nound elv-externalexempt elv-nav-sociallink"><i class="fa-brands fa-npm fa11ty-npm"></i><span class="sr-only">npm</span></a></li> #}
				<li data-active-background="rgba(255,0,51,.35)"><a href="https://www.youtube.com/c/EleventyVideo" class="nound elv-externalexempt elv-nav-sociallink"><i class="fa-brands fa-youtube"></i><span class="sr-only">YouTube</span></a></li>
				<li data-active-background="rgba(123,104,218,.35)"><a href="https://neighborhood.11ty.dev/@11ty" class="nound elv-nav-sociallink"><i class="fa-brands fa-mastodon"></i><span class="sr-only">Mastodon</span></a></li>
				<li data-active-background="rgba(18,133,254,.35)"><a href="https://bsky.app/profile/11ty.dev" class="nound elv-nav-sociallink"><i class="fa-brands fa-bluesky"></i><span class="sr-only">Bluesky</span></a></li>
				<li data-active-background="rgba(88,101,242,.35)"><a href="/blog/discord/" class="nound elv-nav-sociallink"><i class="fa-brands fa-discord"></i><span class="sr-only">Discord</span></a></li>
				<li data-active-background="rgba(83,140,215,.35)"><a href="https://fontawesome.com/" class="nound elv-nav-sociallink"><i class="fa-brands fa-font-awesome"></i><span class="sr-only">Font Awesome</span></a></li>
			</ul>
		</active-background>
	</div>

	<div class="elv-nav-header">
		{% if not isDocs %}
		<wa-comparison position="95">
			<a class="elv-hero" style="--stripe-color-1:#111;--stripe-color-2:#141414;" slot="before" href="{% if page.url === '/' %}/docs/{% else %}/{% endif %}">
				<div class="elv-hero-ba">
					<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M9.99976 2C13.8657 2.00004 16.9998 5.13403 16.9998 9C16.9998 12.2484 14.2319 15.321 11.8318 16.4961L12.4294 17.8398C12.4763 17.9452 12.4997 18.0595 12.4998 18.1748C12.4998 18.6303 12.1309 18.9998 11.6755 19H8.32495C7.8694 18.9999 7.49976 18.6304 7.49976 18.1748C7.49979 18.0595 7.5242 17.9452 7.57104 17.8398L8.16772 16.4961C5.76767 15.3208 2.99976 12.2482 2.99976 9C2.99976 5.13412 6.13391 2.00018 9.99976 2ZM9.73511 5.10254C9.65367 4.69662 9.25831 4.43344 8.85229 4.51465C8.04997 4.67525 7.29803 5.14118 6.71948 5.71973C6.14093 6.29829 5.67498 7.05019 5.5144 7.85254C5.43321 8.25853 5.69642 8.65388 6.10229 8.73535C6.50834 8.81656 6.90371 8.55342 6.98511 8.14746C7.0746 7.7 7.35873 7.20159 7.78003 6.78027C8.20132 6.35898 8.69977 6.07488 9.14722 5.98535C9.55317 5.90395 9.81632 5.50858 9.73511 5.10254Z" fill="white"/>
					</svg>
					<span class="sr-only">Eleventy</span>
				</div>
			</a>
			<a class="elv-hero" slot="after" href="{% if page.url === '/' %}/docs/{% else %}/{% endif %}">
				<i class="elv-hero-11ty fa-brands fa-eleventy"></i><span class="sr-only">Eleventy</span>
			</a>
			<i class="fa-solid fa-grip-vertical" slot="handle"></i>
		</wa-comparison>
		<script type="module" src="/js/web-awesome.js"${inputPath?.endsWith(".webc") ? " webc:keep" : ""}></script>
		{% endif %}
		<is-land class="elv-possum-island" on:visible on:idle on:load on:save-data="false" on:media="(prefers-reduced-motion: no-preference)">
			<template data-island>
				<a href="/blog/mascot-david/" class="elv-possum-anchor">
					<div class="elv-possum-pic">
						<img src="/img/mascots/david-green.svg" alt="The possum is Eleventy’s mascot" {% if isDocs %}eleventy:widths="222"{% else %}eleventy:widths="222,350" sizes="20vh"{% endif %} class="elv-possum" loading="eager">
					</div>
				</a>
			</template>
		</is-land>
	</div>
</header>
