:root {
	--layout-max: 70rem;

	--background-color_light: #fff;
	--color_light: #383838;
	--border-color_light: #ddd;
	--link-color_light: #222;

	--background-color_dark: #222;
	--color_dark: #fff;
	--border-color-dark: #444;
	--link-color-dark: #fff;

	--background-color: var(--background-color_light);
	--color: var(--color_light);
	--border-color: var(--border-color_light);
	--link-color: var(--link-color_light);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background-color: var(--background-color_dark);
		--color: var(--color_dark);
		--border-color: var(--border-color-dark);
		--link-color: var(--link-color-dark);
	}
}

/* Screen readers only */
.sr-only {
	position: absolute;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}
.hide {
	display: none;
}

* {
	box-sizing: border-box;
}
html {
	overflow-y: scroll;
}
body {
	font-family: system-ui, -apple-system, sans-serif;
	background-color: var(--background-color);
	color: var(--color);
	margin: 0;
}

img {
	border: 0;
}

a,
a:visited,
a[href] {
	color: var(--link-color);
}
a[href].naked {
	text-decoration: none;
}

strong,
b {
	font-weight: 600;
}
s,
del {
	text-decoration-color: red;
	opacity: 0.67;
}
hr {
	margin: 3em 0;
	border: none;
	border-top: 1px solid var(--border-color);
}
p {
	max-width: 42em;
	line-height: 1.6;
}

abbr {
	text-decoration: none;
}

iframe {
	border: none;
	width: 100%;
}

is-land {
	content-visibility: auto;
}

/* Utility classes */
.nowrap {
	white-space: nowrap;
}
.und {
	text-decoration: underline;
}
.nound {
	text-decoration: none;
}
.ta-c {
	text-align: center;
}
.spc-t2 {
	margin-top: 2em;
}
.spc-b2 {
	margin-bottom: 2em;
}

/* Blockquotes */
blockquote {
	font-family: Georgia, serif;
	font-size: 1.1875em; /* 19px /16 */
	color: #666;
	margin: 1.5em 0;
	padding: 0 1em;
	max-width: 31.57894736842em; /* 600px /19 */
	border-left: 6px solid var(--border-color);
}
@media (prefers-color-scheme: dark) {
	blockquote {
		color: #ccc;
	}
}
blockquote + blockquote {
	margin-top: 2em;
}
.icon,
.has-svg-icon > svg,
.avatar,
blockquote img {
	height: 1.3em;
	width: 1.3em;
	display: inline-block;
	vertical-align: text-top;
	margin-left: 2px;
	margin-right: 6px;
}
.avatar-large {
	height: 1.5em;
	width: 1.5em;
}
.avatar,
blockquote img {
	border-radius: 50%;
}
.avatar-indieweb {
	border-radius: 0.25em;
}
.icon,
.has-svg-icon > svg,
.avatar {
	vertical-align: middle;
}
ul:not(.list-bare):not(.inlinelist) > li > a > .avatar {
	width: auto;
	height: 1.111111111111em; /* 20px /18 */
	vertical-align: top;
	margin-left: 4px;
	margin-right: 4px;
}
ul:not(.list-bare):not(.inlinelist) > li > a > .avatar-large {
	width: 1.444444444444em; /* 26px /18 */
	height: 1.444444444444em; /* 26px /18 */
	object-fit: contain;
	margin-right: 0.3888888888889em; /* 7px /18 */
}
blockquote .bio-source {
	white-space: nowrap;
}
@media (prefers-color-scheme: dark) {
	.has-svg-icon > svg {
		fill: #fff;
	}
}

h1 .avatar {
	height: 0.7em;
	width: 0.7em;
	vertical-align: baseline;
}

/* Main */
main {
	font-size: 1.125em; /* 18px /16 */
}
main img {
	max-width: 100%;
}
main img[height] {
	height: auto;
}
main details {
	margin: 1rem 0;
}
main > details[open],
details[open].details-expand-bg {
	--details-bg: rgba(0, 0, 0, 0.08);
	background-color: var(--details-bg);
	box-shadow: 0 0 0 1rem var(--details-bg);
}
main > details[open] pre,
details[open].details-expand-bg pre {
	border-radius: 0;
}
@media (prefers-color-scheme: dark) {
	main > details[open],
	details[open].details-expand-bg {
		--details-bg: rgba(255, 255, 255, 0.08);
	}
}
details[open].details-rounded {
	border-radius: 0.1em;
}
main details[open] > summary {
	margin: 0 0 1em;
}

/* Tables */
table {
	border-collapse: collapse;
	margin-bottom: 2em;
}
table th,
table td {
	text-align: left;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	padding: 0.4em;
	font-size: 0.8125em; /* 13px /16 */
	vertical-align: top;
}
table thead th {
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	font-size: 0.75em; /* 12px /16 */
	border-top: none;
}
table thead th code {
	text-transform: none;
}
table th:first-child,
table td:first-child {
	padding-left: 0;
}
table th {
	border-color: var(--border-color);
}
table thead th {
	color: #222;
}
table thead th a[href] {
	color: inherit;
}
table .numeric {
	text-align: right;
	font-family: Roboto Mono, Consolas, Monaco, Andale Mono, Ubuntu Mono,
		monospace;
}

@media (prefers-color-scheme: dark) {
	table td {
		border-color: #333;
	}
	table thead th {
		color: #ddd;
	}
}
h2 + table {
	margin-top: -0.625em; /* -10px /16 */
}

@media (min-width: 37.5em) {
	/* 600px */
	table th,
	table td {
		padding: 0.4em 0.8em;
		font-size: 1em; /* 16px /16 */
	}
	table thead th {
		font-size: 0.875em; /* 14px /16 */
	}
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
.elv-hed,
.elv-h2,
.elv-h3,
.benchnine {
	font-family: BenchNine, system-ui, -apple-system, sans-serif;
}
h1,
.elv-hed {
	font-size: 2.666666666667em; /* 48px /18 */
	margin: 0 0 0.5em;
}
main .elv-toc + #skip-content > h1:first-child {
	margin-top: 0.5em;
	line-height: 1.1;
}
main .breadcrumb + h1,
main h1:first-child,
main .elv-toc + #skip-content > h1:first-child {
	border-bottom: 1px solid #aaa;
}
@media (min-width: 55em) {
	/* 880px */
	main .elv-toc + #skip-content > h1:first-child,
	main .elv-toc + #skip-content > h2:first-child {
		margin-top: 0;
	}
}
h2,
.elv-h2 {
	font-size: 2.222222222222em; /* 40px /18 */
	border-bottom: 1px solid #ddd;
	margin: 2em 0 0.25em;
	line-height: 1.1;
	letter-spacing: -0.5px;
}
@media (prefers-color-scheme: dark) {
	h2,
	.elv-h2 {
		border-color: #555;
	}
}
h3,
.elv-h3 {
	font-size: 1.666666666667em; /* 30px /18 */
	margin-bottom: 0.5em;
}
h4 {
	font-size: 1.444444444444em; /* 26px /18 */
	margin-bottom: 0.5em;
}
h5 {
	font-size: 1.277777777778em; /* 23px /18 */
	margin-bottom: 0.5em;
}
h1 code,
h2 code,
h3 code,
h4 code,
h5 code {
	font-family: inherit;
}
h1,
h2,
h3 {
	text-wrap: balance;
}

.subhed {
	display: block;
	font-family: system-ui, -apple-system, sans-serif;
	font-size: 0.9375em; /* 15px /16 */
	line-height: 1;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin: 0;
	color: #666;
	text-align: center;
	border: none;
}
@media (prefers-color-scheme: dark) {
	.subhed {
		color: #adadad;
	}
}

/* Lists */
ul:last-child,
ol:last-child {
	margin-bottom: 0;
}
ul {
	padding: 0 1em;
}
li {
	padding: 0.5em 0;
	line-height: 1.6;
}
li:first-child:not([class]) {
	padding-top: 0;
}
li:last-child:not([class]) {
	padding-bottom: 0;
}
li ul,
li ol {
	margin-top: 1em;
}

.list-bare {
	list-style: none;
	padding: 0;
	margin: 0;
}
.list-bare > li {
	padding: 0;
	line-height: 2;
}
.list-bare-desc {
	display: block;
	font-size: 80%;
	color: #555;
	margin-bottom: 4px;
}
@media (prefers-color-scheme: dark) {
	.list-bare-desc {
		color: #bbb;
	}
}
.list-bare-desc:last-child {
	margin-bottom: 6px;
}
.list-bare-desc-avatar {
	margin-left: 29.4px;
}

/* Layout */
.elv-layout {
	padding: 1rem;
	margin: 0 auto;
	max-width: var(--layout-max);
	clear: both;
}
header.elv-layout {
	padding: 0 1rem;
}
footer.elv-layout {
	margin-bottom: 5em;
}
.elv-layout-full {
	max-width: none;
}
@media (min-width: 55em) {
	/* 880px */
	.elv-layout-toc {
		padding: 0 2rem 2rem 16rem;
		position: relative;
	}
}

/* Definition Lists */
dl {
	display: grid;
	gap: 0 1em;
	grid-template-columns: auto 1fr;
}
dl.elv-list-vertical {
	grid-template-columns: auto;
}
dd {
	margin: 0;
}
dl:first-child {
	margin-top: 0;
}
dl:last-child {
	margin-bottom: 0;
}
.elv-toc dl {
	line-height: 1.6;
}

/* Header */
.elv-menu {
	background-color: #f4f4f4;
	color: var(--color);
	border: 1px solid var(--border-color);
	border-left: none;
	border-right: none;
}
:where(.elv-menu) a,
:where(.elv-menu) a:visited,
:where(.elv-menu) a[href] {
	color: inherit;
}
/* Dark mode menu on home page */
.elv-header-default .elv-menu {
	background-color: #222;
	border-color: transparent;
}
.elv-header-default .elv-menu {
	color: var(--color_dark);
}
@media (prefers-color-scheme: dark) {
	.elv-menu,
	.elv-header-default .elv-menu {
		background-color: #292929;
	}
}
.elv-header {
	position: relative;
}
.elv-hed,
.elv-nav-header {
	width: 100%;
	margin: 0 auto;
}
.elv-nav-header {
	padding-left: 1rem;
	padding-right: 1rem;
}
.elv-header-docs .elv-nav-header {
	margin-block: 1rem;
}
.elv-nav-menu {
	padding-left: 1rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	margin-left: auto;
	margin-right: auto;
}
.elv-hed,
.elv-nav-header,
.elv-nav-menu {
	max-width: calc(var(--layout-max));
}
/* Full width logo */
.elv-header-default .elv-nav-header {
	max-width: none;
}

/* Make room for the possum */
.elv-nav-menu {
	padding-right: 15vw;
}
@media (min-width: 25em) {
	/* 400px */
	.elv-nav-menu {
		padding-right: 6em;
	}
}

.elv-header-docs:before,
.elv-header-docs:after {
	content: " ";
	display: table;
}
.elv-header-docs:after {
	clear: both;
}

/* Skip to links */
.elv-header-skip-content {
	position: absolute;
	top: 0.25em;
	left: 1em;
	color: #fff;
	background-color: #353535;
	z-index: 1001;
	text-align: center;
}
.elv-header-skip-content a[href] {
	color: inherit;
}
.elv-header-skip-content a:focus {
	display: inline-block;
	cursor: pointer;
	padding: 0.5em;
}
.elv-header-skip-content a:not(:focus) {
	clip: rect(0 0 0 0);
	position: absolute;
	overflow: hidden;
}

/* Header Hero */
.elv-hero {
	display: block;
	background-color: #222;
	font-family: BenchNine, system-ui, -apple-system, sans-serif;
	text-decoration: none;
}
a[href].elv-hero,
a[href].elv-hero:visited {
	color: #fff;
}
.elv-hero-content:after {
	content: "";
	font-size: 7%;
}
.elv-hero-content {
	display: flex;
	gap: 0.02em;
	align-items: baseline;
	justify-content: center;
	font-size: 30vw;
	font-size: 40vh;
	height: 60vh;
	color: #fff;
	position: relative;
	z-index: 1;
}
@media (prefers-color-scheme: dark) {
	.elv-hero {
		background-color: #292929;
	}
}
.elv-hero img,
.elv-hero svg {
	display: block;
	width: 55vh;
	height: 55vh;
	max-width: 100%;
}
.elv-hero:hover img,
.elv-hero:hover svg {
	background-color: inherit;
}
.elv-header-default .elv-hero {
	display: flex;
	justify-content: center;
	width: calc(100% + 2rem);
	margin-left: -1rem;
	margin-right: -1rem;
}
.elv-hero:hover {
	background-color: #333;
}

.elv-header-docs .elv-hero {
	float: left;
	margin-right: 0.5em;
}
.elv-header-default .elv-hero img,
.elv-header-default .elv-hero svg {
	position: relative;
	background-color: transparent;
	z-index: 1;
}
.elv-header-docs .elv-hero img,
.elv-header-docs .elv-hero svg {
	width: 3em;
	height: 3em;
}
@media (min-width: 43.75em) {
	/* 700px */
	.elv-header-docs .elv-hero {
		margin-right: 1em;
	}
	.elv-header-docs .elv-hero img,
	.elv-header-docs .elv-hero svg {
		width: 4em; /* 64px /16 */
		height: 4em; /* 64px /16 */
	}
}

/* Header Heading */
.elv-hed {
	font-size: 3.125em; /* 50px /16 */
	line-height: 1.2;
	margin-block: 1em;
	text-align: center;
	text-transform: none;
}
.elv-header-docs .elv-hed {
	font-size: 2.125em; /* 34px /16 */
	line-height: 1.5;
	margin: 0;
	text-align: left;
}
@media (min-width: 43.75em) {
	/* 700px */
	.elv-header-docs .elv-hed {
		font-size: 2.625em; /* 42px /16 */
	}
}

/* Breakpoint Overrides */
@media (max-width: 37.4375em) {
	/* 599px */
	.bp-notsm.bp-notsm.bp-notsm.bp-notsm {
		display: none;
	}
}
@media (min-width: 37.5em) {
	/* 600px */
	.bp-sm.bp-sm.bp-sm.bp-sm {
		display: none;
	}
}

/* Big primary button */
.btn-form,
.btn-primary {
	cursor: pointer;
	border: 2px solid;
	font-size: 1em;
	text-align: center;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	color: inherit;
	background-color: inherit;
}
@media (prefers-color-scheme: dark) {
	.btn-form {
		background-color: #000;
		border-color: transparent;
	}
}
.btn-form {
	border-radius: 1em;
	padding-left: 0.75em;
	padding-right: 0.75em;
	box-shadow: 0 4px 3px -3px #000;
}
.btn-primary {
	display: block;
	border-radius: 1.5em;
	margin: 0;
	padding: 0.5em 1em 0.4em;
	box-shadow: 0 8px 6px -6px #000;
}

.btn-form:hover,
.btn-form:focus,
.btn-primary:hover {
	border-color: transparent;
	background-color: #222;
	color: #fff;
}
@media (prefers-color-scheme: dark) {
	.btn-form:focus,
	.btn-form:hover {
		background-color: #fff;
		color: #222;
	}
}
.btn-primary:hover {
	border-color: rgba(255, 255, 255, 0.3);
}
.btn-primary span {
	text-transform: none;
}
.btn-c {
	margin-left: auto;
	margin-right: auto;
}
@media (min-width: 20em) {
	.btn-primary {
		font-size: 6vw;
	}
	.btn-primary-sm,
	.btn-primary-standard {
		font-size: 1.4em;
	}
}
@media (min-width: 28.125em) {
	/* 450px */
	.btn-primary-sm {
		font-size: 5.6vw;
	}
	.btn-primary-standard {
		font-size: 4vw;
	}
}
@media (min-width: 53.125em) {
	/* 850px */
	.btn-primary-sm {
		font-size: 2.666666666667em; /* 48px /18 */
	}
	.btn-primary-standard {
		font-size: 1.666666666667em; /* 30px /18 */
	}
}
@media (min-width: 87.5em) {
	/* 1400px */
	.btn-primary {
		font-size: 5.25em; /* 84px /16 */
	}
}

/* Emoji */
.emoji {
	line-height: 1;
}

/* Filter container */
filter-container form {
	opacity: 0.3;
	pointer-events: none;
}
filter-container:defined form {
	opacity: 1;
	pointer-events: all;
}

/* Utility classes */
.mt-0:first-of-type {
	margin-top: 0;
}
.mt-1 {
	margin-top: 0.5em;
}
.mt-2 {
	margin-top: 1em;
}
.mb-2 {
	margin-bottom: 1em;
}
.mt-8 {
	margin-top: 4em;
}
.mb-8 {
	margin-bottom: 4em;
}
