:root {
	--layout-max: 70rem;

	--color_dark: #fff; /* reused in header */

	--background-color: #fff;
	--color: #383838;
	--border-color: #ddd;
	--link-color: #222;
	--link-underline: rgba(0,0,0,.25);
	--shadow-color: rgba(0, 0, 0, 0.08);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background-color: #222;
		--color: var(--color_dark);
		--border-color: #444;
		--link-color: #fff;
		--link-underline: rgba(255,255,255,.45);
		--shadow-color: rgba(255, 255, 255, 0.25);
	}
}

/* Screen readers only */
.sr-only {
	position: absolute;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}
.hide {
	display: none;
}

* {
	box-sizing: border-box;
}
html {
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
	overflow-y: scroll;
}
body {
	font-family: system-ui, sans-serif;
	background-color: var(--background-color);
	color: var(--color);
	margin: 0;
}

img {
	border: 0;
}

a,
a:visited,
a[href] {
	color: var(--link-color);
	text-decoration-color: var(--link-underline);
	text-decoration-thickness: 0.1em;
}
a[href]:hover {
	text-decoration-color: currentColor;
}

strong,
b {
	font-weight: 600;
}
s,
del {
	text-decoration-color: red;
	opacity: 0.67;
}
hr {
	margin: 3em 0;
	border: none;
	border-top: 1px solid var(--border-color);
}
p {
	max-width: 42em;
	line-height: 1.6;
}

abbr {
	text-decoration: none;
}

iframe {
	border: none;
	width: 100%;
}

/* Blockquotes */
blockquote {
	font-family: Georgia, serif;
	font-size: 1.1875em; /* 19px /16 */
	color: #666;
	margin: 1.5em 0;
	padding: 0 1em;
	max-width: 31.57894736842em; /* 600px /19 */
	border-left: 6px solid var(--border-color);
}
@media (prefers-color-scheme: dark) {
	blockquote {
		color: #ccc;
	}
}
blockquote + blockquote {
	margin-top: 2em;
}

/* Main */
main {
	font-size: 1.125em; /* 18px /16 */
}
main img {
	max-width: 100%;
}
main img[height] {
	height: auto;
}
main details {
	margin: 1rem 0;
}
main > details[open],
details[open].details-expand-bg {
	--details-bg: rgba(0, 0, 0, 0.08);
	background-color: var(--details-bg);
	box-shadow: 0 0 0 1rem var(--details-bg);
}
main > details[open] pre,
details[open].details-expand-bg pre {
	border-radius: 0;
}
@media (prefers-color-scheme: dark) {
	main > details[open],
	details[open].details-expand-bg {
		--details-bg: rgba(255, 255, 255, 0.08);
	}
}
details[open].details-rounded {
	border-radius: 0.1em;
}
main details[open] > summary {
	margin: 0 0 1em;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
.elv-hed,
.elv-h2,
.elv-h3,
.benchnine {
	font-family: BenchNine, system-ui, sans-serif;
	font-weight: 700;
}
h1 {
	margin: 0 0 .5em;
}
h1,
.elv-hed,
.elv-type1 {
	font-size: 2.666666666667em; /* 48px /18 */
}
main .elv-toc + #skip-content >  heading-anchors > h1:first-child {
	margin-top: 0.5em;
	line-height: 1.1;
}
main .breadcrumb + h1,
main h1:first-child,
main .elv-toc + #skip-content >  heading-anchors > h1:first-child {
	border-bottom: 1px solid #aaa;
}
@media (min-width: 55em) {
	/* 880px */
	main .elv-toc + #skip-content > heading-anchors > :is(h1, h2):first-child {
		margin-top: 0;
	}
}
h2,
.elv-h2 {
	border-bottom: 1px solid #ddd;
	margin: 2em 0 0.25em;
	letter-spacing: -0.5px;
}
h2,
.elv-h2,
.elv-type2 {
	font-size: 2.222222222222em; /* 40px /18 */
}
@media (prefers-color-scheme: dark) {
	h2,
	.elv-h2 {
		border-color: #555;
	}
}
h3,
.elv-h3 {
	margin-bottom: 0.5em;
}
h3,
.elv-h3,
.elv-type3 {
	font-size: 1.666666666667em; /* 30px /18 */
}
h4 {
	margin-bottom: 0.5em;
}
h4,
.elv-type4 {
	font-size: 1.444444444444em; /* 26px /18 */
}
h5 {
	margin-bottom: 0.5em;
}
h5,
.elv-type5 {
	font-size: 1.277777777778em; /* 23px /18 */
}
:is(h1, h2, h3, h4, h5) code {
	font-family: inherit;
}

/* Lists */
ul:last-child,
ol:last-child {
	margin-bottom: 0;
}
ul {
	padding: 0 1em;
}
li {
	padding: 0.5em 0;
	line-height: 1.6;
}
li:first-child:not([class]) {
	padding-top: 0;
}
li:last-child:not([class]) {
	padding-bottom: 0;
}
li ul,
li ol {
	margin-top: 1em;
}

.list-bare {
	list-style: none;
	padding: 0;
	margin: 0;
}
.list-bare > li {
	padding: 0;
	line-height: 2;
}
.list-bare-desc {
	display: block;
	font-size: 80%;
	color: #555;
	margin-bottom: 4px;
}
@media (prefers-color-scheme: dark) {
	.list-bare-desc {
		color: #bbb;
	}
}
.list-bare-desc:last-child {
	margin-bottom: 6px;
}
.list-bare-desc-avatar {
	margin-left: 29.4px;
}

/* Layout */
.elv-layout {
	padding: 1rem;
	margin: 0 auto;
	max-width: var(--layout-max);
	clear: both;
}
header.elv-layout {
	padding: 0 1rem;
}
footer.elv-layout {
	margin-bottom: 5em;
}
.elv-layout-full {
	max-width: none;
}
.elv-layout-toc {
	padding-block-start: 0;
}
@media (min-width: 55em) {
	/* 880px */
	.elv-layout-toc {
		padding: 0 2rem 2rem 16rem;
		position: relative;
	}
}

/* Definition Lists */
dl {
	display: grid;
	gap: 0 1em;
	grid-template-columns: auto 1fr;
}
dl.elv-list-vertical {
	grid-template-columns: auto;
}
dd {
	margin: 0;
}
dl:first-child {
	margin-top: 0;
}
dl:last-child {
	margin-bottom: 0;
}
.elv-toc dl {
	line-height: 1.6;
}

/* Skip to links */
.elv-skip {
	position: absolute;
	top: 0.25em;
	left: 1em;
	color: #fff;
	background-color: #353535;
	z-index: 1001;
	text-align: center;
}
.elv-skip a[href] {
	color: inherit;
}
.elv-skip a:focus {
	display: inline-block;
	cursor: pointer;
	padding: 0.5em;
}
.elv-skip a:not(:focus) {
	clip: rect(0 0 0 0);
	position: absolute;
	overflow: hidden;
}

/* Emoji */
.emoji {
	line-height: 1;
}

/* Filter container */
filter-container form {
	opacity: 0.3;
	pointer-events: none;
}
filter-container:defined form {
	opacity: 1;
	pointer-events: all;
}

/* Utility classes */
.f-b {
	font-weight: 700;
}
.nowrap {
	white-space: nowrap;
}
.und {
	text-decoration: underline;
}
.nound {
	text-decoration: none;
}
.ta-c {
	text-align: center;
}
.mt-0:first-of-type {
	margin-top: 0;
}
.mt-1 {
	margin-top: 0.5em;
}
.mt-2 {
	margin-top: 1em;
}
.mb-2 {
	margin-bottom: 1em;
}
.mb-4 {
	margin-bottom: 2em;
}
.mt-8 {
	margin-top: 4em;
}
.mb-8 {
	margin-bottom: 4em;
}

/* Font Awesome Icons */
.fa11ty-icon {
	margin: 0 .25em;
	width: 1.3em;
	height: 1.3em;
	vertical-align: text-bottom;
}
.fa-mastodon {
	color: #7b68da;
}
.fa-bluesky {
	color: #1285fe;
}
.fa-youtube {
	color: #f03;
}
.fa-discord {
	color: #5865f2;
}
.fa11ty-icon [href="#fas-fa-square-rss"] {
	color: #e57516;
}
.fa-font-awesome {
	color: #538cd7;
}
