<ul class="logos-list">{#
  #}<li class="logos-list-hed">Trusted by</li>{#
  #}<li>{% indieavatar "https://about.google/" %}Google</li>{#
  #}<li>{% indieavatar "https://www.netlify.com/" %}Netlify</li>{#
  #}<li>{% indieavatar "https://css-tricks.com/" %}CSS Tricks</li>{#
  #}<li>{% indieavatar "https://foursquare.com/" %}Foursquare</li>{#
  #}<li>{% indieavatar "https://web.dev/" %}web.dev</li>{#
  #}<li>{% indieavatar "https://www.webpagetest.org/" %}WebPageTest</li>{#
  #}<li>{% indieavatar "https://www.a11yproject.com/" %}A11Y Project</li>{#
  #}<li>{% indieavatar "https://v8.dev/" %}V8</li>{#
  #}<li>{% indieavatar "https://www.w3.org/" %}W3C</li>{#
  #}<li>{% indieavatar "https://home.web.cern.ch/" %}Cern</li>{#
  #}<li>{% indieavatar "https://developer.chrome.com/" %}Chrome Developers</li>{#
  #}<li>{% indieavatar "https://stackoverflow.com/" %}Stack Overflow</li>{#
  #}<li>{% indieavatar "https://lit.dev/", "avatar-tall" %}Lit</li>{#
  #}<li>{% indieavatar "https://jamstack.org/" %}Jamstack</li>{#
  #}<li>{% indieavatar "https://web.mit.edu/" %}<abbr title="Massachusetts Institute of Technology">MIT</abbr></li>{#
  #}<li>{% indieavatar "https://www.csis.org/" %}<abbr title="Center for Strategic & International Studies">CSIS</abbr></li>{#
  #}<li>{% indieavatar "https://eslint.org/" %}ESLint</li>{#
  #}<li>{% indieavatar "https://revealjs.com/" %}reveal.js</li>{#
  #}<li>{% indieavatar "https://panic.com/" %}Panic</li>{#
  #}<li>{% indieavatar "https://www.filamentgroup.com/" %}Filament Group</li>{#
  #}<li>{% indieavatar "https://set.studio/" %}Set Studio</li>{#
  #}<li>{% indieavatar "https://www.ookla.com/" %}Ookla</li>{#
  #}<li>{% indieavatar "https://www.khanacademy.org/" %}Khan Academy</li>{#
  #}<li>{% indieavatar "https://basecamp.com/" %}Basecamp</li>{#
  #}<li>{% indieavatar "https://www.snowpack.dev/" %}Snowpack</li>{#
  #}<li>{% indieavatar "https://ffconf.org/" %}ffconf</li>{#
  #}<li>{% indieavatar "https://2022.uxlondon.com/" %}UX London</li>{#
  #}<li>{% indieavatar "https://nordhealth.com/" %}Nordhealth</li>{#
  #}<li>{% indieavatar "https://www.orange.com/" %}Orange</li>{#
  #}<li>{% indieavatar "https://www.wisc.edu/" %}Univ. of Wisconsin-Madison</li>{#
  #}<li>{% indieavatar "https://www.numerique.gouv.fr/" %}The government of France</li>{#
  #}<li class="logos-list-more">…and more</li>{#
#}</ul>