{% callout %}
<div class="newsletter-signup">
	<h2 class="elv-h2 newsletter-signup-hed">Subscribe to the <a href="https://buttondown.email/11ty" class="elv-externalexempt">11ty Newsletter</a></h2>
	<form
	  action="https://buttondown.email/api/emails/embed-subscribe/11ty"
	  method="post"
	  target="popupwindow"
	  onsubmit="window.open('https://buttondown.email/11ty', 'popupwindow')"
	  class="newsletter-signup-form embeddable-buttondown-form"
	>
	  <label for="bd-email">Your Email Address</label>
	  <input type="email" name="email" id="bd-email">

	  <input type="submit" value="Subscribe">

		<p>via <a href="https://buttondown.email/refer/11ty" target="_blank" class="elv-externalexempt">Buttondown</a></p>
	</form>

</div>
<ul class="inlinelist">
	<li class="inlinelist-item"><a href="/blog/">Read the <strong>Blog</strong></a></li>
	<li class="inlinelist-item"><a href="https://fosstodon.org/@eleventy">Follow on <strong><i class="fa-brands fa-mastodon"></i>Mastodon</strong></a></li>
	<li class="inlinelist-item"><a href="https://bsky.app/profile/11ty.dev">Follow on <strong><i class="fa-brands fa-bluesky"></i>Bluesky</strong></a></li>
	<li class="inlinelist-item"><a href="https://www.youtube.com/c/EleventyVideo" class="elv-externalexempt">Watch on <strong><i class="fa-brands fa-youtube"></i>YouTube</strong></a></li>
	<li class="inlinelist-item"><a href="https://github.com/11ty/eleventy" class="elv-externalexempt">Star on <strong><i class="fa-brands fa-github"></i>GitHub</strong></a></li>
	<li class="inlinelist-item"><a href="/blog/discord/">Chat on <strong><i class="fa-brands fa-discord"></i>Discord</strong></a></li>
</ul>
{% endcallout %}