- `2026 April` [<i class="fa-brands fa-kickstarter"></i>**Build Awesome Pro Kickstarter**]({{ config.kickstarterUrl }})
- `2026 May` [<i class="fa-solid fa-newspaper"></i>**Blog Awesome**: Introducing: Build Awesome](https://blog.fontawesome.com/introducing-build-awesome-static-site-platform-kickstarter/)
- `2026 May` [<i class="fa-solid fa-newspaper"></i>**Blog Awesome**: New Sponsorship Tiers for the Build Awesome Kickstarter](https://blog.fontawesome.com/new-build-awesome-sponsorship-tiers/)
- `2026 April` [Collaborative Editing as Progressive Enhancement](/blog/collaborative-editing/)
- `2026 March` [Eleventy is now Build Awesome](/blog/build-awesome/)
- `2026 March` [<i class="fa-solid fa-podcast"></i>**Podcast Awesome**: Eleventy Is Rebranding to Build Awesome: What Changes (and What Doesn’t)](https://www.podcastawesome.com/2092855/episodes/18785266-eleventy-is-rebranding-to-build-awesome-what-changes-and-what-doesn-t) <code class="elv-tag"><i class="fa-solid fa-headphones"></i>24m</code>
- `2026 March` [**Eleventy Meetup** (on YouTube): AMA about Build Awesome, an Open Town Hall](https://www.youtube.com/watch?v=lA-wD89m6jM) <code class="elv-tag"><i class="fa-solid fa-video"></i>44m</code>