<div class="lo-c sites-site-vert{% if site.official %} sites-site-official{% endif %}" data-filter-tags="{% if siteData | lighthousePerfectScore %}perfectlh{% endif %}">
  <a href="{{ site.url }}" class="elv-externalexempt" title="{{ site.name }}">
    <span class="sites-site-name">{% avatarlocalcache "twitter", site.author or site.twitter %}{{ site.name }}</span>
    <div class="sites-screenshot-container">
      {% getScreenshotHtml site.fileSlug, site.demo or site.url %}
    </div>
{%- if siteData | lighthouseGoodDataCheck %}
    <div class="sites-site-lighthouse"><speedlify-score raw-data='{{ siteData | toJSON | safe }}'></speedlify-score></div>
{%- endif %}
{%- if site.description %}
    <div class="sites-site-description">{% if site.official %}<strong>Official Starter</strong>: {% endif %}{{ site.description }}</div>
{%- endif %}
  </a>
</div>