<div class="lo-c site-top">
	<div class="sites-data-container">
		<a href="{{ site.url }}">{% avatarlocalcache "twitter", site.twitter %}{{ site.name }}</a>
		{%- if site.description %}<em class="list-bare-desc list-bare-desc-avatar">{{ site.description }}</em>{% endif -%}
		{%- if showMetadata %}
		<em class="list-bare-desc list-bare-desc-avatar">
			<div class="lo lo-inline lo-nocontentwrap lo-separator-h" style="--lo-margin-h: 1.5rem; --lo-margin-v: 2px">
				{%- if site.twitter or site.authoredBy %}<div class="lo-c"><a href="/authors/{{ site.twitter | cleanAuthorName }}/" class="elv-externalexempt">{{ site.twitter | cleanAuthorName }}</a>{% if site.authoredBy %} by {% endif %}{% for author in site.authoredBy %} <a href="/authors/{{ author | cleanAuthorName }}/" class="elv-externalexempt">{% avatarlocalcache "twitter", author %}{{ author | cleanAuthorName }}</a>{% endfor %}</div>{% endif -%}
				{%- if site.source_url %}<div class="lo-c"><a href="{{ site.source_url }}" class="elv-externalexempt">Source Code</a></div>{% endif -%}
			</div>
		</em>
		<div class="list-bare-desc list-bare-desc-avatar site-score">
			{%- set hash = site.url | speedlifyHash %}
			{%- if hash -%}
				<a href="https://www.11ty.dev/speedlify/#site-{{ hash }}" class="elv-externalexempt nound">
					<speedlify-score speedlify-url="https://www.11ty.dev/speedlify/" hash="{{ hash }}" score weight rank rank-change></speedlify-score>
				</a>
			{%- endif -%}
		</div>
		{%- endif %}
	</div>
	<div class="sites-screenshot-container">
    {% getScreenshotHtml site.fileSlug, site.url %}
  </div>
</div>