<div class="lo-c sites-site-vert">
  <a href="{{ site.url }}" class="elv-externalexempt">
    {% avatarlocalcache "twitter", site.twitter %}{{ site.name }}
    <div class="sites-screenshot-container">
      {% getScreenshotHtml site.fileSlug, site.url %}
    </div>
  </a>
</div>