{% callout %}
<ul class="inlinelist">
	<li class="inlinelist-item"><a href="/blog/">Read the <strong>Blog</strong></a></li>
	<li class="inlinelist-item"><a href="https://fosstodon.org/@eleventy">Follow on <strong><i class="fa-brands fa-mastodon"></i>Mastodon</strong></a></li>
	<li class="inlinelist-item"><a href="https://bsky.app/profile/11ty.dev">Follow on <strong><i class="fa-brands fa-bluesky"></i>Bluesky</strong></a></li>
	<li class="inlinelist-item"><a href="https://buttondown.email/11ty">Subscribe to the <strong><i class="fa-solid fa-inbox"></i>Newsletter</strong></a></li>
	<li class="inlinelist-item"><a href="https://www.youtube.com/c/EleventyVideo" class="elv-externalexempt">Watch on <strong><i class="fa-brands fa-youtube"></i>YouTube</strong></a></li>
	<li class="inlinelist-item"><a href="https://github.com/11ty/eleventy" class="elv-externalexempt">Star on <strong><i class="fa-brands fa-github"></i>GitHub</strong></a></li>
	<li class="inlinelist-item"><a href="/blog/discord/">Chat on <strong><i class="fa-brands fa-discord"></i>Discord</strong></a></li>
</ul>
{% endcallout %}