<a href="https://github.com/11ty/eleventy" class="minilink">⭐ <strong>{{ github.stargazers | humanReadableNum }}</strong></a> <a href="https://github.com/11ty/eleventy"><strong>Star Eleventy on GitHub!</strong></a> This is an easy way to support our underrated project and help boost our rank on both GitHub and <a href="https://jamstack.org/generators/">jamstack.org</a>’s list of site generators.