<div class="fullwidth-module supporters-gold">
	<h3 class="subhed ta-c"><strong>Official CMS Partner</strong></h3>
	<div>
	{%- for supporter in opencollective.supporters %}{% if supporter.slug == "cloudcannon1" -%}
	{%- set nameToSlug = supporter.name | slug | lower -%}
		<div class="{% if opencollectiveExtra[nameToSlug].containerClass %} {{ opencollectiveExtra[nameToSlug].containerClass }}{% endif %}">
			<a href="{{ opencollectiveExtra[nameToSlug].href or supporter.website or supporter.profile }}" class="elv-externalexempt" data-supporters-slug="{{ nameToSlug }}" rel="sponsored">{% if opencollectiveExtra[nameToSlug].icon %}{{ opencollectiveExtra[nameToSlug].icon | safe }}<span class="sr-only">{{ supporter.name }}</span>{% else %}{% opencollectiveavatar supporter.image, supporter.name %}{{ supporter.name }}{% endif %}</a>
		</div>
	{%- endif %}{% endfor %}
	</div>
</div>

<div class="fullwidth-module supporters-gold">
	<h3 class="subhed ta-c"><strong>Gold Sponsors</strong></h3>
	<div class="lo-grid">
	{%- for supporter in opencollective.supporters %}{% if supporter.tier.slug == "gold-sponsor" and supporter.isMonthly and supporter.slug != "cloudcannon1" -%}
	{%- set nameToSlug = supporter.name | slug | lower -%}
		<div class="{% if opencollectiveExtra[nameToSlug].containerClass %} {{ opencollectiveExtra[nameToSlug].containerClass }}{% endif %}">
			<a href="{{ opencollectiveExtra[nameToSlug].href or supporter.website or supporter.profile }}" class="elv-externalexempt" data-supporters-slug="{{ nameToSlug }}" rel="sponsored">{% if opencollectiveExtra[nameToSlug].icon %}{{ opencollectiveExtra[nameToSlug].icon | safe }}<span class="sr-only">{{ supporter.name }}</span>{% else %}{% opencollectiveavatar supporter.image, supporter.name %}{{ supporter.name }}{% endif %}</a>
		</div>
	{%- endif %}{% endfor %}
	</div>
</div>

<div class="fullwidth-module">
	<is-land on:visible on:save-data="false">
		<template data-island>
			<h3 class="subhed ta-c"><strong>Supporters</strong></h3>
			<html-fetch src="/imports/supporters.html"></html-fetch>
		</template>
	</is-land>
</div>
