{% edge "liquid" %}
<form-autosubmit>
  <form action="/account/preferences/" method="post" class="formprefs">
    <input type="hidden" name="returnlocation" value="{{ eleventy.edge.path }}">
    <fieldset>
      <legend>Preferred Example Syntax</legend>
      {% assign syntax = eleventy.edge.cookies.syntax | default: "" | escape %}
      <label><input type="radio" name="syntax" value=""{% if syntax == "" %} checked{% endif %}>None</label>
      <label><input type="radio" name="syntax" value="liquid"{% if syntax == "liquid" %} checked{% endif %}>Liquid</label>
      <label><input type="radio" name="syntax" value="njk"{% if syntax == "njk" %} checked{% endif %}>Nunjucks</label>
      <label><input type="radio" name="syntax" value="js"{% if syntax == "js" %} checked{% endif %}>11ty.js</label>
      <label><input type="radio" name="syntax" value="hbs"{% if syntax == "hbs" %} checked{% endif %}>Handlebars</label>
    </fieldset>
    <button type="submit">Save</button>
  </form>
</form-autosubmit>
{% endedge %}