{% callout "info", "md-block", "Comparing WebC Attribute Data Types" -%}
1. [Attributes](#attributes-and-webcroot): HTML attribute strings.
1. [Properties](#props-(properties)): server-only private HTML attribute strings (not rendered to output).
1. [Dynamic Attributes and Properties](#dynamic-attributes-and-properties): evaluate as JavaScript (any data type, not just strings).
{% endcallout %}