.announcement {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	background-color: #111;
	font-weight: 500;
	padding: 0.25em 1em;
	text-align: center;
	line-height: 1;
}
@media (min-width: 48em) {
	/* 768px */
	.announcement {
		font-size: 1em;
		font-size: clamp(1em, 2vw, 1.25em);
	}
}
.announcement > a,
.announcement > span {
	display: inline-block;
	padding: 0.35em 0;
	text-decoration: none;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.announcement a:hover {
	text-decoration: underline;
}
.announcement,
.announcement a,
.announcement a:visited {
	color: #eee;
}
.announcement a:after {
	display: none;
}
