.announcement {
	--btn-bg: #f0f1f3;
	--btn-color: #183153;
	--btn-shadow-color: #0f1f36;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	color: #fff;
	font-weight: 600;
	padding: 0.25em 1em;
	gap: .5em;
}
@media (min-width: 48em) {
	/* 768px */
	.announcement {
		font-size: 1em;
		font-size: clamp(1em, 2vw, 1.25em);
	}
}
.announcement,
.announcement-btn {
	--btn-bg: #183153;
	--btn-color: #f0f1f3;
	--btn-shadow-color: #0f1f36;
	display: flex;
	justify-content: center;
	font-weight: 600;
}
.announcement {
	flex-wrap: wrap;
}
@media (prefers-color-scheme: dark) {
	.announcement,
	.announcement-btn {
		--btn-bg: #00a776;
		--btn-color: #f0f1f3;
		--btn-shadow-color: #165b46;
	}
}
.announcement-btn,
.announcement > a,
.announcement > span {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-wrap: wrap;
	gap: .5em;
	padding: .5em 2em;
	text-decoration: none;
	border-radius: .5em;
	margin: .25em .25em .5em .25em;
	border: .125rem solid var(--btn-shadow-color);
}
.announcement > a,
.announcement > a:visited,
.announcement > a:any-link {
	background-color: var(--btn-bg);
	color: var(--btn-color);
	box-shadow: 0 .375rem 0 var(--btn-shadow-color);
}
.announcement-btn,
.announcement-btn:visited,
.announcement-btn[href],
.announcement > a,
.announcement > a:visited,
.announcement > a:any-link {
	background-color: var(--btn-bg);
	color: var(--btn-color);
	box-shadow: 0 .375rem 0 var(--btn-shadow-color);
}
@media (max-width: 31.1875em) { /* 499px */
	.announcement > a > span > b {
		display: none;
	}
}
.announcement-btn:hover,
.announcement a:hover {
	text-decoration: underline;
}
.announcement a:after {
	display: none;
}
.announcement-btn {
	line-height: 1.6;
	margin-block: 2em;
	max-width: 28em;
	margin-inline: auto;
	text-align: center;
	white-space: normal;
}

.products .announcement svg {
	min-width: 1em;
}
/* External link opt-out */
.announcement-btn:after {
	display: none;
}
.announcement-btn svg {
	min-width: 1.5em;
	height: auto;
}
.elv-footer-wrap .announcement {
	background-color: color-mix(in oklab, var(--background-color), var(--btn-bg) 85%);
}
.announcement time-difference {
	font-size: .75em;
	text-transform: uppercase;
	padding: .25em .75em;
	border-radius: .25em;
	background-color: rgba(0,0,0,.4);
}
.announcement-progress {
	--fundraise-accent-color: var(--brand-ba);
	font-size: .75em;
	font-weight: 500;
	flex-grow: 1;
	display: flex;
	gap: .5em;
	align-items: center;
	justify-content: center;

	@media (prefers-color-scheme: dark) {
		--fundraise-accent-color: #183153;
	}

	.fa11ty-icon {
		min-width: 1em;
	}

	progress {
		flex-grow: 1;
		accent-color: var(--fundraise-accent-color);
		width: 100%;
		min-width: 5em;
		max-width: 18em;
		display: flex;
		height: 1em;
		border-radius: .125em;
		overflow: hidden;
		appearance: none;
	}
	::-webkit-progress-value {
		background: var(--fundraise-accent-color);
	}
	::-moz-progress-bar {
		background: var(--fundraise-accent-color);
	}
	::-webkit-progress-bar {
		background-color: var(--btn-color);
		box-shadow: 0 .125em .3125em rgba(0, 0, 0, 0.25) inset;
	}
}
