<div class="announcement">
	<a href="{{ config.kickstarterUrl }}">
		{% include "components/ba-balloon.svg" %}<span>Join the {{ kickstarterStats.backers }} backers of Build Awesome!</span>
		<is-land import="/js/time-difference.js" on:idle on:media="(prefers-reduced-motion: no-preference)"><time-difference live units="days" mode="strip-prefix" suffix="Left"><time datetime="{{ config.kickstarterCloseDate }}">Until May 28</time></time-difference></is-land>
		<div class="announcement-progress"><i class="fa-brands fa-kickstarter"></i> Stretch Goal: Newsletters <progress min="0" max="25000" value="{{ kickstarterStats.pledged | modulo(25000) }}"></progress></div>
	</a>
</div>