/* Warning */
.elv-callout {
	position: relative;
	line-height: 1.5;
	padding: 1.75em 1em 0.75em; /* 28px 16px 12px /16 */
	margin-left: -1rem;
	margin-right: -1rem;
	margin-bottom: 2em;
	background-color: #dff7ff;
	border: 1px dashed rgba(0,0,0,.3);
	box-shadow: 0 0 0 5px rgba(0,0,0,.14);
}
@media (min-width: 44.375em) { /* 710px */
	.elv-callout {
		border-radius: 0.3em;
	}
}
@media (prefers-color-scheme: dark) {
	.elv-callout {
		background-color: hsl(195, 100%, 12%);
	}
	.elv-callout,
	.elv-callout a {
		color: #fff;
	}
}
table .elv-callout {
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 1em;
}

.elv-callout-warn-block > :first-child:before,
.elv-callout:before {
	position: absolute;
	left: 0;
	top: 0;
	font-size: 0.8125em; /* 13px /16 */
	margin-right: .5em;
	font-weight: 800;
	color: #000;
	border-radius: .3em 0 .3em 0;
	display: inline-flex;
	align-items: center;
	padding: 0em 0.55em;
	border: 1px dashed rgba(0,0,0,.3);
	border-top: none;
	border-left: none;
}
/* The icon is only shown when `info` is explicitly defined */
.elv-callout-info:before {
	content: "INFO:";
}
.elv-callout-info:before,
.elv-callout code {
	background-color: hsl(195, 100%, 80%);
}
@media (prefers-color-scheme: dark) {
	.elv-callout-info:before,
	.elv-callout code {
		background-color: hsl(195, 100%, 22%);
	}
}
/* Error */
.elv-callout-error {
	background-color: hsl(0, 100%, 80%);
}
.elv-callout-error:before {
	content: "ERROR:";
}
.elv-callout-error:before,
.elv-callout-error code {
	background-color: hsl(0, 100%, 70%);
}
@media (prefers-color-scheme: dark) {
	.elv-callout-error {
		background-color: hsl(0, 100%, 12%);
	}
	.elv-callout-error:before,
	.elv-callout-error code {
		background-color: hsl(0, 100%, 22%);
	}
}
/* Warning */
.elv-callout-warn {
	background-color: hsl(60, 100%, 83%);
}
@media (prefers-color-scheme: dark) {
	.elv-callout-warn {
		background-color: hsl(31, 100%, 17%);
	}
}
.elv-callout-warn:before,
.elv-callout-warn-block > :first-child:before {
	content: "WARNING:";
}
.elv-callout-warn-block:before {
	display: none;
}
.elv-callout-warn-block > :first-child {
	margin-top: 0;
}
.elv-callout-warn-block > :last-child {
	margin-bottom: 0;
}

.elv-callout-warn:before,
.elv-callout-warn-block > :first-child:before,
.elv-callout-warn code {
	background-color: hsl(60, 100%, 57%);
}
@media (prefers-color-scheme: dark) {
	.elv-callout-warn:before,
	.elv-callout-warn-block > :first-child:before,
	.elv-callout-warn code {
		background-color: hsl(31, 100%, 33%)
	}
}
.elv-callout:first-child {
	margin-top: 0;
}
.elv-callout > ul:last-child,
.elv-callout > ol:last-child {
	margin-bottom: 0;
}
body > .elv-callout {
	margin-left: 0;
	margin-right: 0;
	padding: .5rem 1rem;
}
body > .elv-callout-sticky:before {
	display: none;
}
@media (min-width: 37.5em) and (min-height: 25em) { /* 600px / 400px */
	body > .elv-callout-sticky {
		position: sticky;
		top: 0;
		z-index: 2;
		box-shadow: 0 3px 0 0 rgba(0,0,0,.08);
	}
}
