/* Syntax highlighting and Code blocks */
pre {
	display: block;
	padding: 0.75rem 1rem;
	margin: 1em -1rem;
	line-height: 1.5;

	overflow-x: auto;
	font-family: Roboto Mono, Consolas, Monaco, Andale Mono, Ubuntu Mono,
		monospace;

	-moz-tab-size: 2;
	-o-tab-size: 2;
	tab-size: 2;

	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;

	background-color: #272822;
	color: #fff;
	scrollbar-color: #aaa transparent;
}

.fl > * > pre {
	margin-top: 0;
}
pre code {
	border-radius: 0;
}
pre > code {
	background-color: inherit;
	padding: 0;
	font-family: inherit;
}
pre + pre[class*="language-"] {
	margin-top: 1em;
}
pre + .note {
	font-size: 0.6666666666667em; /* 16px /24 */
	margin-top: -2.875em; /* 46px /16 */
	margin-bottom: 2.5em; /* 40px /16 */
	text-align: right;
}
@media (prefers-color-scheme: dark) {
	pre {
		background-color: #000;
		color: #fff;
	}
	pre code {
		color: unset;
	}
}
@media (min-width: 37.5em) {
	pre {
		font-size: 1em; /* 16px /16 */
	}
}
/* #2col */
@media (min-width: 41.4375em) {
	pre {
		border-radius: 0.3em;
	}
}

pre.language-11ty-output {
	border: 2px solid var(--border-color);
	background-color: inherit;
	color: inherit;
}
