/* Copy button */
:is(syntax-highlight, .syntax-highlight):has(wa-copy-button) {
	position: relative;

	wa-copy-button {
		position: absolute;
		right: -1rem;
		bottom: .25rem;
		margin: .25em;
		color: #fff;

		&::part(button) {
			transition: 300ms all;
			opacity: .75;
			background-color: rgba(0,0,0,.5);
			border-radius: .25em;
			cursor: copy;
		}
		&:is(:hover, :focus)::part(button) {
			opacity: 1;
			background-color: rgba(0,0,0,1);
		}

		&::part(success-icon) {
			color: rgb(141, 237, 141);
		}
		&::part(tooltip__body) {
			background-color: rgba(0,0,0,.94);
			border-radius: .25em;
		}
	}
}
