/* Syntax highlighting and Code blocks */
pre {
	display: block;
	padding: 0.75rem 1rem;
	margin: 1em -1rem 2em -1rem;
	line-height: 1.5;

	overflow-x: auto;
	font-size: 0.875em; /* 14px /16 */
	font-family: Roboto Mono, Consolas, Monaco, Andale Mono, Ubuntu Mono,
		monospace;

	-moz-tab-size: 2;
	-o-tab-size: 2;
	tab-size: 2;

	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;

	background-color: #272822;
	color: #fff;
}

.fl > * > pre {
	margin-top: 0;
}
pre code {
	border-radius: 0;
}
pre > code {
	background-color: inherit;
	padding: 0;
	font-family: inherit;
}
pre + pre[class*="language-"] {
	margin-top: 1em;
}
pre + .note {
	font-size: 0.6666666666667em; /* 16px /24 */
	margin-top: -2.875em; /* 46px /16 */
	margin-bottom: 2.5em; /* 40px /16 */
	text-align: right;
}
@media (prefers-color-scheme: dark) {
	pre {
		background-color: #000;
		color: #fff;
	}
	pre code {
		color: unset;
	}
}
@media (min-width: 37.5em) {
	/* 600px */
	pre {
		font-size: 1em; /* 16px /16 */
	}
}
@media (min-width: 55em) {
	/* 880px */
	pre {
		border-radius: 0.3em;
	}
}

.highlight-line {
	display: inline-block;

	/* del, ins, mark default styles */
	text-decoration: none;
	color: inherit;
}

/* allow highlighting empty lines */
.highlight-line:empty:before {
	content: " ";
}

.highlight-line {
	min-width: 100%;
}
.highlight-line .highlight-line {
	min-width: 0;
}

.highlight-line-isdir {
	color: #b0b0b0;
	background-color: #222;
}
.highlight-line-active {
	background-color: #444;
	background-color: hsla(0, 0%, 27%, 0.8);
}
.highlight-line-add {
	background-color: #45844b;
}
.highlight-line-remove {
	background-color: #902f2f;
}

[data-preprefix-cmdhomedir] .highlight-line:first-child:before {
	color: #aaa;
	content: "~ $ ";
}
[data-preprefix-eleventysample] .highlight-line:first-child:before {
	color: #aaa;
	content: "~/eleventy-sample $ ";
}

pre[class*="language-diff-"] {
	padding-left: 0;
	padding-right: 0;
}
.token.deleted {
	background-color: hsl(350deg 100% 88% / 20%);
}
.token.inserted {
	background-color: hsl(120deg 73% 75% / 20%);
}
.token.inserted:not(.prefix),
.token.deleted:not(.prefix) {
	display: block;
}
.token.prefix.unchanged,
.token.prefix.inserted,
.token.prefix.deleted {
	-webkit-user-select: none;
	user-select: none;
	margin-right: 0.5em;
	padding: 0 0.2em;
}
