.elv-community > .elv-callout:before {
	display: none;
}
.elv-community-hed {
	margin-top: 0;
}
@media (min-width: 62.5em) { /* 1000px */
  .elv-community {
    float: right;
    max-width: 40%;
    margin-left: 2em;
    margin-bottom: 2em;
  }
}