details[data-details-oneway] > summary {
	display: none;
	border: 1px solid;
	padding: .5em 1em;
	border-radius: 1em;
	box-shadow: 0 8px 6px -6px #000;
	cursor: pointer;
}
.supports-detailssummary details[data-details-oneway] > summary {
	display: block;
}
.supports-detailssummary details[data-details-oneway][open] > summary {
	display: none;
}