<div class="elv-toc" data-pagefind-ignore>
<details-force-state>
	<details open>
		<summary class="btn-primary benchnine rainbow-active rainbow-active-noanim">Menu</summary>

		{%- if eleventyNavigation -%}
			{%- set navKey = eleventyNavigation.key -%}
		{%- endif -%}
		{{ collections.sidebarNav | eleventyNavigation | eleventyNavigationToHtml({ activeKey: navKey, listClass: 'elv-toc-list', activeListItemClass: 'elv-toc-active' }) | safe }}

		{%- set comparison = comparisons | randompick %}
		{%- set comparisonTitle = "<a href='" + comparison.url + "'>Compare " + comparison.title + "</a>" %}
		{%- callout "box", "html", comparisonTitle %}
		<is-land on:visible>
		<template data-island="once">
			<link rel="stylesheet" href="/css/throbber.css">
			<script src="/js/throbber.js"></script>
		</template>
		<div><strong>Eleventy</strong> <code>{{ comparison.eleventy.readable }}</code></div>
		<text-throbber interval="1000" duration="{{ comparison.eleventy.ms }}"></text-throbber>
		<div><strong>{{ comparison.other.label }}</strong> <code>{{ comparison.other.readable }}</code></div>
		<text-throbber interval="1000" duration="{{ comparison.other.ms }}"></text-throbber>
		</is-land>
		{%- endcallout %}
	</details>
</details-force-state>
</div>
