<div class="elv-toc" data-pagefind-ignore>
<details-force-state>
	<details open>
		<summary class="btn-primary benchnine rainbow-active rainbow-active-noanim">Menu</summary>

		<p class="mt-0">
			<a href="https://www.producthunt.com/posts/eleventy-v2-0-0?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-eleventy&#0045;v2&#0045;0&#0045;0" class="elv-externalexempt"><img src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=378874&theme=dark" alt="Eleventy&#0032;v2&#0046;0&#0046;0 - A&#0032;simpler&#0032;static&#0032;site&#0032;generator&#0046; | Product Hunt" width="250" height="54" /></a>
			<span class="subhed">Today only!</span>
		</p>

		{%- if eleventyNavigation -%}
			{%- set navKey = eleventyNavigation.key -%}
		{%- endif -%}
		{{ collections.sidebarNav | eleventyNavigation | eleventyNavigationToHtml({ activeKey: navKey, listClass: 'elv-toc-list', activeListItemClass: 'elv-toc-active' }) | safe }}

		{%- callout %}
		{%- set comparison = comparisons | randompick %}
		<p><a href="{{ comparison.url }}" class="elv-externalexempt">{{ comparison.text | injectAvatars | markdown | safe }}</a></p>
		{%- endcallout %}
	</details>
</details-force-state>
</div>
