is-land--eleventy-editor:hover {
	--bg: rgba(255,255,255,.2);
	cursor: pointer;
}
is-land--eleventy-editor pre {
	position: relative;
	white-space: pre-wrap;
}
is-land--eleventy-editor pre:before {
	pointer-events: none;
	content: "Edit 📝";
	line-height: 1;
	text-transform: uppercase;
	position: absolute;
	inset: 0;
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
	padding: .75rem;
	background-color: var(--bg);
}
@media (max-width: 54.9375em) { /* 879px */
	eleventy-editor {
		--border-radius: 0;
	}
}
