/* Featured sites */
.facepile {
	--facepile-offset: 0.375em; /* 6px /16 */
	--facepile-border-size: 1px;
	--facepile-rainbow-offset: 1em;
	--facepile-avatar-size: 2.75em;
	display: flex;
	flex-wrap: wrap;
	gap: .25em 0;
	margin-top: 2em;
	margin-bottom: 3em;
	padding: 0 0 0 var(--facepile-offset);
}
.facepile > a {
	width: var(--facepile-avatar-size);
	height: var(--facepile-avatar-size);
	aspect-ratio: 1;
	margin-left: calc(-1 * var(--facepile-offset));
}

.supporters-silver .facepile {
	--facepile-avatar-size: 3.25em;
	gap: .5em;
	justify-content: center;
}
.supporters-silver .facepile a[href] {
	margin: 0;
}
.supporters-silver .facepile .avatar {
	border-radius: .25em;
	border-width: 0;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.08);
}

.facepile > a:focus,
.facepile > a:hover {
	opacity: 1;
	position: relative;
	z-index: 1;
}
.facepile .avatar {
	width: 100%;
	height: 100%;
	object-fit: contain;
	margin: 0;
	background-color: #fff;
	color: #fff;
	border: var(--facepile-border-size) solid;
}
@media (prefers-color-scheme: dark) {
	.facepile .avatar {
		background-color: #222;
		color: #222;
	}
}
.facepile .avatar,
.facepile .avatar-indieweb {
	border-radius: 50%;
}

.facepile > a:is(:focus, :hover):after {
	content: "";
	position: absolute;
	border-radius: 50%;
	z-index: -1;
	pointer-events: none;
	opacity: 0;
	left: calc(-1 * var(--facepile-rainbow-offset));
	right: calc(-1 * var(--facepile-rainbow-offset));
	top: calc(-1 * var(--facepile-rainbow-offset));
	bottom: calc(-1 * var(--facepile-rainbow-offset));
	opacity: 0.6;
	background-color: currentColor;
	background-image: linear-gradient(
		238deg,
		#ff0000,
		#ff8000,
		#ffff00,
		#80ff00,
		#00ff00,
		#00ff80,
		#00ffff,
		#0080ff,
		#0000ff,
		#8000ff,
		#ff0080
	);
	background-size: 600% 600%;
	background-position: 0 80%;
}
.facepile > a:nth-child(11n + 1):is(:focus, :hover):after {
	background-position: 0% 80%;
}
.facepile > a:nth-child(11n + 2):is(:focus, :hover):after {
	background-position: 9% 80%;
}
.facepile > a:nth-child(11n + 3):is(:focus, :hover):after {
	background-position: 18% 80%;
}
.facepile > a:nth-child(11n + 4):is(:focus, :hover):after {
	background-position: 27% 80%;
}
.facepile > a:nth-child(11n + 5):is(:focus, :hover):after {
	background-position: 36% 80%;
}
.facepile > a:nth-child(11n + 6):is(:focus, :hover):after {
	background-position: 45% 80%;
}
.facepile > a:nth-child(11n + 7):is(:focus, :hover):after {
	background-position: 54% 80%;
}
.facepile > a:nth-child(11n + 8):is(:focus, :hover):after {
	background-position: 63% 80%;
}
.facepile > a:nth-child(11n + 9):is(:focus, :hover):after {
	background-position: 72% 80%;
}
.facepile > a:nth-child(11n + 10):is(:focus, :hover):after {
	background-position: 81% 80%;
}
.facepile > a:nth-child(11n + 11):is(:focus, :hover):after {
	background-position: 90% 80%;
}

.facepile-fake .avatar {
	background-color: #eee;
}

/* Filter out duplicate and inactive gold/silvers sponsors */
.facepile-supporters [data-supporters-tier="gold-sponsor"],
.facepile-supporters [data-supporters-tier="silver-sponsor"] {
	display: none;
}

.facepile > a:has(img.avatar:not([src])) {
	display: none;
}
