label.radio-align,
input[type=radio] + label {
	vertical-align: middle;
}

.formprefs {
	display: flex;
	gap: 1em;
	font-size: 0.9375em; /* 15px /16 */
	background-color: #eee;
	padding: 0.5em 1em;
	border-radius: 0.25em;
}
footer .formprefs {
	margin-left: -1rem;
	margin-right: -1rem;
	margin-bottom: .5em;
}
.formprefs fieldset {
	border: none;
	padding-left: 0;
	padding-right: 0;
}
.formprefs legend {
	float: left;
	padding: 0;
}
.formprefs label {
	margin-left: .25em;
	font-weight: bold;
}

/* Inline defaults chooser */
.tmplsyntax {
	display: flex;
	justify-content: flex-end;
}
.tmplsyntax details,
.tmplsyntax summary {
	margin: 0;
}
.tmplsyntax-default {
	font-size: 0.8125em;
	position: relative;
}
@media (max-width: 31.1875em) { /* 499px */
	/* No room! Use the one in the footer */
	.tmplsyntax-default {
		display: none;
	}
}
.tmplsyntax-default summary {
	white-space: nowrap;
	line-height: 1.8;
	padding: 0 1em;
	margin: 0 0.1em;
	border-top: 5px solid transparent;
	font-weight: 500;
}
.tmplsyntax-default[open] summary {
	background-color: #000;
	color: #fff;
}
.tmplsyntax-default form-autosubmit {
	position: absolute;
	right: 0;
	z-index: 1;
	background-color: #fff;
	border: 2px solid #000;
	box-shadow: rgba(0, 0, 0, 0.07) 0px 16px 24px 0px, rgba(0, 0, 0, 0.06) 0px 6px 30px 0px, rgba(0, 0, 0, 0.1) 0px 8px 10px 0px;
}
.tmplsyntax legend {
	display: none;
}
.tmplsyntax label {
	display: block;
	margin: .5em .25em;
	white-space: nowrap;
}
