label.radio-align,
input[type="radio"] + label {
	vertical-align: middle;
}

.formprefs {
	padding: 0.5em;
	font-size: 0.9375em; /* 15px /16 */
	border-radius: 0.25em;
}
footer .formprefs {
	display: flex;
	gap: 1em;
	background-color: #eee;
	padding-left: 1rem;
	padding-right: 1rem;
	margin-left: -1rem;
	margin-right: -1rem;
	margin-bottom: 0.5em;
}
@media (prefers-color-scheme: dark) {
	footer .formprefs {
		background-color: #2c2c2c;
	}
}
.formprefs fieldset {
	border: none;
	padding-left: 0;
	padding-right: 0;
}
.formprefs legend {
	float: left;
	padding: 0;
}
.formprefs label {
	margin-left: 0.25em;
	font-weight: bold;
}

/* Inline defaults chooser */
.tmplsyntax {
	display: flex;
	justify-content: flex-end;
}
.tmplsyntax details,
.tmplsyntax summary {
	margin: 0;
}
.tmplsyntax-default {
	font-size: 0.8125em;
	position: relative;
}
@media (max-width: 31.1875em) {
	/* 499px */
	/* No room! Use the one in the footer */
	.tmplsyntax-default {
		display: none;
	}
}
.tmplsyntax-default summary {
	white-space: nowrap;
	line-height: 1.8;
	padding: 0 1em;
	border-top: 5px solid transparent;
}
.tmplsyntax-default[open] summary,
.tmplsyntax-default[open] .tmplsyntax-dropdown {
	background-color: #222;
	color: #fff;
}
.tmplsyntax-dropdown {
	position: absolute;
	left: 0;
	right: 0;
	z-index: 1;
	box-shadow: rgba(0, 0, 0, 0.07) 0px 16px 24px 0px,
		rgba(0, 0, 0, 0.06) 0px 6px 30px 0px, rgba(0, 0, 0, 0.1) 0px 8px 10px 0px;
}
.tmplsyntax legend {
	display: none;
}
.tmplsyntax label {
	display: block;
	margin: 0.5em 0.25em;
	white-space: nowrap;
}
