code {
	font-family: Roboto Mono, Consolas, Monaco, Andale Mono, Ubuntu Mono,
		monospace;
	-ms-word-break: break-all;
	word-break: break-word;
	-webkit-hyphens: manual;
	-moz-hyphens: manual;
	hyphens: manual;
	background-color: #efefef;
	padding-left: 4px;
	padding-right: 4px;
	border-radius: 0.15em;
}
pre[class*="language-"] code {
	background-color: inherit;
}
table code {
	-ms-word-break: normal;
	word-break: normal;
}
em code {
	font-style: normal;
}
@media (prefers-color-scheme: dark) {
	code {
		background-color: #000;
		color: #fff;
	}
}
