/* Modify content */
.investors-auth {
	display: none;
}
.is-eleventy-supporter .investors-noauth {
	display: none;
}
.is-eleventy-supporter .investors-auth {
	display: initial;
}

/* Buttons */
.investors-btn {
	padding: 0;
	margin-bottom: 4rem;
}
@media (prefers-color-scheme: dark) {
	.investors-btn {
		background-color: #222;
	}
}
.investors-btn .netlify-identity-button {
	padding: 0.5em 1em 0.4em;
	display: block;
	text-decoration: none;
	color: inherit;
}
