/* Layout component code */
/* Upstreamed to use flex-luthor https://github.com/zachleat/flex-luthor */
.fl pre {
	margin-left: 0;
	margin-right: 0;
}

/* WebC migration: This has moved in to flex-luthor.webc */
.lo-c-center {
	display: flex;
	align-items: center;
	justify-content: center;
}
.lo-c-center > .fl {
	flex-grow: 1;
}
