/* Buzzwords */
@keyframes rainbow {
	0% {
		background-position: 0% 50%;
	}
	100% {
		background-position: 100% 50%;
	}
}
.buzzword-list,
.inlinelist {
	padding: 0;
}
.inlinelist:first-child:last-child {
	margin: 0;
}
.buzzword,
.buzzword-list li,
.inlinelist-item {
	display: inline;
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;
	border-radius: .15em;
	font-size: 116%;
	white-space: normal;
	padding: 0.2em 0.5em;
	margin: 4px 4px 4px 0;
	transition: 0.15s linear outline;
}

.inlinelist-item:is(:has([aria-selected="true"]), .active) {
	background-color: #222;
	color: #fff;
	font-weight: inherit;
}
.inlinelist-item:is(:has([aria-selected="true"]), .active) :is(:link, :visited) {
	color: #fff;
}
.inlinelist-item code {
	background-color: transparent;
	font-size: 80%;
	margin-left: 6px;
	padding-left: 6px;
	display: inline-block;
	position: relative;
}
@media (max-width: 26.8125em) {
	/* 429px */
	.inlinelist-item {
		overflow: hidden;
	}
	.inlinelist-item code {
		float: right;
		line-height: 1.75;
	}
}
@media (min-width: 26.875em) {
	/* 430px */
	.inlinelist-item code {
		float: none;
	}
	.inlinelist-item code:before {
		content: " ";
		border-left: 1px solid rgba(255, 255, 255, 0.8);
		position: absolute;
		left: -2px;
		top: -2px;
		bottom: 2px;
	}
	@media (prefers-color-scheme: dark) {
		.inlinelist-item code:before {
			border-left-color: rgba(0, 0, 0, 0.8);
		}
	}
}
a.buzzword {
	text-decoration: underline;
	font-size: inherit;
}
.buzzword-list a,
.inlinelist a {
	text-decoration: none;
}
.inlinelist-item {
	font-size: 100%;
	line-height: 2;
}
@supports not (-webkit-box-decoration-break: clone) {
	.buzzword,
	.buzzword-list li,
	.inlinelist-item {
		display: inline-block;
	}
}
.buzzword-list li,
.buzzword {
	background-color: #f7f7f7;
}
@media (prefers-color-scheme: dark) {
	.buzzword-list li,
	.buzzword {
		background-color: #080808;
	}
}
.inlinelist-item {
	background-color: #e9e9e9;
}
@media (prefers-color-scheme: dark) {
	.inlinelist-item {
		background-color: #000;
	}
	.inlinelist-item a {
		color: #fff;
	}
	.inlinelist-item code {
		color: inherit;
	}
}
/* .inlinelist-item:has(> a):hover, */
.inlinelist-item:hover,
.inlinelist-item:focus,
.buzzword-list li:hover,
.buzzword-list li:focus,
.buzzword:hover,
.buzzword:focus,
.rainbow-active:hover,
.rainbow-active:focus {
	position: relative;
	background-image: linear-gradient(
		238deg,
		#ff0000,
		#ff8000,
		#ffff00,
		#80ff00,
		#00ff00,
		#00ff80,
		#00ffff,
		#0080ff,
		#0000ff,
		#8000ff,
		#ff0080
	);
	background-size: 1200% 1200%;
	background-position: 2% 80%;
	color: #fff;
	text-shadow: 0 0 2px rgba(0, 0, 0, 0.9);
	animation: rainbow 4s ease-out alternate infinite;
}
.inlinelist-item.inert {
	background-color: transparent;
	background-image: none;
	color: inherit;
	text-shadow: none;
}

.rainbow-active-noanim {
	animation: none !important;
}
.inlinelist-item:hover a,
.inlinelist-item:focus a,
.buzzword-list li:hover a,
.buzzword-list li:focus a,
a.buzzword:hover,
a.buzzword:focus,
a.rainbow-active:hover,
a.rainbow-active:focus {
	color: #fff;
	text-decoration: none;
}
@media (prefers-reduced-motion: reduce) {
	.inlinelist-item:hover,
	.inlinelist-item:focus,
	.buzzword-list li:hover,
	.buzzword-list li:focus,
	.buzzword:hover,
	.buzzword:focus,
	.rainbow-active:hover,
	.rainbow-active:focus {
		animation: none;
	}
}

.buzzword-list li:hover:after,
.buzzword-list li:focus:after,
.buzzword:hover:after,
.buzzword:focus:after {
	font-family: system-ui, sans-serif;
	content: "Buzzword alert!!!";
	position: absolute;
	left: 0;
	top: 0;
	max-width: 8em;
	color: #f00;
	font-weight: 700;
	text-transform: uppercase;
	transform: rotate(-10deg) translate(-25%, -125%);
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
	line-height: 1.2;
	pointer-events: none;
}
main h2 .buzzword,
main h3 .buzzword,
main p .buzzword {
	font-size: inherit;
	margin: 0;
	line-height: 1.444444444444; /* 26px /18 */
}
main h2 a.buzzword,
main h3 a.buzzword,
main p a.buzzword {
	text-decoration: underline;
}

/* Small viewport */
@media (max-width: 26.8125em) {
	/* 429px */
	.inlinelist-item {
		display: block;
		width: auto;
		padding: 0;
		/* line-height: 1.4; */
	}
	.inlinelist-item > * {
		display: block;
		padding: 0.2em 0.5em;
	}
}
@media (min-width: 26.875em) {
	/* 430px */
	.inlinelist-item > * {
		display: inline-block;
		white-space: nowrap;
	}
}

.numberflag {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: #dff7ff;
	border-radius: 50%;
	width: 1.75em;
	height: 1.75em;
	font-weight: 600;
}
@media (prefers-color-scheme: dark) {
	.numberflag {
		background-color: #00bcd4;
		color: #222;
	}
}
h1 .numberflag,
h2 .numberflag,
h3 .numberflag,
h4 .numberflag,
h5 .numberflag {
	width: 1.4em;
	height: 1.4em;
}
h2 .numberflag {
	position: relative;
	margin-right: 0.25em; /* 10px /40 */
}
h2 .numberflag:after {
	content: " ";
	position: absolute;
	bottom: -1px;
	left: 0;
	height: 1px;
	background-color: #fff;
	width: calc(100% + 0.4em); /* 16px /40 */
}
@media (prefers-color-scheme: dark) {
	h2 .numberflag:after {
		background-color: #222;
	}
}

/* Only top level */
.inlinelist-no-nest ul,
.inlinelist-no-nest ol {
	display: none;
}

/* Small list */
.inlinelist-sm {
	font-size: 0.6666666666667em; /* 12px /18 */
}
:where(.inlinelist-sm) .inlinelist-item {
	font-family: system-ui, sans-serif;
	font-weight: 600;
}
