.elv-header-default .elv-nav-header > .fl {
	justify-content: center;
}

.elv-nav-header > .fl {
	--fl-gap-h: .75em;
}
@media (max-width: 24.9375em) { /* 399px */
	.elv-nav-header > .fl > * {
		flex-basis: 45%;
	}
}

/* Make room for the possum */
@media (min-width: 25em) { /* 400px */
	.elv-docs .elv-nav-header > .fl {
		margin-right: 6em;
	}
}
@media (min-width: 85em) { /* 1360px */
	.elv-docs .elv-nav-header > .fl {
		margin-right: 2.5rem;
	}
}

/* Spacer */
.elv-nav-header > .fl .spacer {
	display: none;
}
@media (min-width: 53.75em) { /* 860px */
	.elv-docs .elv-nav-header > .fl .spacer {
		display: inherit;
		flex-grow: 999;
	}
}

.elv-nav-header a {
	font-weight: 600;
}
.elv-nav-header .elv-nav-light {
	font-weight: 300;
}

@media (min-width: 43.75em) { /* 700px */
	.elv-header-docs .elv-nav-header {
		float: left;
		/* adjust for logo in Safari */
		width: calc(100% - 4.303125em - 1em);
	}
}
