.newsletter-signup-hed {
	margin-top: 0;
	border: none;
	text-align: center;
}
.newsletter-signup {
	margin: 1em;
}
.newsletter-signup-form {
	display: flex;
	flex-wrap: wrap;
	gap: .5em;
	align-items: center;
	justify-content: center;
	font-size: 1.25em; /* 20px /16 */
}
.newsletter-signup-form input {
	font: inherit;
	height: 100%;
}
.newsletter-signup-form input[type="submit"],
.newsletter-signup-form button {
	/* border-radius: 1em; */
	padding-inline: 1em;
}
.newsletter-signup p {
	margin: 0;
	font-size: 0.8125em; /* 13px /16 */
	max-width: none;
}
.newsletter-signup + ul {
	text-align: center;
	font-size: 0.875em; /* 14px /16 */
	margin: 1.142857142857em; /* 16px /14 */
}
