/* Opengraph card */
.opengraph-card {
	display: inline-flex;
	flex-direction: column;
	border: 2px solid #000;
	border-radius: .5em;
	overflow: hidden;
	text-align: center;
	font-size: 1.25em; /* 20px /16 */
	font-weight: bold;
	box-shadow: 0 0 0 3px var(--shadow-color, transparent);
	opacity: .8;
}
a[href].opengraph-card:focus,
a[href].opengraph-card:hover {
	--shadow-color: rgba(234, 0, 255, 0.747);
	opacity: 1;
}
.opengraph-card span {
	display: block;
	margin: 0.5em;
}
.opengraph-card img {
	display: block;
}
