/* Popover */
details.elv-popover {
	position: relative;
}
details.elv-popover summary + * {
	position: absolute;
	z-index: 999;
	background-color: var(--background-color);
	color: var(--color);
	border: 1px solid #000;
	padding: .5rem;
	box-shadow: 0 0 0 .3rem var(--shadow-color);
}
details.elv-popover * {
	white-space: nowrap;
}
.elv-popover a {
	display: block;
	text-decoration: none;
	padding-inline: .5rem;
	margin-inline: -.5rem;
}
.elv-popover a:hover,
.elv-popover a:focus {
	background-color: #222;
	color: #fff;
}
.elv-popover a:hover code,
.elv-popover a:focus code {
	background-color: #fff;
	color: #222;
}

@media (prefers-color-scheme: dark) {
	.elv-popover a:hover,
	.elv-popover a:focus {
		background-color: #fff;
		color: #222;
	}
	.elv-popover a:hover code,
	.elv-popover a:focus code {
		background-color: #222;
		color: #fff;
	}
}
