.elv-header-default {
	overflow: hidden;
}
.elv-header-default .elv-possum {
	pointer-events: none;
	width: auto;
	height: calc((60vh - 2rem) / 1.6);
	top: 36%;
	left: 1vw;
	right: auto;
	animation-duration: 180s;
	animation-name: balloonFloat;
}

@media (prefers-reduced-motion: reduce) {
	.elv-header-default .elv-possum {
		animation-duration: 0s;
	}
}
@keyframes balloonFloat {
	from {
		transform: translate(-7vw, 30%);
	}
	to {
		transform: translate(100vw, -52%);
	}
}
