.elv-header-default .elv-nav-header {
	overflow-x: hidden;
}
.elv-header-default .elv-possum {
	--possum-top: 26%;
	pointer-events: none;
	width: auto;
	height: calc((60vh - 2rem) / 1.6);
	top: var(--possum-top);
	left: 1vw;
	right: auto;
	animation-duration: 180s;
	animation-name: balloonFloat;
}

@media (prefers-reduced-motion: reduce) {
	.elv-header-default .elv-possum {
		animation-duration: 0s;
	}
}
@keyframes balloonFloat {
	from {
		transform: translate(-7vw, var(--possum-top));
	}
	to {
		transform: translate(100vw, -52%);
	}
}
