.elv-possum-anchor {
	display: block;
}
.elv-possum {
	position: absolute;
	right: 0.5rem;
	top: 0.5rem;
	transition: 0.3s opacity ease-out;
}

.elv-header-docs .elv-possum {
	/* aspect ratio 0.51094891 */
	width: 15vw;
	height: 29.35714258vw;
	max-width: 6.25rem; /* 100px /16 */
	max-height: 12.23214274rem;
}
