<div class="products">
	<active-background>
		<div class="products-max">
			<a href="{{ config.kickstarterUrl }}" class="products-ba elv-externalexempt" data-active-background>{% include "components/ba-balloon.svg" %}{% include "components/ba-wordmark.svg" %}<span class="sr-only">Build Awesome</span></a>
			<a href="https://fontawesome.com/" class="products-fa elv-externalexempt" data-active-background><i class="fa-brands fa-font-awesome"></i><span class="sr-only">Font Awesome</span></a>
			<a href="https://webawesome.com/" class="products-wa elv-externalexempt" data-active-background><i class="fa-brands fa-web-awesome"></i><span class="sr-only">Web Awesome</span></a>
			<span class="products-spacer"></span>
			<a href="https://www.podcastawesome.com/" class="elv-externalexempt"><i class="fa-solid fa-podcast"></i><span class="sr-only">Podcast Awesome</span></a>
			<a href="https://blog.fontawesome.com/" class="elv-externalexempt"><i class="fa-solid fa-newspaper"></i><span class="sr-only">Blog Awesome</span></a>
		</div>
	</active-background>
</div>