seven-minute-tabs {
	--smt-border: #272822;
	--smt-tab-bg: #ddd;
	--smt-tab-text: #555;
	--smt-tabselected-bg: #272822;
	--smt-tabselected-text: #fff;
	display: block;
	margin-inline: -1rem;
	margin-block: 1rem;
}
@media (prefers-color-scheme: dark) {
	seven-minute-tabs {
		--smt-border: #000000;
		--smt-tab-bg: #444;
		--smt-tab-text: #ddd;
		--smt-tabselected-bg: #000000;
		--smt-tabselected-text: #fff;
	}
}
seven-minute-tabs [role="tablist"] {
	display: flex;
	flex-wrap: wrap;
	gap: .125em .25em;
	line-height: 1.8;
}
seven-minute-tabs.tabs-right [role="tablist"] {
	justify-content: flex-end;
}
seven-minute-tabs [role="tablist"].has-label {
	text-indent: 1rem;
}
seven-minute-tabs [role="tablist"]:last-child {
	margin-top: 0.5rem;
}
seven-minute-tabs [role="tab"] {
	background-color: var(--smt-tab-bg);
	color: var(--smt-tab-text);
	display: block;
	font-size: 0.9375em; /* 15px /16 */
	font-weight: 500;
	padding: .25em 1rem;
	text-decoration: none;
	flex-basis: 20em;
	flex-grow: 1;
	text-indent: 0;
}
@media (min-width: 28.125em) { /* 450px */
	seven-minute-tabs [role="tab"] {
		flex-basis: auto;
		flex-grow: 0;
		border-radius: .25em .25em 0 0;
		padding: 0 1rem;
		margin: 0;
	}
}
@media (min-width: 28.125em) and (max-width: 54.9375em) { /* 450px–879px */
	seven-minute-tabs:not(.tabs-right) [role="tablist"]:not(.has-label) [role="tab"]:first-child {
		border-top-left-radius: 0;
	}
	seven-minute-tabs.tabs-right [role="tablist"]:not(.has-label) [role="tab"]:last-child {
		border-top-right-radius: 0;
	}
}
seven-minute-tabs [role="tab"][aria-selected="true"] {
	--smt-tab-bg: var(--smt-tabselected-bg);
	--smt-tab-text: var(--smt-tabselected-text);
}

seven-minute-tabs [role="tabpanel"] {
	border: 2px solid var(--smt-border);
	padding: 1rem;
}

/* Two column */
@media (min-width: 55em) { /* 880px */
	seven-minute-tabs [role="tabpanel"] {
		border-radius: .3125rem;
	}
	seven-minute-tabs:not(.tabs-right) [role="tabpanel"] {
		border-top-left-radius: 0;
	}
	seven-minute-tabs.tabs-right [role="tabpanel"] {
		border-top-right-radius: 0;
	}
}

seven-minute-tabs.tabs-flush [role="tabpanel"] {
	padding-block: 0;
}
seven-minute-tabs:not(.tabs-flush) [role="tabpanel"] > :last-child {
	margin-block-end: 0;
}

/* Other components */
seven-minute-tabs [role="tabpanel"] pre {
	border-radius: 0;
	margin-block: 0;
}
seven-minute-tabs [role="tabpanel"] .elv-callout {
	margin-inline: 0;
}

/* Only show the first tab pre-JS */
seven-minute-tabs.tabs-firstonly:not(:defined) [role="tablist"] {
	display: none;
}
seven-minute-tabs.tabs-firstonly:not(:defined) [role="tablist"] + [role="tabpanel"] ~ * {
	display: none;
}
@media (min-width: 55em) { /* 880px */
	seven-minute-tabs.tabs-firstonly:not(:defined) [role="tabpanel"] {
		border-radius: .3125rem;
	}
}
