seven-minute-tabs {
	display: block;
	padding: 0 1rem;
	border-radius: .5rem;
	margin: 0 -1rem 1rem;
	overflow: hidden;
	border: 2px solid #111;
}
@media (prefers-color-scheme: dark) {
	seven-minute-tabs {
		border-color: #555;
	}
}
seven-minute-tabs [role="tablist"] {
	padding: 0 1rem;
	margin: 0 -1rem;
	font-size: 0.8125em; /* 13px /16 */
	line-height: 1.8;
	text-align: right;
}
seven-minute-tabs [role="tablist"]:first-child {
	margin-bottom: .5rem;
}
seven-minute-tabs [role="tablist"]:last-child {
	margin-top: .5rem;
}
seven-minute-tabs [role="tab"] {
	display: inline-block;
	font-weight: 500;
	padding: 0 .25em;
	margin: 0 .1em;
	text-decoration: none;
	border-top: 5px solid transparent;
}
seven-minute-tabs [role="tab"][aria-selected="true"] {
	border-color: #e6c304;
	background-color: #e6c30438;
}

/* Code samples in tabs */
seven-minute-tabs [role="tabpanel"] pre {
	border-radius: 0;
}
seven-minute-tabs [role="tabpanel"] pre:last-child {
	margin-bottom: 0;
}
