/* All of these styles are *optional* and not required by the component JavaScript */
/* Warning: uses CSS nesting */

seven-minute-tabs {
  --smt-active: hsl(241, 100%, 47%);
	--smt-passiveborder: hsl(0 0% 0% / .26);
  --smt-intent: rgba(0,0,0,.06);

  --smt-border-size: 0.125em; /* 2px /16 */
  --smt-passiveborder-size: 0.0625em; /* 1px /16 */
  --smt-padding-block: .125em;
  --smt-padding-inline: 1rem;
}
@media (prefers-color-scheme: dark) {
  seven-minute-tabs {
    --smt-active: hsl(241, 85%, 47%);
    --smt-passiveborder: hsl(0 100% 100% / .15);
    --smt-intent: rgba(255,255,255,.1);
  }
}

seven-minute-tabs {
	display: block;

  [role="tablist"] {
    display: flex;
    flex-wrap: wrap;
    line-height: 1.8;
    list-style: none;
    margin: 0;
    padding: 0;
    border-block: var(--smt-passiveborder-size) solid var(--smt-passiveborder);
    border-block-start-width: 0;
  }

  [role="tabpanel"] {
    padding: var(--smt-padding-inline);
  }

  [role="tab"] {
    display: flex;
    align-items: center;
    padding: var(--smt-padding-block) var(--smt-padding-inline);
    margin: 0;
    text-decoration: none;
    min-width: min-content;
    flex-basis: auto;
    flex-grow: 0;
    text-indent: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    color: inherit;
    border-block: var(--smt-border-size) solid transparent;
    border-block-start-width: 0;
  }
  [role="tab"][aria-selected="true"] {
    border-color: var(--smt-active);
  }
  [role="tab"]:is(:hover, :focus):not([aria-selected="true"]) {
    background-color: var(--smt-intent);
  }
}

/* Tabs on bottom */
seven-minute-tabs [role="tablist"]:is(:last-child) {
  border-block-start-width: var(--smt-passiveborder-size);
  border-block-end-width: 0;

  [role="tab"] {
    border-block-start-width: var(--smt-border-size);
    border-block-end-width: 0;
  }
}

/* Redesign */
seven-minute-tabs {
	--smt-active: transparent;
	--smt-passiveborder: #272822;
	--smt-passiveborder-size: 0;
	border: 2px solid;
	background-color: #f6f6f6;
	margin-block: 1em;
	margin-inline: -1rem;

	[role="tabpanel"] {
		overflow: hidden;
	}
	[role="tab"] {
		font-size: 0.9375em; /* 15px /16 */
	}
	[role="tab"][aria-selected="true"] {
		background-color: #272822;
		color: #fff;
	}
	/* tabs on bottom */
	[role="tablist"]:is(:last-child) {
		--smt-passiveborder-size: 1px;
	}
}

@media (min-width: 55em) { /* 880px */
	seven-minute-tabs {
		border-radius: .5rem;
	}
}

@media (prefers-color-scheme: dark) {
	seven-minute-tabs {
		background-color: #121212;
		border-color: #121212;

		[role="tab"][aria-selected="true"] {
			background-color: #000;
		}
	}
}

/* Flush panel to tablist */
seven-minute-tabs.tabs-flush [role="tabpanel"] {
	padding-block: 0;
}

/* Callout */
seven-minute-tabs [role="tabpanel"] .elv-callout {
	margin-inline: 0;
}

/* Visual deprecation for CommonJS */
seven-minute-tabs [data-tabs-persist="templatelang:cjs"] {
	font-size: 0.75em; /* 12px /16 */
}
seven-minute-tabs [data-tabs-persist="templatelang:cjs"]:after {
	content: "(CommonJS)";
}
seven-minute-tabs [data-tabs-persist="templatelang:js"]:after {
	content: "(ESM)";
}
/* not on demo blocks */
.elv-callout-demo seven-minute-tabs [data-tabs-persist]:after {
	content: "";
}
seven-minute-tabs :is([data-tabs-persist="templatelang:cjs"], [data-tabs-persist="templatelang:js"]):after {
	color: #999;
	margin-inline-start: .25em;
	font-size: 0.75rem; /* 12px /16 */
}

/* Syntax highlighter */
seven-minute-tabs [role=tabpanel] pre {
	border-radius: 0;
	margin-block: 0;
}
/* Min height */
seven-minute-tabs [role="tabpanel"]:has(> :is(.syntax-highlight, syntax-highlight):only-child) {
	height: var(--smt-height);
}
/* Expand height */
seven-minute-tabs[autoheight] [role="tabpanel"]:not(:has(> :is(.syntax-highlight, syntax-highlight):only-child)) {
	min-height: var(--smt-height);
}
seven-minute-tabs[autoheight] :is(.syntax-highlight, syntax-highlight):only-child,
seven-minute-tabs[autoheight] :is(.syntax-highlight, syntax-highlight):only-child > pre {
	height: 100%;
	border-radius: 0;
}
