.sites-lo-footer {
  margin-bottom: 2em;
}
.sites-perf-si {
  display: none;
}
.sites-lo > .site-top .sites-perf-si {
  display: block;
}
.sites-screenshot {
  display: block;
  border: 1px solid #ccc;
  border-radius: .4em;
  margin: .5em 0;
  width: 100%;
  height: auto;
}
@media (min-width: 30em) { /* 480px */
  .site-top {
    display: flex;
  }
  .site-top > .sites-data-container {
    flex-basis: 70%;
  }
  .site-top > .sites-screenshot-container {
    flex-basis: 30%;
    min-width: 9em;
    margin-top: 0;
    margin-left: 1em;
  }
}

.sites-perf-rank-same,
.sites-perf-rank-new,
.sites-perf-rank-pos,
.sites-perf-rank-neg {
  margin-left: .5em;
  font-style: normal;
}
.sites-perf-rank-same {
  color: #d23ed2;
  font-weight: 900;
}
.sites-perf-rank-same:before {
  content: "↔";
  line-height: 1;
}
.sites-perf-rank-new {
  font-style: italic;
  color: #e60074;
}
.sites-perf-rank-pos {
  color: green;
}
.sites-perf-rank-pos:before {
  content: "⬆";
  line-height: 1;
}
.sites-perf-rank-neg {
  color: darkred;
}
.sites-perf-rank-neg:before {
  content: "⬇";
  line-height: 1;
}


.sites-vert {
	margin-top: 2em;
  margin-bottom: 2em;
}
.elv-callout .sites-vert {
	margin-top: 1em;
	margin-bottom: 0;
}
.sites-vert .sites-screenshot {
	margin-top: 4px;
	margin-bottom: 0;
}
.sites-vert .avatar {
	margin-right: 3px;
	margin-left: 0;
}
.sites-vert > .lo-grid {
  --lo-margin-h: 1rem;
  --lo-margin-v: 2rem;
  --lo-c-minwidth: 6.666666666667em; /* 120px /18 */
	--lo-grid-repeat: auto-fill;
}
.sites-site-vert a {
	display: block;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.7777777777778em; /* 14px /18 */
}
.sites-site-vert a:focus,
.sites-site-vert a:hover {
	overflow: visible;
}
.sites-site-vert a:focus .sites-screenshot,
.sites-site-vert a:hover .sites-screenshot {
	box-shadow: 0 2px 5px 2px rgba(0,0,0,.3);
}
@media (min-width: 62.5em) { /* 1000px */
	.elv-default .sites-vert {
		width: 144%;
		margin-left: -22%;
	}
}
@media (min-width: 84em) { /* 1344px */
	.elv-default .sites-vert {
		width: 170%;
		margin-left: -35%;
	}
}
