/* Style Guide */
.elv-sg-component {
	background-color: #f9f9f9;
	border-top: 1px dotted #ddd;
	border-bottom: 1px dotted #ddd;
	margin: 2rem 0;
}
@media (prefers-color-scheme: dark) {
	.elv-sg-component {
		background-color: #222;
	}
}
.elv-sg-component:before,
.elv-sg-component:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}
.elv-sg-component:after {
	clear: both;
}
.elv-layout .elv-sg-component-full {
	margin-left: -1rem;
	margin-right: -1rem;
}
