/* Inline list of support avatars */
.supporters-tiered .facepile-supporters .supporters-active img {
	filter: grayscale(0);
}
/* Supporters Header */
.supporters-hed {
	border: none;
	border-top: 1px solid #ddd;
	text-align: center;
	flex-basis: 100%;
	margin-top: 6.666666666667em; /* 100px /15 */
	padding-top: 2em;
	margin-bottom: 1em;
}
/* Gold supporters */
.supporters-tiered {
	--fl-gap-h: 2em;
	--fl-stackpoint: 34.375em;
	margin-top: 2rem;
	margin-bottom: 2rem;
}
.supporters-tiered .subhed {
	text-align: center;
	margin-top: 2em;
	margin-bottom: 1em;
}
.supporters-tiered a[href] {
	text-decoration: none;
}
