.elv-toc {
	font-size: 1rem; /* Reset */
}
.elv-toc details {
	--details-force-closed: (max-width: 54.9375em); /* 880px - 1 */
	margin-top: 0;
}
.elv-toc details > summary {
	font-size: 1.375rem; /* 22px /16 */
	margin-bottom: 0.5em;
}
@media (min-width: 55em) {
	/* 880px */
	.elv-toc {
		position: absolute;
		left: 1rem;
		width: 13rem;
		z-index: 1;
	}
	.elv-toc details > summary {
		margin-top: 0;
	}
	details-force-state:defined > details > summary {
		display: none;
	}
}

.elv-toc-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-left: 0;
	padding-right: 0;
	margin: 0 0 2.5em;
	list-style: none;
}
.elv-toc-list li {
	font-size: 0.9375em; /* 15px /16 */
	line-height: 1.466666666667; /* 22px /15 */
}
/* Nested lists */
.elv-toc-list ul {
	padding: 0 0 0.75em 0;
	margin: 0;
	list-style: none;
}

/* Menus nested 2 or more deep */
.elv-toc-list ul ul {
	padding-bottom: 0;
	padding-left: 0.625rem; /* 10px /16 */
}
/* Hide inactive menus 3 or more deep */
.elv-toc-list ul ul > li:not(.elv-toc-active) > ul > li:not(.elv-toc-active) {
	display: none;
}

/* List items */
.elv-toc summary,
.elv-toc-list a {
	padding: 0.15em 0.25em;
	color: #1873a5;
}
@media (prefers-color-scheme: dark) {
	.elv-toc summary,
	.elv-toc-list a {
		color: #86d0fb;
	}
}
.elv-toc-list a {
	display: block;
}
.elv-toc-list a:not(:hover) {
	text-decoration: none;
}
.elv-toc-list li {
	margin: 0;
	padding: 0;
}
.elv-toc-list > li {
	flex-grow: 1;
	flex-basis: 14.375rem; /* 230px /16 */
}
/* Top level links */
.elv-toc-list > li > a {
	color: #222;
	font-weight: 600;
	border-bottom: 1px solid #ddd;
	margin-bottom: 1em;
}
.elv-toc-list > li:has(> ul) > a {
	margin-bottom: 0.25em; /* 4px /16 */
}
@media (prefers-color-scheme: dark) {
	.elv-toc-list > li > a {
		color: #fff;
		border-color: #444;
	}
}

/* Active links */
.elv-toc-list li.elv-toc-active > a {
	background-color: #dff7ff;
}
@media (prefers-color-scheme: dark) {
	.elv-toc-list li.elv-toc-active > a {
		background-color: #353535;
	}
}
.elv-toc-list ul .elv-toc-active > a:after {
	content: "";
}

/* Show only active nested lists */
.elv-toc-list ul.elv-toc-active,
.elv-toc-list li.elv-toc-active > ul {
	display: block;
}

/* Footer category navigation */
.elv-cat-list-active {
	font-weight: 600;
}

/* Wrapper around the markdown Table of contents plugin */
details.toc {
	border-radius: 0.4em;
	padding: 0.5rem 0.5rem 0 0.5rem;
	margin: 0 -0.5rem 3em -0.5rem;
}
h1 + details.toc {
	margin-top: -1.444444444444em; /* -26px /18 */
}
/* Overrides */
details.toc,
details.toc[open] {
	border: 2px solid #ccc;
	box-shadow: none;
}
details.toc[open] {
	background-color: #f7f7f7;
}
@media (prefers-color-scheme: dark) {
	details.toc[open] {
		background-color: #292929;
	}
}
details.toc:not([open]) > summary {
	margin-bottom: 0;
}

details.toc > summary {
	padding-bottom: 0.5rem;
	border-bottom: 2px dotted transparent;
}
details.toc[open] > summary {
	border-color: #ccc;
	font-weight: bold;
}

/* Markdown table of contents plugin */
.table-of-contents > ul ul {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5em 2em;
}
.table-of-contents > ul ul > li {
	padding: 0;
}
