node_modules/
_site/
package-lock.json
node-supporters/
.env
.log
.cache
cache
yarn.lock
.vscode
**/.DS_Store
_generated*
src/_data/builtwith/
netlify/functions/serverless/*
!netlify/functions/serverless/index.js
netlify/functions/dynamic/*
!netlify/functions/dynamic/index.js