{# uses codeContent #}
{% set tabid %}tab-{% uid %}{% endset %}
<is-land on:visible import="/js/seven-minute-tabs.js">
<seven-minute-tabs class="tabs-flush" persist sync autoheight>
  {% renderFile "./src/_includes/syntax-chooser-tablist.11ty.js", {id: tabid, only: "jsesm,jscjs"} %}
  <div id="{{ tabid }}-jsesm" role="tabpanel">
{%- if codeContent %}{{ codeContent | highlight("js") | safe }}{% endif %}
  </div>
  <div id="{{ tabid }}-jscjs" role="tabpanel">
{%- if codeContent %}{{ codeContent | esmToCjs | highlight("js") | safe }}{% endif %}
  </div>
</seven-minute-tabs>
</is-land>