<ul class="elv-nav elv-nav-footer lo">
	<li class="elv-nav-item lo-c">{% include "edit-on-github.njk" %}</li>
	<li class="elv-nav-item lo-c"><a href="/docs/accessibility/">Accessibility</a></li>
	<li class="elv-nav-item lo-c"><a href="/docs/account/" class="elv-externalexempt">Contributor Account</a></li>
	<li class="elv-nav-item lo-c">on <a href="https://www.netlify.com/" class="elv-externalexempt">Netlify</a></li>
	<li class="elv-nav-item lo-c">Created by <a href="https://twitter.com/zachleat" class="elv-externalexempt">{% avatarlocalcache "twitter", "zachleat" %}zachleat</a></li>
</ul>
<ul class="elv-nav elv-nav-footer lo">
	<li class="elv-nav-item elv-nav-item-sm lo-c"><a href="/styleguide/" class="elv-nav-light">Style Guide</a></li>
	<li class="elv-nav-item elv-nav-item-sm lo-c"><a href="/docs/credits/" class="elv-nav-light">Credits</a></li>
{% if github and github.stargazers %}
	<li class="elv-nav-item elv-nav-item-sm lo-c"><a href="https://github.com/11ty/eleventy/" class="elv-externalexempt elv-nav-light">{{ github.stargazers | humanReadableNum }} GitHub Stars</a></li>
{% endif %}
{% if twitter and twitter.followers %}
	<li class="elv-nav-item elv-nav-item-sm lo-c"><a href="https://twitter.com/eleven_ty/" class="elv-externalexempt elv-nav-light">{{ twitter.followers | humanReadableNum }} Twitter Followers</a></li>
{% endif %}
{% if npm and npm.downloads %}
	<li class="elv-nav-item elv-nav-item-sm lo-c"><a href="https://www.npmjs.com/package/@11ty/eleventy" class="elv-externalexempt elv-nav-light">{{ npm.downloads | humanReadableNum }} npm Downloads</a></li>
{% endif %}
{% if opencollective and opencollective.backers %}
	<li class="elv-nav-item elv-nav-item-sm lo-c"><a href="/docs/supporters/" class="elv-externalexempt elv-nav-light">{{ opencollective.monthlyBackers | humanReadableNum }} Monthly Backers</a></li>
{% endif %}
</ul>