<header>
	<a href="/" class="elv-hero"><img src="{{ "/img/logo.png" | url }}" alt="11ty"></a>
	<h1 class="elv-hed">{{ title | orphanWrap | safe }}</h1>
	<ul class="elv-nav">
{% set latestversion %}{{ pkg.devDependencies["@11ty/eleventy"] | version }}{% endset %}
{% if config.enable_docs and isDocs != true %}
		<li class="elv-nav-li"><a href="https://github.com/11ty/eleventy/blob/v{{ latestversion }}/README.md"><strong>Documentation</strong></a></li>
{% endif %}
		<li class="elv-nav-li">v{{ latestversion }}</li>
		<li class="elv-nav-li"><a href="https://github.com/11ty/eleventy/">GitHub</a></li>
		<li class="elv-nav-li"><a href="https://www.npmjs.com/org/11ty">NPM</a></li>
		<li class="elv-nav-li"><a href="https://twitter.com/eleven_ty">Twitter</a></li>
		<li class="elv-nav-li">By <a href="https://twitter.com/zachleat/">zachleat</a></li>
	</ul>
</header>