<header class="elv-layout elv-layout-full elv-header{% if headerClass %} {{ headerClass }}{% endif %}">
	<div class="announcement">
		<a href="https://blacklivesmatter.com/">#BlackLivesMatter</a>
		<a href="https://eji.org/">The Equal Justice Initiative</a>
		<a href="http://www.wetheprotesters.org/">We The Protesters</a>
		<a href="https://deletefacebook.com/">Delete Facebook</a>
	</div>

	<div class="elv-header-c">
		<a href="{% if logoLink %}{{ logoLink | url }}{% else %}/{% endif %}" class="elv-hero elv-externalexempt">{% include "../node_modules/@11ty/logo/img/logo.svg" %}<span class="sr-only">Eleventy</span></a>
		<a href="https://twitter.com/jameswillweb/status/999052022497316865" class="elv-externalexempt elv-possum-anchor" data-investors-avatar>
			<picture class="elv-possum-pic">
				<source srcset="/img/possum-balloon-original.webp" type="image/webp">
				<img src="/img/possum-balloon-original-sm.png" class="elv-possum" alt="The possum is Eleventy’s mascot" loading="lazy">
			</picture>
		</a>
		<h1 class="elv-hed">{{ title | orphanWrap | safe }}</h1>
		<div class="elv-nav-header">
			<ul class="elv-nav lo">
				<li class="elv-nav-item lo-c"><a href="{{ "/docs/" | url }}" class="elv-externalexempt nound">{% emoji "📓" %}<span class="und">Docs</span></a></li>
				<li class="elv-nav-item lo-c"><a href="/docs/how-to-support/" class="elv-externalexempt nound">{% emoji "🎁" %}<span class="und">Contribute</span></a></li>
				<li class="elv-nav-item lo-c"><a href="{{ "/docs/search/" | url }}" class="elv-nav-light nound">{% emoji "🔎" %}<span class="und">Search</span></a></li>
				<li class="elv-nav-item lo-c lo-nocontentwrap"><a href="https://github.com/11ty/eleventy/" class="elv-nav-light elv-externalexempt has-svg-icon">{% include "../img/github.svg" %}<b>GitHub</b></a></li>
				<li class="elv-nav-item lo-c lo-nocontentwrap"><a href="https://twitter.com/eleven_ty" class="elv-nav-light elv-externalexempt has-svg-icon">{% include "../img/twitter.svg" %}<b>Twitter</b></a></li>
				<li class="elv-nav-item lo-c lo-nocontentwrap"><a href="https://twitter.com/zachleat" class="elv-nav-light elv-externalexempt nound">{% avatarlocalcache "twitter", "zachleat" %}<b class="und">zachleat</b></a></li>
			</ul>
		</div>
	</div><!-- /elv-nav-header -->
</header>
