@font-face {
	font-family: BenchNine;
  src: url(css/fonts/BenchNine-Bold-subset.woff2) format("woff2"), url(css/fonts/BenchNine-Bold-subset.zopfli.woff) format("woff");
	font-weight: 700;
  font-display: swap;
  unicode-range: U+20-7E,U+2014,U+2019;
}

* {
	box-sizing: border-box;
}
body {
	font-family: sans-serif;
	max-width: 42em;
	padding: 1rem;
	margin: 0 auto;
}
header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 90vh;
	color: #222;
}
img {
	border: 0;
	max-height: 50vh;
}
a,
a:visited {
	color: #222;
}

/* Web Fonts */
.benchnine h1,
.benchnine h2,
.benchnine h3,
.benchnine h4,
.benchnine h5 {
	font-family: BenchNine;
}

/* Header */
.elv-hed {
	font-size: 3em;
	margin-top: 1.5em;
	margin-bottom: .25em;
	text-align: center;
}

/* Main */
main {
	text-align: left;
	font-size: 1.125em; /* 18px /16 */
}
main:not(:empty) {
	border-top: 1px solid #bbb;
}
main h2 {
	font-size: 1.777777777778em; /* 32px /18 */
	margin: 1em 0 .25em;
}
.benchnine main h2 {
	font-size: 2em; /* 36px /18 */
}

/* Lists */
ul {
	list-style: none;
	width: 100%;
	padding: 0;
}
li {
	padding: .25em 0;
}

/* Navigation */
@media (min-width: 28.125em ) { /* 450px */
	.elv-nav {
		width: auto;
	}
	.elv-nav-li {
		float: left;
	}
	.elv-nav-li a {
		line-height: 2;
	}
	.elv-nav-li:not(:last-child) a:not(:hover) {
		text-decoration: none;
	}
	.elv-nav-li:not(:first-child):before {
		content: "";
		border-left: 1px solid #ccc;
		padding: 0 0 0 1em;
		margin-left: 1em;
	}
}

/* Syntax highlighting and Code blocks */
pre {
	display: block;
	padding: .5em;
	margin: 1em -1rem 2em -1rem;
	overflow-x: auto;
}
pre,
code {
	font-family: Monaco, monospace;
	background-color: #eee;
}
code.terminal:before {
	content: "$ ";
	color: rgb(50, 205, 50);
}
pre + .note {
	font-size: 0.6666666666667em; /* 16px /24 */
	margin-top: -2.875em; /* 46px /16 */
	margin-bottom: 2.5em; /* 40px /16 */
	text-align: right;
}

/* Widows */
.widow {
	white-space: nowrap;
}

/* Main Content */
main li {
	color: #777;
}
main li ul {
	margin: .5em 0;
	padding-left: 1em;
}
main a[href],
main .elv-b {
	color: #222;
}