/* Screen readers only */
.sr-only {
	position: absolute;
	height: 1px;
	width: 1px; 
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}
.hide {
	display: none;
}

* {
	box-sizing: border-box;
}
body {
	font-family: system-ui, sans-serif;
	color: #222;
	margin: 0;
}
.elv-docs body {
	max-width: 76em;
	margin: 0 auto;
}
img {
	border: 0;
}
a,
a:visited,
a[href] {
	color: #222;
}
a[href].naked {
	text-decoration: none;
}

strong,
b {
	font-weight: 600;
}
hr {
	margin: 3em 0;
	border: none;
	border-top: 1px solid #ddd;
}
p {
	max-width: 42em;
	line-height: 1.5;
}

.nowrap {
	white-space: nowrap;
}
.und {
	text-decoration: underline;
}
.nound {
	text-decoration: none;
}

/* Blockquotes */
blockquote {
	font-family: Georgia, serif;
	font-size: 1.1875em; /* 19px /16 */
	color: #666;
	margin: 1.5em 0;
	padding: 0 1em;
	max-width: 31.57894736842em; /* 600px /19 */
	border-left: 6px solid #ddd;
}
blockquote + blockquote {
	margin-top: 2em;
}

.icon,
.avatar,
blockquote img {
	height: 1.3em;
	width: 1.3em;
	display: inline-block;
	vertical-align: text-top;
	margin-left: 2px;
	margin-right: 6px;
}
.avatar,
blockquote img {
	border-radius: 50%;
	background-color: #eee;
}
.icon,
.avatar {
	vertical-align: middle;
}
.avatar[alt="Bryce Wray"],
.avatar[alt^="BryceWray"] {
	border-radius: 10%;
}
ul:not(.list-bare):not(.inlinelist) > li > a > .avatar {
	width: auto;
	height: 1.111111111111em; /* 20px /18 */
	vertical-align: top;
	margin-left: 4px;
	margin-right: 4px;
}
blockquote .bio-source {
	white-space: nowrap;
}

/* Main */
main {
	font-size: 1.125em; /* 18px /16 */
}
main img {
	max-width: 100%;
}
main:not(:empty) {
	padding-bottom: 3em;
	margin-bottom: 3em;
}

/* Tables */
table {
	border-collapse: collapse;
	margin-bottom: 2em;
}
table th,
table td {
	text-align: left;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	padding: .4em;
	font-size: 0.8125em; /* 13px /16 */
	vertical-align: top;
}
table th:first-child,
table td:first-child {
	padding-left: 0;
}
table th {
	border-color: #ddd;
}
h2 + table {
	margin-top: -0.625em; /* -10px /16 */
}

@media (min-width: 37.5em) { /* 600px */
	table th,
	table td {
		padding: .4em .8em;
		font-size: 1em; /* 16px /16 */
	}
}


/* Headings */
h1,
h2,
h3,
h4,
h5,
.benchnine {
	font-family: BenchNine, system-ui, sans-serif;
}
h1 {
	font-size: 2.666666666667em; /* 48px /18 */
	margin: 0 0 .5em;
}
main .elv-toc + h1 {
	margin-top: .5em;
	line-height: 1.1;
}
main .breadcrumb + h1,
main h1:first-child,
main .elv-toc + h1 {
	border-bottom: 2px dotted #666;
}
@media (min-width: 64em) { /* 1024px */
	main .elv-toc + h1,
	main .elv-toc + h2 {
		margin-top: 0;
	}

}
h2 {
	font-size: 2.222222222222em; /* 40px /18 */
	border-bottom: 1px solid #ddd;
	margin: 1em 0 .25em;
	line-height: 1.1;
}
h3 {
	font-size: 1.666666666667em; /* 30px /18 */
	margin-bottom: .5em;
}
h4 {
	font-size: 1.444444444444em; /* 26px /18 */
	margin-bottom: .5em;
}
h5 {
	font-size: 1.277777777778em; /* 23px /18 */
	margin-bottom: .5em;
}
main h1,
main h2,
main h3,
footer h2,
footer h3 {
	text-transform: uppercase;
}
h1 code,
h2 code,
h3 code,
h4 code,
h5 code {
	font-family: inherit;
	text-transform: none;
}

/* Lists */
ul {
	padding: 0 1em;
}
li {
	padding: .25em 0;
	line-height: 1.4;
}
li ul {
	margin: .5em 0;
	padding-left: 1em;
}
li li {
	padding-top: .1em;
	padding-bottom: .1em;
}

.list-bare {
	list-style: none;
	padding: 0;
}
.list-bare-desc {
	display: block;
	font-size: 80%;
	color: #555;
	margin-bottom: 3px;
}
.list-bare-desc:last-child {
	margin-bottom: 6px;
}
.list-bare-desc-avatar {
	margin-left: 29.4px;
}


#quick-start ~ .language-text {
	border-top: 2px solid #666;
	border-bottom: 2px solid #666;
}
@media (min-width: 42em) { /* 672px */
	#quick-start ~ .language-text {
		border: 2px solid #666;
	}
}
#quick-start ~ .language-text,
#quick-start ~ .language-text code {
	background-color: #fafafa;
	color: #222;
}

/* Layout */
.elv-layout {
	padding: 1rem;
	margin: 0 auto;
	max-width: 42rem;
	clear: both;
}
footer.elv-layout {
	margin-bottom: 5em;
}
.elv-layout-full {
	max-width: none;
}
@media (min-width: 64em) { /* 1024px */
	.elv-layout-toc {
		margin-left: 15rem;
		max-width: 60rem;
		margin-right: 1rem;
		position: relative;
	}
}
/*.elv-layout-wider {
	max-width: 60rem;
}*/

/* Header */
.elv-header {
	color: #222;
	position: relative;
}
.elv-header-default {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 0;
}
.elv-header-docs:before,
.elv-header-docs:after {
	content: " ";
	display: table;
}
.elv-header-docs:after {
	clear: both;
}
/* Header Hero */
.elv-hero img {
	width: 42.95774646vh;
	height: 60vh;
	background-color: #222;
}
.elv-header-default .elv-hero {
	display: flex;
	justify-content: center;
	background: #222;
	width: calc(100% + 2rem);
	margin-left: -1rem;
	margin-right: -1rem;
}
.elv-header-docs .elv-hero {
	float: left;
	margin-right: .5em;
}
.elv-header-default .elv-hero img {
	position: relative;
	background-color: transparent;
	z-index: 1;
}
.elv-header-docs .elv-hero img {
	width: auto;
	height: 3em;
}
@media (min-width: 43.75em) { /* 700px */
	.elv-header-docs .elv-hero {
		margin-right: 1em;
	}
	.elv-header-docs .elv-hero img {
		width: 4.303125em; /* 68.85px /16 */
		height: 6em;
	}
}
/* Header Possum */
.elv-possum-anchor {
	display: block;
}
.elv-possum {
	position: absolute;
	right: .5rem;
	top: 1rem;
	transition: .3s opacity ease-out;
}
.elv-header-docs .elv-possum {
	width: 15vw;
	max-width: 6.25rem; /* 100px /16 */
}
.elv-header-default {
	overflow: hidden;
}
.elv-header-default .elv-possum {
	pointer-events: none;
	width: auto;
	height: calc((60vh - 2rem) / 1.6);
	top: 50%;
	left: -5%;
	right: auto;
	animation-duration: 180s;
	animation-name: balloonFloat;
}
@media (prefers-reduced-motion: reduce) {
	.elv-header-default .elv-possum {
		display: none;
		animation: none;
	}
}
@keyframes balloonFloat {
	from {
		top: 50%;
		left: -5%;
	}
	to {
		top: 5%;
		left: 120%;
	}
}

/* Header Heading */
.elv-hed {
	font-size: 2.625em; /* 42px /16 */
	line-height: 1.2;
	margin-top: 1.5em;
	margin-bottom: .25em;
	text-align: center;
	text-transform: none;
}
.elv-header-docs .elv-hed {
	font-size: 2.125em; /* 34px /16 */
	line-height: 1.5;
	margin: 0;
	text-align: left;
}
@media (min-width: 43.75em) { /* 700px */
	.elv-header-docs .elv-hed {
		font-size: 2.625em; /* 42px /16 */
	}
}

/* Version */
.latestversion {
	font-size: 2em;
	margin-top: 0;
}
.latestversion code {
	font-size: 0.75em; /* 24px /32 */
}
.latestversion {
	font-family: BenchNine, system-ui, sans-serif;
}
.tmpl-docs .latestversion {
	position: absolute;
	top: 1rem;
	right: 1rem;
	margin: 0;
}

/* News */
.news {
	text-align: center;
}

/* Direct Links / Markdown Headers */
.direct-link {
	font-family: sans-serif;
	text-decoration: none;
	font-style: normal;
	margin-left: .1em;
	font-weight: normal;
}
a[href].direct-link,
a[href].direct-link:visited {
	color: #949494;
	visibility: hidden;
}
a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited,
:focus > a[href].direct-link,
:focus > a[href].direct-link:visited {
	visibility: visible;
}
/* don’t use a direct link, should be a link to the page */
main .elv-toc + h1 .direct-link {
	display: none;
}

/* Style Guide */
.elv-sg-component {
	background-color: #f9f9f9;
	border-top: 1px dotted #ddd;
	border-bottom: 1px dotted #ddd;
	margin: 2rem 0;
}
.elv-sg-component:before,
.elv-sg-component:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}
.elv-sg-component:after {
	clear: both;
}

/* Language List */
.elv-langlist {
	font-size: 0.8333333333333em; /* 15px /18 */
	background-color: #f7f7f7;
	padding: .5rem;
	margin: 2em 0;
}
.elv-langlist-hed {
	margin: 0;
	display: inline;
	vertical-align: middle;
	border: none;
	font-size: 1.4em; /* 21px /15 */
}
.elv-langlist > .inlinelist {
	display: inline;
	margin-left: 1em;
}

/* Breakpoint Overrides */
@media (max-width: 37.4375em) { /* 599px */
	.bp-notsm.bp-notsm.bp-notsm.bp-notsm {
		display: none;
	}
}
@media (min-width: 37.5em) { /* 600px */
	.bp-sm.bp-sm.bp-sm.bp-sm {
		display: none ;
	}
}


/* Testimonials */
.testimonials-more {
	text-transform: uppercase;
	font-size: 0.875em; /* 14px /16 */
	line-height: 3.214285714286; /* 45px /14 */
}
.testimonials-more .avatar {
	width: 40px;
	height: 40px;
	vertical-align: middle;
}

/* Used by */
.used-by {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}
.used-by img {
	height: 75px;
	margin: 1rem .5rem;
}
.used-by img[src$="svg"] {
	padding: 1rem;
}

/* Big primary button */
.btn-form,
.btn-primary {
	cursor: pointer;
	border: 2px solid;
	font-size: 1em;
	text-align: center;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	background-color: #fff;
}
.btn-form {
	border-radius: 1em;
	padding-left: .75em;
	padding-right: .75em;
	box-shadow: 0 4px 3px -3px #000;
}
.btn-primary {
	display: block;
	border-radius: 1.5em;
	margin: 0;
	padding: .5em 1em .4em;
	box-shadow: 0 8px 6px -6px #000;
}
.btn-primary-why-are-you-doing-this {
	margin-top: 1.5em;
}
.btn-form:hover,
.btn-primary:hover {
	border-color: transparent;
	background-color: #222;
	color: #fff;
}
.btn-primary:hover {
	border-color: rgba(255,255,255,.3);
}
.btn-primary span {
	text-transform: none;
}
.btn-primary + span {
	display: block;
	text-align: center;
	margin-top: .25em;
	font-size: .75em;
}
.btn-c {
	margin-left: auto;
	margin-right: auto;
}
@media (min-width: 20em) {
	.btn-primary {
		font-size: 6vw;
	}
	.btn-primary-sm {
		font-size: 1.4em;
	}
}
@media (min-width: 28.125em) { /* 450px */
	.btn-primary-sm {
		font-size: 5.6vw;
	}
}
@media (min-width: 53.125em) { /* 850px */
	.btn-primary-sm {
		font-size: 2.666666666667em; /* 48px /18 */
	}
}
@media (min-width: 46.875em) { /* 750px */
	.btn-primary-why-are-you-doing-this {
		margin-left: calc( (90vw - 42rem) / -2 );
		width: calc(90vw - 2rem);
	}
}

/* Emoji */
.emoji {
	line-height: 1;
	vertical-align: middle;
}

/* Supported Features Tables */
@media (min-width: 43.75em) { /* 700px */
	#supported-features + table th:first-child,
	#supported-features + table td:first-child {
		min-width: 12em;
	}
}