@font-face {
	font-family: BenchNine;
  src: url(/css/fonts/BenchNine-Bold-subset.woff2) format("woff2"), url(/css/fonts/BenchNine-Bold-subset.zopfli.woff) format("woff");
	font-weight: 700;
  font-display: swap;
  unicode-range: U+20-7E,U+2014,U+2019;
}

* {
	box-sizing: border-box;
}
body {
	font-family: sans-serif;
	margin: 0;
}
header,
footer,
main {
	padding: 1rem;
}
.tmpl-docs header,
.tmpl-docs footer,
.tmpl-docs main {
	padding: 1rem 15rem 1rem 1rem;	
}
.tmpl-default header,
.tmpl-default footer,
.tmpl-default main {
	margin: 0 auto;
	max-width: 42rem;
}
header {
	color: #222;
}
.tmpl-default header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.tmpl-docs header {
	overflow: hidden;
}
.tmpl-docs header .elv-hero {
	float: left;
	margin-right: 1.5em;
}
.tmpl-docs header .elv-hed {
	margin: 0;
	text-align: left;
}
img {
	border: 0;
}
a,
a:visited {
	color: #222;
}

/* Web Fonts */
.benchnine h1,
.benchnine h2,
.benchnine h3,
.benchnine h4,
.benchnine h5 {
	font-family: BenchNine;
}

/* Header */
.elv-hed {
	font-size: 3em;
	margin-top: 1.5em;
	margin-bottom: .25em;
	text-align: center;
}
.tmpl-docs .elv-hed {
	font-size: 2.3em;
}
@media (min-width: 44.375em) { /* 710px */
	.tmpl-docs .elv-hed {
		font-size: 3em;
	}
}
/* Hero */
.elv-hero img {
	max-height: 50vh;
}
.tmpl-docs .elv-hero img {
	height: 7em;
}


/* Main */
main {
	text-align: left;
	font-size: 1.125em; /* 18px /16 */
}
main:not(:empty) {
	border-bottom: 1px solid #bbb;
	padding-bottom: 3em;
	margin-bottom: 3em;
}
main h2 {
	font-size: 1.777777777778em; /* 32px /18 */
	margin: 1em 0 .25em;
}
.benchnine main h2 {
	font-size: 2em; /* 36px /18 */
}

/* Lists */
ul {
	list-style: none;
}
ol,
ul {
	width: 100%;
	padding: 0;
}
li {
	padding: .4em 0;
}
li li {
	padding-top: .1em;
	padding-bottom: .1em;
}

/* Navigation */
@media (min-width: 31.25em) { /* 500px */
	.elv-nav {
		width: auto;
	}
	.elv-nav-li {
		float: left;
	}
	.elv-nav-li:not(:last-child) a:not(:hover) {
		text-decoration: none;
	}
	.elv-nav-li:not(:first-child):before {
		content: "";
		border-left: 1px solid #ccc;
		padding: 0 0 0 1em;
		margin-left: 1em;
	}
	.tmpl-docs .elv-nav {
		margin: 0;
	}
}

/* Syntax highlighting and Code blocks */
pre {
	display: block;
	padding: .5em;
	margin: 1em -.5em 2em -.5em;
	overflow-x: auto;
	background-color: #eee;
}
pre,
code {
	font-family: Monaco, monospace;
}
code.terminal:before {
	content: "$ ";
	color: rgb(50, 205, 50);
}
pre + .note {
	font-size: 0.6666666666667em; /* 16px /24 */
	margin-top: -2.875em; /* 46px /16 */
	margin-bottom: 2.5em; /* 40px /16 */
	text-align: right;
}

/* Widows */
.prevent-orphan {
	white-space: nowrap;
}

/* Main Content */
main li {
	color: #777;
}
main li ul {
	margin: .5em 0;
	padding-left: 1em;
}
main a[href],
main .elv-b {
	color: #222;
}

/* Version */
.latestversion {
	font-size: 2em;
	margin-top: 0;
}
.latestversion code {
	font-size: 0.75em; /* 24px /32 */
}
.benchnine .latestversion {
	font-family: BenchNine;
}
.tmpl-docs .latestversion {
	position: absolute;
	top: 1rem;
	right: 1rem;
	margin: 0;
}

/* News */
.news {
	text-align: center;
}

/* Direct Links */
.direct-link {
	position: absolute;
	height: 1px;
	width: 1px; 
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);

	font-family: sans-serif;
	text-decoration: none;
	font-style: normal;
	margin-left: .1em;
}
a[href].direct-link,
a[href].direct-link:visited {
	color: #aaa;
}
.direct-link:focus,
:hover > .direct-link,
:focus > .direct-link {
	position: static;
	height: auto;
	width: auto; 
	overflow: visible;
	clip: auto;
}