1. Display your [name and avatar on the Eleventy documentation](/docs/supporters/). Monthly supporter avatars are listed in the footer of _almost_ all documentation pages.
1. Provide access to <a href="/docs/search/">on-site documentation Search</a>!
1. No advertisements, tag managers, or third party trackers on Eleventy documentation pages. (Okay, everyone gets this)
1. Backer tier and above can join the [Eleventy Super Professional Business Network](/super-professional-business-network/).
1. <em>More to come!</em>
<!-- 1. **Future Roadmap** Access to documentation offline (Progressive Web App). -->