<div class="supporters-gold" style="--lo-margin-h: 2em">
	{%- for supporter in opencollective.supporters %}{% if supporter.tier == "Exclusive Gold Sponsor" -%}
	{%- set nameToSlug = supporter.name | slug | lower -%}
		<a href="{{ supporter.website or supporter.profile }}" class="elv-externalexempt" data-supporters-slug="{{ nameToSlug }}" rel="nofollow">{% if opencollectiveExtra[nameToSlug].icon %}{{ opencollectiveExtra[nameToSlug].icon | safe }}{% else %}{% avatarlocalcache "opencollective", nameToSlug %}{{ supporter.name }}{% endif %}</a>
		<h3 class="subhed">{% if opencollectiveExtra[nameToSlug].tierPrefix %}{{ opencollectiveExtra[nameToSlug].tierPrefix | safe }} {% endif %}<strong>Gold</strong> Sponsor for {{ supporter.createdAt | monthDiff }}</h3>
	{%- endif %}{% endfor %}
</div>

<!-- TODO some kind of aspect ratio? -->
<div data-import="/imports/supporters.html" class="facepile-fullwidth"></div>