<div class="lo sites-lo sites-lo-footer" style="--lo-stackpoint: 30em; --lo-margin-v: 2em">
{%- set combinedRanked = fastestSites | rankSortByNumericKey("rank", "accessibilityRank") %}
{%- for perf in combinedRanked | head(2) %}
{%- set site = perf.url | findSiteDataByUrl(sites) %}
	{%- set showMetadata = true %}
	{%- set showPerformanceMetadata = true %}
	{%- set showAccessibilityMetadata = true %}
	{%- set showRankOnly = true %}
	{% include "site.njk" %}
{%- endfor %}
</div>
