<is-land on:visible import="/js/seven-minute-tabs.js">
<div class="codetitle">eleventy.config.js</div>
<seven-minute-tabs class="tabs-flush">
<div role="tablist" aria-label="DIY mode chooser">
	<a href="#filter-diy-img" role="tab">Do it yourself: &lt;img&gt;</a>
	<a href="#filter-diy-picture" role="tab">Do it yourself: &lt;picture&gt;</a>
</div>
<div id="filter-diy-img" role="tabpanel">

```js
import Image from "@11ty/eleventy-img";

export default function (eleventyConfig) {
	eleventyConfig.addShortcode("image", async function (src, alt) {
		if (alt === undefined) {
			// You bet we throw an error on missing alt (alt="" works okay)
			throw new Error(`Missing \`alt\` on myImage from: ${src}`);
		}

		let metadata = await Image(src, {
			widths: [600],
			formats: ["jpeg"],
		});

		let data = metadata.jpeg[metadata.jpeg.length - 1];
		return `<img src="${data.url}" width="${data.width}" height="${data.height}" alt="${alt}" loading="lazy" decoding="async">`;
	});
};
```

</div>
<div id="filter-diy-picture" role="tabpanel">

```js
import Image from "@11ty/eleventy-img";

export default function (eleventyConfig) {
	eleventyConfig.addShortcode(
		"image",
		async function (src, alt, widths = [300, 600], sizes = "100vh") {
			if (alt === undefined) {
				// You bet we throw an error on missing alt (alt="" works okay)
				throw new Error(`Missing \`alt\` on responsiveimage from: ${src}`);
			}

			let metadata = await Image(src, {
				widths,
				formats: ["webp", "jpeg"],
			});

			let lowsrc = metadata.jpeg[0];
			let highsrc = metadata.jpeg[metadata.jpeg.length - 1];

			return `<picture>
			${Object.values(metadata)
				.map((imageFormat) => {
					return `  <source type="${
						imageFormat[0].sourceType
					}" srcset="${imageFormat
						.map((entry) => entry.srcset)
						.join(", ")}" sizes="${sizes}">`;
				})
				.join("\n")}
				<img
					src="${lowsrc.url}"
					width="${highsrc.width}"
					height="${highsrc.height}"
					alt="${alt}"
					loading="lazy"
					decoding="async">
			</picture>`;
		}
	);
};
```

</div>
</seven-minute-tabs>
</is-land>