<is-land on:visible import="/js/seven-minute-tabs.js">
<seven-minute-tabs persist sync autoheight>
  {% renderFile "./src/_includes/syntax-chooser-tablist.11ty.js", {id: "htmlbasehtmlblock"} %}
  <div id="htmlbasehtmlblock-liquid" role="tabpanel">

With path prefix set to `"/pathprefix/"`:

{% codetitle "Liquid", "Syntax" %}
{% set codeBlock %}{% raw %}
{{ '<a href="/test/">Link</a>' | transformWithHtmlBase }}
=> '<a href="/pathprefix/test/">Link</a>'

{{ '<a href="/test/">Link</a>' | transformWithHtmlBase: "http://example.com/" }}
=> '<a href="http://example.com/pathprefix/test/">Link</a>'
{% endraw %}{% endset %}
{{ codeBlock | highlight("liquid") | safe }}

Resolving relative URLs (with path prefix still at `"/pathprefix/"`):

{% codetitle "Liquid", "Syntax" %}

{% set codeBlock %}{% raw %}
On a page with URL `/my-template/`:

{{ '<a href="test/">Link</a>' | transformWithHtmlBase: "http://example.com/" }}
=> '<a href="http://example.com/pathprefix/my-template/test/">Link</a>'

Override the page URL:

{{ '<a href="test/">Link</a>' | transformWithHtmlBase: "http://example.com/", "/my-other-template/" }}
=> '<a href="http://example.com/pathprefix/my-other-template/test/">Link</a>'
{% endraw %}{% endset %}
{{ codeBlock | highlight("liquid") | safe }}
  </div>
  <div id="htmlbasehtmlblock-njk" role="tabpanel">

With path prefix set to `"/pathprefix/"`:

{% codetitle "Nunjucks", "Syntax" %}
{% set codeBlock %}{% raw %}
{{ '<a href="/test/">Link</a>' | transformWithHtmlBase }}
=> '<a href="/pathprefix/test/">Link</a>'

{{ '<a href="/test/">Link</a>' | transformWithHtmlBase("http://example.com/") }}
=> '<a href="http://example.com/pathprefix/test/">Link</a>'
{% endraw %}{% endset %}
{{ codeBlock | highlight("jinja2") | safe }}

Resolving relative URLs (with path prefix still at `"/pathprefix/"`):

{% codetitle "Nunjucks", "Syntax" %}

{% set codeBlock %}{% raw %}
On a page with URL `/my-template/`:

{{ '<a href="test/">Link</a>' | transformWithHtmlBase("http://example.com/") }}
=> '<a href="http://example.com/pathprefix/my-template/test/">Link</a>'

Override the page URL:

{{ '<a href="test/">Link</a>' | transformWithHtmlBase("http://example.com/", "/my-other-template/") }}
=> '<a href="http://example.com/pathprefix/my-other-template/test/">Link</a>'
{% endraw %}{% endset %}
{{ codeBlock | highlight("jinja2") | safe }}
  </div>
  <div id="htmlbasehtmlblock-js" role="tabpanel">

With path prefix set to `"/pathprefix/"`:

{% codetitle "11ty.js", "Syntax" %}
{% set codeBlock %}{% raw %}
export default async function () {
	return `
${await this.transformWithHtmlBase(`<a href="/test/">Link</a>`)}
=> '<a href="/pathprefix/test/">Link</a>'

${await this.transformWithHtmlBase(
	`<a href="/test/">Link</a>`,
	"http://example.com/"
)}
=> '<a href="http://example.com/pathprefix/test/">Link</a>'`;
};
{% endraw %}{% endset %}
{{ codeBlock | highlight("js") | safe }}

Resolving relative URLs (with path prefix still at `"/pathprefix/"`):

{% codetitle "11ty.js", "Syntax" %}
{% set codeBlock %}{% raw %}
export default async function () {
	return `
On a page with URL "/my-template/":

${await this.transformWithHtmlBase(
	'<a href="test/">Link</a>',
	"http://example.com/"
)}
=> '<a href="http://example.com/pathprefix/my-template/test/">Link</a>'

Override the page URL:

${await this.transformWithHtmlBase(
	'<a href="test/">Link</a>',
	"http://example.com/",
	"/my-other-template/"
)}
=> '<a href="http://example.com/pathprefix/my-other-template/test/">Link</a>''`;
};
{% endraw %}{% endset %}
{{ codeBlock | highlight("js") | safe }}
  </div>
	<div id="htmlbasehtmlblock-cjs" role="tabpanel">

With path prefix set to `"/pathprefix/"`:

{% codetitle "11ty.cjs", "Syntax" %}
{% set codeBlock %}{% raw %}
module.exports = async function () {
	return `
${await this.transformWithHtmlBase(`<a href="/test/">Link</a>`)}
=> '<a href="/pathprefix/test/">Link</a>'

${await this.transformWithHtmlBase(
	`<a href="/test/">Link</a>`,
	"http://example.com/"
)}
=> '<a href="http://example.com/pathprefix/test/">Link</a>'`;
};
{% endraw %}{% endset %}
{{ codeBlock | highlight("js") | safe }}

Resolving relative URLs (with path prefix still at `"/pathprefix/"`):

{% codetitle "11ty.cjs", "Syntax" %}
{% set codeBlock %}{% raw %}
module.exports = async function () {
	return `
On a page with URL "/my-template/":

${await this.transformWithHtmlBase(
	'<a href="test/">Link</a>',
	"http://example.com/"
)}
=> '<a href="http://example.com/pathprefix/my-template/test/">Link</a>'

Override the page URL:

${await this.transformWithHtmlBase(
	'<a href="test/">Link</a>',
	"http://example.com/",
	"/my-other-template/"
)}
=> '<a href="http://example.com/pathprefix/my-other-template/test/">Link</a>''`;
};
{% endraw %}{% endset %}
{{ codeBlock | highlight("js") | safe }}
  </div>
</seven-minute-tabs>
</is-land>