<is-land on:visible import="/js/seven-minute-tabs.js">
<seven-minute-tabs persist sync>
  {% renderFile "./src/_includes/syntax-chooser-tablist.11ty.js", {id: "htmlbase-fullurl"} %}
  <div id="htmlbase-fullurl-liquid" role="tabpanel">

With path prefix set to `"/pathprefix/"`:

{% codetitle "Liquid", "Syntax" %}

{% raw %}

```liquid
{{ "http://example.com/" | addPathPrefixToFullUrl }}
=> "http://example.com/pathprefix/"
```

{% endraw %}

  </div>
  <div id="htmlbase-fullurl-njk" role="tabpanel">

With path prefix set to `"/pathprefix/"`:

{% codetitle "Nunjucks", "Syntax" %}

{% raw %}

```njk
{{ "http://example.com/" | addPathPrefixToFullUrl }}
=> "http://example.com/pathprefix/"
```

{% endraw %}

  </div>
  <div id="htmlbase-fullurl-js" role="tabpanel">

With path prefix set to `"/pathprefix/"`:

{% codetitle "11ty.js", "Syntax" %}

{% raw %}

```js
export default function () {
	return this.addPathPrefixToFullUrl("http://example.com/");
	// "http://example.com/pathprefix/"
};
```

{% endraw %}

  </div>
	<div id="htmlbase-fullurl-cjs" role="tabpanel">

With path prefix set to `"/pathprefix/"`:

{% codetitle "11ty.cjs", "Syntax" %}

{% raw %}

```js
module.exports = function () {
	return this.addPathPrefixToFullUrl("http://example.com/");
	// "http://example.com/pathprefix/"
};
```

{% endraw %}

  </div>
</seven-minute-tabs>
</is-land>
