<is-land on:visible import="/js/seven-minute-tabs.js">
<seven-minute-tabs persist sync class="tabs-flush">
  {% renderFile "./src/_includes/syntax-chooser-tablist.11ty.js", {id: "highlightdiff", additions: "md,webc", subtractions: "hbs"} %}
  <div id="highlightdiff-md" role="tabpanel">

````
```diff-js
+function myFunction() {
   // …
-  return true;
 }
```
````

  </div>
  <div id="highlightdiff-liquid" role="tabpanel">

{% raw %}

```markdown
{% highlight diff-js %}
+function myFunction() {
   // …
-  return true;
 }
{% endhighlight %}
```

{% endraw %}

  </div>
  <div id="highlightdiff-njk" role="tabpanel">

{% raw %}

```markdown
{% highlight "diff-js" %}
+function myFunction() {
   // …
-  return true;
}
{% endhighlight %}
```

{% endraw %}

  </div>
  <div id="highlightdiff-js" role="tabpanel">

{% raw %}

```js
export default function (data) {
  let code = `
+function myFunction() {
   // …
-  return true;
 }`;

  return this.highlight("diff-js", code);
};
```

{% endraw %}

The `highlight` JavaScript function was {% addedin "Syntax Highlighter v4.0.0" %}.

  </div>
   <div id="highlightdiff-cjs" role="tabpanel">

{% raw %}

```js
module.exports = function (data) {
  let code = `
+function myFunction() {
   // …
-  return true;
 }`;

  return this.highlight("diff-js", code);
};
```

{% endraw %}

The `highlight` JavaScript function was {% addedin "Syntax Highlighter v4.0.0" %}.

  </div>
  <div id="highlightdiff-webc" role="tabpanel">

{% raw %}

```html
<!-- Requires WebC v0.6.2+ -->
<!-- Requires Syntax Highlighter v4.2.0+ -->

<syntax-highlight
  language="diff-js"
  webc:import="npm:@11ty/eleventy-plugin-syntaxhighlight"
>
+function myFunction() {
   // …
-  return true;
 }
</syntax-highlight>
```

  </div>
</seven-minute-tabs>
</is-land>