{% set tabid %}tab-{% uid %}{% endset %}
<div class="codetitle codetitle-right-md">eleventy.config.js</div>
<is-land on:visible import="/js/seven-minute-tabs.js">
<seven-minute-tabs class="tabs-flush" persist sync>
  {% renderFile "./src/_includes/syntax-chooser-tablist.11ty.js", {id: tabid, only: "jsesm,jscjs"} %}
  <div id="{{ tabid }}-jsesm" role="tabpanel">

```js
import { I18nPlugin } from "@11ty/eleventy";

export default function (eleventyConfig) {
	eleventyConfig.addPlugin(I18nPlugin);
}
```

  </div>
  <div id="{{ tabid }}-jscjs" role="tabpanel">

```js
module.exports = async function (eleventyConfig) {
	const { I18nPlugin } = await import("@11ty/eleventy");

	eleventyConfig.addPlugin(I18nPlugin);
}
```

  </div>
</seven-minute-tabs>
</is-land>