<is-land on:visible import="/js/seven-minute-tabs.js">
<seven-minute-tabs persist sync autoheight class="tabs-flush">
  {% renderFile "./src/_includes/syntax-chooser-tablist.11ty.js", {id: "localelinksrel"} %}
  <div id="localelinksrel-njk" role="tabpanel">

{% codetitle "_includes/mylayout.njk" %}
{% set codeBlock %}{% raw %}
{# `{{lang}}` must be set by you in the data cascade, see above note #}
<!doctype html>
<html lang="{{lang}}">
  <head>
    <link rel="alternate" hreflang="{{lang}}" href="{{page.url}}">
  {% for link in page.url | locale_links %}
    <link rel="alternate" hreflang="{{link.lang}}" href="https://www.11ty.dev{{link.url}}">
  {% endfor %}
{% endraw %}{% endset %}
{{ codeBlock | highlight("jinja2") | safe }}
  </div>
  <div id="localelinksrel-liquid" role="tabpanel">

{% codetitle "_includes/mylayout.njk" %}
{% set codeBlock %}{% raw %}
<!doctype html>
{% comment %} `{{lang}}` must be set by you in the data cascade, see above note {% endcomment %}
<html lang="{{lang}}">
  <head>
    <link rel="alternate" hreflang="{{lang}}" href="{{page.url}}">
{% assign links = page.url | locale_links %}
{%- for link in links %}
    <link rel="alternate" hreflang="{{link.lang}}" href="https://www.11ty.dev{{link.url}}">
{%- endfor -%}
{% endraw %}{% endset %}
{{ codeBlock | highlight("liquid") | safe }}
  </div>
  <div id="localelinksrel-js" role="tabpanel">

{% codetitle "/_includes/mylayout.11ty.js" %}
{% set codeBlock %}{% raw %}
export default function (data) {
	let links = this.locale_links(data.page.url);
	// side note: url argument is optional for current page

	// `${data.lang}` must be set by you in the data cascade, see above note
	return `
<!doctype html>
<html lang="${data.lang}">
  <head>
    <link rel="alternate" hreflang="${data.lang}" href="{{data.page.url}}">
  ${links
		.map((link) => {
			return `    <link rel="alternate" hreflang="${link.lang}" href="https://www.11ty.dev${link.url}">`;
		})
		.join("\n")}
`;
};
{% endraw %}{% endset %}
{{ codeBlock | highlight("js") | safe }}
  </div>
	<div id="localelinksrel-cjs" role="tabpanel">
{% codetitle "/_includes/mylayout.11ty.cjs" %}
{% set codeBlock %}{% raw %}
module.exports = function (data) {
	let links = this.locale_links(data.page.url);
	// side note: url argument is optional for current page

	// `${data.lang}` must be set by you in the data cascade, see above note
	return `
<!doctype html>
<html lang="${data.lang}">
  <head>
    <link rel="alternate" hreflang="${data.lang}" href="{{data.page.url}}">
  ${links
		.map((link) => {
			return `    <link rel="alternate" hreflang="${link.lang}" href="https://www.11ty.dev${link.url}">`;
		})
		.join("\n")}
`;
};
{% endraw %}{% endset %}
{{ codeBlock | highlight("js") | safe }}
  </div>
</seven-minute-tabs>
</is-land>
