{% set tabid %}tab-{% uid %}{% endset %}
<div class="codetitle codetitle-right-md">eleventy.config.js</div>
<is-land on:visible import="/js/seven-minute-tabs.js">
<seven-minute-tabs class="tabs-flush" persist sync>
  {% renderFile "./src/_includes/syntax-chooser-tablist.11ty.js", {id: tabid, only: "jsesm,jscjs"} %}
  <div id="{{ tabid }}-jsesm" role="tabpanel">

{% set codeBlock %}{% raw %}
import { I18nPlugin } from "@11ty/eleventy";

export default function (eleventyConfig) {
	eleventyConfig.addPlugin(I18nPlugin, {
		// any valid BCP 47-compatible language tag is supported
		defaultLanguage: "", // Required, this site uses "en"

		// Rename the default universal filter names
		filters: {
			// transform a URL with the current page’s locale code
			url: "locale_url",

			// find the other localized content for a specific input file
			links: "locale_links",
		},

		// When to throw errors for missing localized content files
		errorMode: "strict", // throw an error if content is missing at /en/slug
		// errorMode: "allow-fallback", // only throw an error when the content is missing at both /en/slug and /slug
		// errorMode: "never", // don’t throw errors for missing content
	});
}
{% endraw %}{% endset %}
{{ codeBlock | highlight("js") | safe }}

  </div>
  <div id="{{ tabid }}-jscjs" role="tabpanel">

{% set codeBlock %}{% raw %}
module.exports = async function (eleventyConfig) {
	const { I18nPlugin } = await import("@11ty/eleventy");

	eleventyConfig.addPlugin(I18nPlugin, {
		// any valid BCP 47-compatible language tag is supported
		defaultLanguage: "", // Required, this site uses "en"

		// Rename the default universal filter names
		filters: {
			// transform a URL with the current page’s locale code
			url: "locale_url",

			// find the other localized content for a specific input file
			links: "locale_links",
		},

		// When to throw errors for missing localized content files
		errorMode: "strict", // throw an error if content is missing at /en/slug
		// errorMode: "allow-fallback", // only throw an error when the content is missing at both /en/slug and /slug
		// errorMode: "never", // don’t throw errors for missing content
	});
}
{% endraw %}{% endset %}
{{ codeBlock | highlight("js") | safe }}

  </div>
</seven-minute-tabs>
</is-land>