<is-land on:visible import="/js/seven-minute-tabs.js">
<seven-minute-tabs persist sync class="tabs-flush">
  {% renderFile "./src/_includes/syntax-chooser-tablist.11ty.js", {id: "renderfiledata"} %}
  <div id="renderfiledata-liquid" role="tabpanel">

{% raw %}

```liquid
---
myData:
  myKey: myValue
---
{% renderFile "./_includes/blogpost.md", myData %}
```

{% endraw %}

  </div>
  <div id="renderfiledata-njk" role="tabpanel">

{% raw %}

```jinja2
---
myData:
  myKey: myValue
---
{% renderFile "./_includes/blogpost.md", myData %}
```

{% endraw %}

  </div>
  <div id="renderfiledata-js" role="tabpanel">

{% raw %}

```js
export const data = {
  myData: {
    myKey: "myValue",
  },
};
export async function render(data) {
  return await this.renderFile("./includes/blogpost.md", data.myData);
};
```

{% endraw %}

  </div>
  <div id="renderfiledata-cjs" role="tabpanel">

{% raw %}

```js
module.exports.data = {
  myData: {
    myKey: "myValue",
  },
};
module.exports.render = async function (data) {
  return await this.renderFile("./includes/blogpost.md", data.myData);
};
```

{% endraw %}

  </div>
</seven-minute-tabs>
</is-land>