<is-land on:visible import="/js/seven-minute-tabs.js">
<seven-minute-tabs persist sync class="tabs-flush">
  {% renderFile "./src/_includes/syntax-chooser-tablist.11ty.js", {id: "renderfile"} %}
  <div id="renderfile-liquid" role="tabpanel">

{% raw %}

```liquid
{% renderFile "./_includes/blogpost.md" %}
```

{% endraw %}

  </div>
  <div id="renderfile-njk" role="tabpanel">

{% raw %}

```jinja2
{% renderFile "./_includes/blogpost.md" %}
```

{% endraw %}

  </div>
  <div id="renderfile-js" role="tabpanel">

{% raw %}

```js
export default async function () {
  return await this.renderFile("./includes/blogpost.md");
};
```

{% endraw %}

  </div>
  <div id="renderfile-cjs" role="tabpanel">

{% raw %}

```js
module.exports = async function () {
  return await this.renderFile("./includes/blogpost.md");
};
```

{% endraw %}

  </div>
</seven-minute-tabs>
</is-land>