<is-land on:visible import="/js/seven-minute-tabs.js">
<seven-minute-tabs persist sync class="tabs-flush">
  {% renderFile "./src/_includes/syntax-chooser-tablist.11ty.js", {id: "rendertmplvue"} %}
  <div id="rendertmplvue-liquid" role="tabpanel">

{% raw %}

```liquid
{% renderTemplate "vue" %}
<div>
  THIS IS VUE <p v-html="hi"></p>
</div>
{% endrenderTemplate %}
```

{% endraw %}

  </div>
  <div id="rendertmplvue-njk" role="tabpanel">

{% raw %}

```jinja2
{% renderTemplate "vue" %}
<div>
  THIS IS VUE <p v-html="hi"></p>
</div>
{% endrenderTemplate %}
```

{% endraw %}

  </div>
  <div id="rendertmplvue-js" role="tabpanel">

{% raw %}

```js
export default async function () {
	return await this.renderTemplate(
		`<div>
  THIS IS VUE <p v-html="hi"></p>
</div>`,
		"vue"
	);
};
```

{% endraw %}

  </div>
  <div id="rendertmplvue-cjs" role="tabpanel">

{% raw %}

```js
module.exports = async function () {
	return await this.renderTemplate(
		`<div>
  THIS IS VUE <p v-html="hi"></p>
</div>`,
		"vue"
	);
};
```

{% endraw %}

  </div>
</seven-minute-tabs>
</is-land>