<is-land on:visible import="/js/seven-minute-tabs.js">
<seven-minute-tabs persist sync class="tabs-flush">
  {% renderFile "./src/_includes/syntax-chooser-tablist.11ty.js", {id: "renderfile"} %}
  <div id="renderfile-liquid" role="tabpanel">
{%- set codeBlock %}{% raw %}
{% renderFile "./_includes/blogpost.md" %}
{% endraw %}{%- endset %}
{{ codeBlock | highlight("liquid") | safe }}
  </div>
  <div id="renderfile-njk" role="tabpanel">
{%- set codeBlock %}{% raw %}
{% renderFile "./_includes/blogpost.md" %}
{% endraw %}{%- endset %}
{{ codeBlock | highlight("jinja2") | safe }}
  </div>
  <div id="renderfile-js" role="tabpanel">
{%- set codeBlock %}{% raw %}
export default async function () {
  return await this.renderFile("./includes/blogpost.md");
};
{% endraw %}{%- endset %}
{{ codeBlock | highlight("js") | safe }}
  </div>
  <div id="renderfile-cjs" role="tabpanel">
{%- set codeBlock %}{% raw %}
module.exports = async function () {
  return await this.renderFile("./includes/blogpost.md");
};
{% endraw %}{%- endset %}
{{ codeBlock | highlight("js") | safe }}
  </div>
</seven-minute-tabs>
</is-land>