<is-land on:visible import="/js/seven-minute-tabs.js">
<seven-minute-tabs persist sync class="tabs-flush">
  {% renderFile "./src/_includes/syntax-chooser-tablist.11ty.js", {id: "rendertmpl"} %}
  <div id="rendertmpl-liquid" role="tabpanel">
{%- set codeBlock %}{% raw %}
{% renderTemplate "md" %}
# I am a title

* I am a list
* I am a list
{% endrenderTemplate %}
{% endraw %}{%- endset %}
{{ codeBlock | highlight("liquid") | safe }}
  </div>
  <div id="rendertmpl-njk" role="tabpanel">
{%- set codeBlock %}{% raw %}
{% renderTemplate "md" %}
# I am a title

* I am a list
* I am a list
{% endrenderTemplate %}
{% endraw %}{%- endset %}
{{ codeBlock | highlight("jinja2") | safe }}
  </div>
  <div id="rendertmpl-js" role="tabpanel">
{%- set codeBlock %}{% raw %}
export default async function () {
  return await this.renderTemplate(
    `# I am a title

* I am a list
* I am a list`,
    "md"
  );
};
{% endraw %}{%- endset %}
{{ codeBlock | highlight("js") | safe }}
  </div>
  <div id="rendertmpl-cjs" role="tabpanel">
{%- set codeBlock %}{% raw %}
module.exports = async function () {
  return await this.renderTemplate(
    `# I am a title

* I am a list
* I am a list`,
    "md"
  );
};
{% endraw %}{%- endset %}
{{ codeBlock | highlight("js") | safe }}
  </div>
</seven-minute-tabs>
</is-land>