<is-land on:visible import="/js/seven-minute-tabs.js">
<seven-minute-tabs persist sync class="tabs-flush">
  {% renderFile "./src/_includes/syntax-chooser-tablist.11ty.js", {id: "rendercontent"} %}
  <div id="rendercontent-liquid" role="tabpanel">
{%- set codeBlock %}{% raw %}
---
myData:
  key: value
---
{% renderFile "./_includes/blogpost.md", myData, "njk" %}
{% endraw %}{%- endset %}
{{ codeBlock | highlight("liquid") | safe }}
  </div>
  <div id="rendercontent-njk" role="tabpanel">
{%- set codeBlock %}{% raw %}
---
myData:
  key: value
---
{% renderFile "./_includes/blogpost.md", myData, "njk" %}
{% endraw %}{%- endset %}
{{ codeBlock | highlight("jinja2") | safe }}
  </div>
  <div id="rendercontent-js" role="tabpanel">
{%- set codeBlock %}{% raw %}
export const data = {
  myData: {
    myKey: "myValue",
  },
};
export async function render(data) {
  return await this.renderFile("./includes/blogpost.md", data.myData, "njk");
};
{% endraw %}{%- endset %}
{{ codeBlock | highlight("js") | safe }}
  </div>
  <div id="rendercontent-cjs" role="tabpanel">
{%- set codeBlock %}{% raw %}
module.exports.data = {
  myData: {
    myKey: "myValue",
  },
};
module.exports.render = async function (data) {
  return await this.renderFile("./includes/blogpost.md", data.myData, "njk");
};
{% endraw %}{%- endset %}
{{ codeBlock | highlight("js") | safe }}
  </div>
</seven-minute-tabs>
</is-land>