---
layout: layouts/docs.njk
overrideCommunityLinks: true
---
<h1>{{ eleventyNavigation.key }}{% if addedInVersion %}{% addedin addedInVersion%}{% endif %}</h1>

<div class="elv-langlist">
<h2 class="elv-langlist-hed">Template Languages:</h2>
{% templatelangs templatetypes, page %}
</div>

{%- if communityLinks or communityLinksKey %}
<div class="elv-community" id="community-resources">
  {%- include "community-contributed.njk" -%}
</div>
{%- endif %}

{{ content | safe }}
