---
layout: layouts/docs.njk
---
{% css %}
/* Language List */
.elv-langlist {
	font-size: 0.8333333333333em; /* 15px /18 */
	background-color: #f7f7f7;
	padding: .5rem;
	margin: 2em 0;
}
@media (prefers-color-scheme: dark) {
	.elv-langlist {
		background-color: #080808;
	}
}
.elv-langlist-hed {
	margin: 0;
	border: none;
	font-weight: 700;
}
.elv-langlist > .inlinelist {
	display: inline;
	margin-left: 1em;
}
.elv-langlist-logo {
	max-width: 200px;
}
{% endcss %}

<h1>{{ eleventyNavigation.key }}{% if addedInVersion %}{% addedin addedInVersion%}{% endif %}</h1>

{% if logoImage %}
<p><img src="{{ logoImage }}" alt="Logo for {{ eleventyNavigation.key }}" eleventy:widths="200,400" class="elv-langlist-logo" sizes="200px"></p>
{% endif %}

{{ content | safe }}