---
layout: layouts/base.njk
headerClass: elv-header-default
---
{% include "header.njk" %}

{% if config.outdated -%}
<div class="elv-callout-sticky">{% callout "warn" %}This is an <strong>older version of Eleventy</strong>. Go to the <a href="https://www.11ty.dev/docs/">newest Eleventy docs</a> (current path: <a href="https://www.11ty.dev{{ page.url }}"><code>{{ page.url }}</code></a>) or the <a href="https://www.11ty.dev/docs/versions/">full release history</a>.{% endcallout %}</div>
{% endif -%}
{% if config.prerelease -%}
<div class="elv-callout-sticky">{% callout "info" %}This documentation is for an upcoming version of Eleventy. Go to the <a href="https://www.11ty.dev/docs/">latest stable version of Eleventy docs</a> or check out the <a href="https://www.11ty.dev/docs/versions/">full release history.</a>{% endcallout %}</div>
{% endif -%}

<main class="elv-layout elv-layout-toc" {% if not excludeFromSearch %} data-pagefind-body{% endif %}>
	{% include "components/docs-toc.njk" %}

	<div id="skip-content">{{ content | safe }}</div>
</main>

<footer class="elv-footer elv-layout elv-layout-toc">
{% if ignoreSupporters %}{% else %}
	{% include "supporters.njk" %}
{% endif %}
{%- if ignoreGitHubButtons %}{% else %}
	{% callout %}
		{% include "star-on-github.njk" %}
	{% endcallout %}
{%- endif %}

	{% include "footer-nav.njk" %}
</footer>
