---
permalink: js/eleventy.js
eleventyExcludeFromCollections: true
---
{% set js %}
{% include "../../node_modules/@11ty/is-land/is-land.js" %}

{% include "components/html-fetch.js" %}
{% include "components/active-background.js" %}
{% include "../../node_modules/@zachleat/heading-anchors/heading-anchors.js" %}
{% include "../../node_modules/@zachleat/details-utils/details-utils.js" %}

{% include "components/search.js" %}
{% endset %}
{{ js | jsmin | safe }}