{%- set tabid = "perengine" %}
<div class="codetitle codetitle-right-md">eleventy.config.js</div>
<is-land on:visible import="/js/seven-minute-tabs.js">
<seven-minute-tabs class="tabs-flush" persist sync>
  {% renderFile "./src/_includes/syntax-chooser-tablist.11ty.js", {id: tabid, only: "jsesm,jscjs"} %}
  <div id="{{ tabid }}-jsesm" role="tabpanel">

```js
export default function (eleventyConfig) {
	// Liquid Filter (async-friendly)
  eleventyConfig.addLiquidFilter("myFilter", async function(value) { … });

  // Nunjucks Filter
  eleventyConfig.addNunjucksFilter("myFilter", function(value) { … });

  // Nunjucks Async Filter
  // Read the Nunjucks docs before using this (link below)
  eleventyConfig.addNunjucksAsyncFilter("myFilter", function() { … });

  // Handlebars Filter (no async support)
  eleventyConfig.addHandlebarsHelper("myFilter", function(value) { … });

  // JavaScript Template Function (async-friendly)
  eleventyConfig.addJavaScriptFunction("myFilter", async function(value) { … });
};
```

  </div>
  <div id="{{ tabid }}-jscjs" role="tabpanel">

```js
module.exports = function (eleventyConfig) {
	// Liquid Filter (async-friendly)
  eleventyConfig.addLiquidFilter("myFilter", async function(value) { … });

  // Nunjucks Filter
  eleventyConfig.addNunjucksFilter("myFilter", function(value) { … });

  // Nunjucks Async Filter
  // Read the Nunjucks docs before using this (link below)
  eleventyConfig.addNunjucksAsyncFilter("myFilter", function() { … });

  // Handlebars Filter (no async support)
  eleventyConfig.addHandlebarsHelper("myFilter", function(value) { … });

  // JavaScript Template Function (async-friendly)
  eleventyConfig.addJavaScriptFunction("myFilter", async function(value) { … });
};
```

  </div>
</seven-minute-tabs>
</is-land>