{%- set tabid = "configintro" %}
<is-land on:visible import="/js/seven-minute-tabs.js">
<seven-minute-tabs persist sync>
  {% renderFile "./src/_includes/syntax-chooser-tablist.11ty.js", {id: tabid, only: "jscjs,jsesm"} %}
  <div id="{{ tabid }}-jscjs" role="tabpanel">

{% codetitle ".eleventy.js" %}

```js
module.exports = function(eleventyConfig) {
  // Return your Object options:
  return {
    dir: {
      input: "views",
      output: "dist"
    }
  }
};
```

  </div>
  <div id="{{ tabid }}-jsesm" role="tabpanel">

<!-- {% addedin "v3.0.0" %} -->

{% codetitle ".eleventy.js" %}

```js
// ESM syntax (e.g. `export default`) is supported in Eleventy v3.0+
export default function(eleventyConfig) {
  // Return your Object options:
  return {
    dir: {
      input: "views",
      output: "dist"
    }
  }
};
```

  </div>
</seven-minute-tabs>
</is-land>