---
eleventyNavigation:
  parent: Supporting Eleventy
  key: Eleventy Authors
  order: 4
layout: layouts/docs.njk
---
<h1>Eleventy Authors</h1>

<p>×{{ authors | length }} unique authors.</p>

<table class="authors-list">
	<tbody>
{%- for author in sites | topAuthors %}
		<tr>
			<td><a href="/authors/{{ author.name | slug }}/">{% avatarlocalcache "twitter", author.name %}{{ author.name }}</a></td>
			<td>×{{ author.count }} site{% if author.count !== 1 %}s{% endif %}</td>
		</tr>
{%- endfor %}
	</tbody>
</table>