.announcement {
	display: block;
	background-color: #111;
	font-weight: bold;
	padding: .5em 1em;
	text-align: center;
	line-height: 1.4;
}
.announcement > a {
	white-space: nowrap;
}
.announcement,
.announcement > a,
.announcement > a:visited {
	color: #eee;
}
.announcement > a:not(:first-child) {
	margin-left: 1em;
}

