.announcement {
	display: block;
	width: 100%;
	background-color: #111;
	font-size: 0.75em; /* 12px /16 */
	font-weight: 500;
	padding: .25em 1em;
	text-align: center;
	width: calc(100% + 2rem);
	margin-left: -1rem;
	margin-right: -1rem;
}
@media (min-width: 48em) { /* 768px */
	.announcement {
		font-size: 0.875em; /* 14px /16 */
		font-size: clamp(0.875em, 1.8vw, 1.25em);
	}
}
.announcement-lo {
	--lo-margin-h: 2em;
	--lo-margin-v: .5em;
	--lo-stackpoint: 25em; /* 400px /16 */
	display: inline-flex;
}
.announcement a {
	display: inline-block;
	white-space: nowrap;
	padding: .35em 0;
	text-decoration: none;
}
.announcement a:hover {
	text-decoration: underline;
}
.announcement,
.announcement a,
.announcement a:visited {
	color: #eee;
}
.announcement a:after {
	display: none;
}
.announcement-close {
	background-color: rgba(255,255,255,.04);
	border: none;
	color: inherit;
	font-size: 0.75em; /* 12px /16 */
	font-weight: 100;
	flex-grow: 999;
	padding-top: .5em;
	padding-bottom: .5em;
	text-transform: uppercase;
	letter-spacing: .5px;
}
.announcement-close:hover,
.announcement-close:focus {
	background-color: rgba(255,255,255,.1);
}
