/* Syntax highlighting and Code blocks */
pre {
	display: block;
	padding: .75rem 1rem;
	margin: 1em -1rem 2em -1rem;
	line-height: 1.5;

	overflow-x: auto;
	background-color: #eee;
	font-size: 0.875em; /* 14px /16 */
	-moz-tab-size: 2;
	-o-tab-size: 2;
	tab-size: 2;

	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;

	background-color: #272822;
	color: #fff;
}
pre,
code {
	font-family: Roboto Mono, Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
}
code {
	-ms-word-break: break-all;
	word-break: break-word;
	-webkit-hyphens: manual;
	-moz-hyphens: manual;
	hyphens: manual;
	background-color: #efefef;
	padding-left: 4px;
	padding-right: 4px;
	border-radius: .15em;
}
table code {
	-ms-word-break: normal;
	word-break: normal;
}
.lo-c > pre {
	margin-top: 0;
}
em code {
	font-style: normal;
}
pre code {
	border-radius: 0;
}
pre > code {
	background-color: transparent;
	padding: 0;
}
pre + pre[class*="language-"] {
	margin-top: 1em;
}
pre + .note {
	font-size: 0.6666666666667em; /* 16px /24 */
	margin-top: -2.875em; /* 46px /16 */
	margin-bottom: 2.5em; /* 40px /16 */
	text-align: right;
}
@media (prefers-color-scheme: dark) {
  pre {
    border: 2px solid #bbb;
  }
  code {
    color: #222;
  }
  pre code {
    color: unset;
  }
}
@media (min-width: 37.5em) { /* 600px */
	pre {
		font-size: 1em; /* 16px /16 */
	}
}
@media (min-width: 44.375em) { /* 710px */
	pre {
		border-radius: 0.3em;
	}
}


.highlight-line {
  display: inline-block;

  /* del, ins, mark default styles */
  text-decoration: none;
  color: inherit;
}

/* allow highlighting empty lines */
.highlight-line:empty:before {
  content: " ";
}

.highlight-line {
	min-width: 100%;
}
.highlight-line .highlight-line {
	min-width: 0;
}

.highlight-line-isdir {
  color: #b0b0b0;
  background-color: #222;
}
.highlight-line-active {
  background-color: #444;
  background-color: hsla(0, 0%, 27%, .8);
}
.highlight-line-add {
  background-color: #45844b;
}
.highlight-line-remove {
  background-color: #902f2f;
}


[data-preprefix-cmdhomedir="all"] .highlight-line:before,
[data-preprefix-cmdhomedir="last"] .highlight-line:last-child:before,
[data-preprefix-cmdhomedir="first"] .highlight-line:first-child:before,
[data-preprefix-cmdhomedir="odd"] .highlight-line:nth-child(4n+3):before {
	color: #aaa;
	content: "~ $ ";
}
[data-preprefix-eleventysample="all"] .highlight-line:before,
[data-preprefix-eleventysample="last"] .highlight-line:last-child:before,
[data-preprefix-eleventysample="first"] .highlight-line:first-child:before {
	color: #aaa;
	content: "~/eleventy-sample $ ";
}

/*#localinstall:checked ~ .globalinstall {
	display: none;
}
#globalinstall:checked ~ .localinstall {
	display: none;
}*/
