.elv-community {
	font-size: 0.8888888888889em; /* 16px /18 */
	background-color: #eee;
	padding: 0.5em 1em;
	margin-left: -1rem;
	margin-right: -1rem;
}
@media (prefers-color-scheme: dark) {
  .elv-community,
  .elv-community a {
    color: #222;
  }
}
.elv-community-hed {
	margin-top: 0;
}
