<div class="elv-toc">
<h2 class="elv-toc-hed">Contents</h2>

<ul class="elv-toc-list">
{% for navpage in collections.docs -%}
<li{% if page.url == navpage.data.page.url %} class="elv-toc-active"{% endif %}><a href="{{ navpage.data.page.url }}">{{ navpage.data.subtitle }}</a>
{%- if navpage.data.sectionName %}
<ul>
{%- for section in collections[navpage.data.sectionName] -%}
<li{% if page.url == section.data.page.url %} class="elv-toc-active"{% endif %}><a href="{{ section.data.page.url }}">{{ section.data.subtitle }}</a></li>
{% endfor -%}</li>
</ul>
{% endif -%}
</li>
{% endfor -%}
</ul>
</div>