/* External links */
main a[href^="http://"]:not(.minilink),
main a[href^="https://"]:not(.minilink), 
main a[href^="//"]:not(.minilink) {
	text-decoration-color: #00bcd4;
}
main a[href^="http://"]:not(.minilink):after,
main a[href^="https://"]:not(.minilink):after, 
main a[href^="//"]:not(.minilink):after {
  content: "↗";
	font-family: system-ui, sans-serif;
  font-style: normal;
  font-weight: 900;
	color: #00bcd4;
	padding-left: 2px;
	line-height: .75;
}
/* External link hovers */
main a[href^="http://"]:not(.minilink):hover,
main a[href^="https://"]:not(.minilink):hover, 
main a[href^="//"]:not(.minilink):hover {
	text-decoration-color: inherit;
}
main a[href^="http://"]:not(.minilink):hover:after,
main a[href^="https://"]:not(.minilink):hover:after, 
main a[href^="//"]:not(.minilink):hover:after {
	color: inherit;
}