/* Featured sites */
.facepile {
	margin: 2em auto 3em;
	line-height: 2;
	padding: 0 0 0 25px;
}
.facepile-block {
	display: inline;
}
.facepile-block > a,
.facepile > a {
	display: inline-block;
	margin-left: -25px;
	transition: opacity .3s;
	opacity: .9;
}
.facepile-block > a:focus,
.facepile-block > a:hover,
.facepile > a:focus,
.facepile > a:hover {
	opacity: 1;
	position: relative;
	z-index: 1;
}
.facepile .avatar {
	width: 30px;
	height: 30px;
	width: calc(30px + 5vw);
	height: calc(30px + 5vw);
	max-width: 60px;
	max-height: 60px;
	margin-bottom: 6px;
	color: #fff;
	border: 2px solid;
	transition: border .3s;
	object-fit: cover;
}
.elv-docs .facepile-supporters .avatar {
	width: calc(30px + 2vw);
	height: calc(30px + 2vw);
}
.facepile-block > a:after,
.facepile > a:after {
	content: "";
	position: absolute;
	border-radius: 50%;
	z-index: -1;
	pointer-events: none;
	opacity: 0;
}
.facepile-block > a:focus:after,
.facepile-block > a:hover:after,
.facepile > a:focus:after,
.facepile > a:hover:after {
	left: -24px; /* Right - 4px */
	right: -20px;
	top: -24px; /* Right - 4px */
	bottom: -20px;
	opacity: .6;
	background-color: currentColor;
	background-image: linear-gradient(238deg, #ff0000, #ff8000, #ffff00, #80ff00, #00ff00, #00ff80, #00ffff, #0080ff, #0000ff, #8000ff, #ff0080);
	background-size: 1200% 1200%;
	background-position: 0 80%;
}
.facepile-block > a:nth-child(11n+1):focus:after,
.facepile-block > a:nth-child(11n+1):hover:after,
.facepile > a:nth-child(11n+1):focus:after,
.facepile > a:nth-child(11n+1):hover:after {
	background-position: 0% 80%;
}
.facepile-block > a:nth-child(11n+2):focus:after,
.facepile-block > a:nth-child(11n+2):hover:after,
.facepile > a:nth-child(11n+2):focus:after,
.facepile > a:nth-child(11n+2):hover:after {
	background-position: 9% 80%;
}
.facepile-block > a:nth-child(11n+3):focus:after,
.facepile-block > a:nth-child(11n+3):hover:after,
.facepile > a:nth-child(11n+3):focus:after,
.facepile > a:nth-child(11n+3):hover:after {
	background-position: 18% 80%;
}
.facepile-block > a:nth-child(11n+4):focus:after,
.facepile-block > a:nth-child(11n+4):hover:after,
.facepile > a:nth-child(11n+4):focus:after,
.facepile > a:nth-child(11n+4):hover:after {
	background-position: 27% 80%;
}
.facepile-block > a:nth-child(11n+5):focus:after,
.facepile-block > a:nth-child(11n+5):hover:after,
.facepile > a:nth-child(11n+5):focus:after,
.facepile > a:nth-child(11n+5):hover:after {
	background-position: 36% 80%;
}
.facepile-block > a:nth-child(11n+6):focus:after,
.facepile-block > a:nth-child(11n+6):hover:after,
.facepile > a:nth-child(11n+6):focus:after,
.facepile > a:nth-child(11n+6):hover:after {
	background-position: 45% 80%;
}
.facepile-block > a:nth-child(11n+7):focus:after,
.facepile-block > a:nth-child(11n+7):hover:after,
.facepile > a:nth-child(11n+7):focus:after,
.facepile > a:nth-child(11n+7):hover:after {
	background-position: 54% 80%;
}
.facepile-block > a:nth-child(11n+8):focus:after,
.facepile-block > a:nth-child(11n+8):hover:after,
.facepile > a:nth-child(11n+8):focus:after,
.facepile > a:nth-child(11n+8):hover:after {
	background-position: 63% 80%;
}
.facepile-block > a:nth-child(11n+9):focus:after,
.facepile-block > a:nth-child(11n+9):hover:after,
.facepile > a:nth-child(11n+9):focus:after,
.facepile > a:nth-child(11n+9):hover:after {
	background-position: 72% 80%;
}
.facepile-block > a:nth-child(11n+10):focus:after,
.facepile-block > a:nth-child(11n+10):hover:after,
.facepile > a:nth-child(11n+10):focus:after,
.facepile > a:nth-child(11n+10):hover:after {
	background-position: 81% 80%;
}
.facepile-block > a:nth-child(11n+11):focus:after,
.facepile-block > a:nth-child(11n+11):hover:after,
.facepile > a:nth-child(11n+11):focus:after,
.facepile > a:nth-child(11n+11):hover:after {
	background-position: 90% 80%;
}


@media (min-width: 62.5em) { /* 1000px */
	.elv-default .facepile-fullwidth {
		width: 146%;
		margin-left: -22%;
	}
}
@media (min-width: 84em) { /* 1344px */
	.elv-default .facepile-fullwidth {
		width: 200%;
		margin-left: -50%;
	}
}