/* Layout component code */
.lo {
  /* The custom properties should not inherit from parent layouts */
  --lo-stackpoint: initial;
  --lo-margin-h: 0px;
  --lo-margin-v: 0px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: calc(-1 * var(--lo-margin-v));
  margin-left: calc(-1 * var(--lo-margin-h));
}
.lo-c {
  /* if a margin is in play, account for this in our stackpoint calculations */
  /* notably this will also work if a stackpoint is not used. */
  --lo-margin-mod: calc( var(--lo-stackpoint, -1 * var(--lo-margin-h)) - var(--lo-stackpoint, 0px) + var(--lo-margin-h) );
  --lo-stackpoint-calc: calc( ( var(--lo-stackpoint, 100%) - 100% + var(--lo-margin-mod) ) * 999);

  flex-grow: 1;
  flex-basis: var(--lo-stackpoint-calc);
  margin: 0;
  margin-top: var(--lo-margin-v);
  margin-left: var(--lo-margin-h);
}
.lo-debug > .lo-c {
  outline: 1px dotted;
}
.lo-inline > .lo-c {
  flex-grow: 0;
}
.lo pre {
  margin-left: 0;
  margin-right: 0;
}
.lo-maxgrow {
  flex-grow: 999;
}
.lo.lo-nocontentwrap > .lo-c,
.lo-c.lo-nocontentwrap {
  flex-basis: auto;
}

/* Separators */
@supports (clip-path: inset(0px 0px)) or (-webkit-clip-path: inset(0px 0px)) {
  .lo-separator-v,
  .lo-separator-h {
    --lo-separator-color-fallback: rgba(100,100,100,.35);

    -webkit-clip-path: inset(var(--lo-margin-v, 0px) 0 0 var(--lo-margin-h, 0px));
    clip-path: inset(var(--lo-margin-v, 0px) 0 0 var(--lo-margin-h, 0px));
  }
  .lo-separator-v > .lo-c,
  .lo-separator-h > .lo-c {
    position: relative;
  }
  .lo-separator-h > .lo-c:before {
    content: "";
    position: absolute;
    left: calc(-.5 * var(--lo-margin-h, 0) - .5px);
    top: 0;
    bottom: 0;
    border-left: 1px solid var(--lo-separator-h-color, var(--lo-separator-color, var(--lo-separator-color-fallback)));
  }
  .lo-separator-v > .lo-c:after {
    content: "";
    position: absolute;
    left: 0;
    top: calc(-.5 * var(--lo-margin-v, 0) - 1px);
    right: 0;
    border-top: 1px solid var(--lo-separator-v-color, var(--lo-separator-color, var(--lo-separator-color-fallback)));
  }
}

.lo-c-align-v-center,
.lo-c-align-v-end,
.lo-c-align-h-center,
.lo-c-align-h-end {
  display: flex;
}
.lo-c-align-v-center {
  align-items: center;
}
.lo-c-align-v-end {
  align-items: flex-end;
}
.lo-c-align-h-center {
  justify-content: center;
}
.lo-c-align-h-end {
  justify-content: flex-end;
}
.lo-c-align-v-center > .flu,
.lo-c-align-v-end > .flu,
.lo-c-align-h-center > .flu,
.lo-c-align-h-end > .flu {
  flex-grow: 1;
}

.lo-carousel {
  flex-wrap: nowrap;
  overflow-x: auto;
}
.lo-carousel > .lo-c {
  min-width: var(--lo-c-minwidth);
}
