/* Layout component code */
.lo {
  /* The custom properties should not inherit from parent layouts */
  --lo-stackpoint: initial;
  --lo-margin-h: 0px;
  --lo-margin-v: 0px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: calc(-1 * var(--lo-margin-v));
  margin-left: calc(-1 * var(--lo-margin-h));
}
.lo-c {
  /* if a margin is in play, account for this in our stackpoint calculations */
  /* notably this will also work if a stackpoint is not used. */
  --lo-margin-mod: calc( var(--lo-stackpoint, -1 * var(--lo-margin-h)) - var(--lo-stackpoint, 0px) + var(--lo-margin-h) );
  --lo-stackpoint-calc: calc( ( var(--lo-stackpoint, 100%) - 100% + var(--lo-margin-mod) ) * 999);

  flex-grow: 1;
  flex-basis: var(--lo-stackpoint-calc);
  margin: 0;
  margin-top: var(--lo-margin-v);
  margin-left: var(--lo-margin-h);
}
.lo-debug > .lo-c {
  outline: 1px dotted;
}
.lo-inline > .lo-c {
  flex-grow: 0;
}
.lo pre {
  margin-left: 0;
  margin-right: 0;
}
.lo-maxgrow {
  flex-grow: 999;
}
.lo-nocontentwrap {
  flex-basis: auto;
}

/* Specific layouts */
@media (min-width: 37.5em) { /* 600px */
  .sites-lo .lo-c {
    flex-basis: calc(50% - 2em);
  }
}