.elv-nav {
	padding: 0;
	margin: 1em auto 0;
	clear: both;
	width: 100%;
	list-style: none;
	font-size: 1rem; /* 16px /16 */
}
.elv-nav-footer {
	font-size: 0.875rem; /* 14px /16 */
}
.elv-nav-item {
	float: left;
	min-width: 50%;
	white-space: nowrap;
}
.elv-nav-header .elv-nav-item {
	min-width: 40%;
}
.elv-nav-item a {
	font-weight: 600;
	text-decoration-color: #00bcd4;
}
.elv-nav-item-nou a {
	text-decoration: none;
}
.elv-nav-item .emoji {
	margin-right: -2px;
}
.elv-nav-item .elv-nav-light {
	font-weight: 300;
}

@media (min-width: 37.5em) { /* 600px */
	.elv-nav-footer .elv-nav-item-sm {
		font-size: 0.875em; /* 14px /16 */
	}

	.elv-nav-footer .elv-nav-item {
		width: auto;
		min-width: 0;
	}
	.elv-nav-footer .elv-nav-item:not(:first-child):before {
		content: "";
		border-left: 1px solid #ccc;
		padding: 0 0 0 .5em;
		margin-left: .5em;
	}

	.elv-nav-footer .elv-nav-item:not(.elv-nav-item-br) + .elv-nav-item-br {
		clear: left;
	}
	.elv-nav-footer .elv-nav-item:not(.elv-nav-item-br) + .elv-nav-item-br:before {
		border: none;
		padding-left: 0;
		margin-left: 0;
	}
}

@media (min-width: 38.75em) { /* 620px */
	/* Header nav */
	.elv-nav-header {
		clear: none;
		margin-top: 0;
		width: auto;
	}
	.elv-nav-header .elv-nav-item {
		width: auto;
		min-width: 0;
	}
	.elv-nav-header .elv-nav-item:not(:first-child):before {
		content: "";
		border-left: 1px solid #ccc;
		padding: 0 0 0 .5em;
		margin-left: .5em;
	}
}