.elv-nav {
	padding: 0;
	clear: both;
	list-style: none;
	font-size: 1rem; /* 16px /16 */
}
.elv-nav-item {
	white-space: nowrap;
	flex-grow: 0;
}
.elv-nav-item a {
	font-weight: 600;
}
.elv-nav-item .nound .und,
.elv-nav-item a {
	text-decoration-color: #00bcd4;
}
.elv-nav-item .emoji {
	margin-right: -2px;
}
.elv-nav-item .elv-nav-light {
	font-weight: 300;
}
.elv-nav-social a {
	font-weight: 300;
}
.lo > .lo-c.elv-nav-social {
	flex-grow: 999;
}
.elv-nav-social > .lo {
	--lo-margin-h: 0.5em; /* 7px /14 */;
	--lo-margin-v: 0.2142857142857em; /* 3px /14 */
	--lo-stackpoint: 16.375rem; /* 262px /16 */
}
.elv-nav-social .lo-c {
	text-align: right;
}

.elv-nav-header > .lo {
	--lo-margin-h: 0.8125em; /* 13px /16 */
}
.elv-nav-footer {
	font-size: 0.875rem; /* 14px /16 */
}
.elv-nav-footer.lo {
	--lo-margin-h: .5em;
}
.elv-nav-footer.lo > .lo-c {
	flex-grow: 1;
	flex-basis: 11.25rem; /* 180px /16 */
}

@media (min-width: 40.625em) { /* 650px /16 */
	.elv-nav-footer.lo > .lo-c {
		flex-grow: 0;
		flex-basis: 0;
	}
	.elv-nav-footer .elv-nav-item-sm {
		font-size: 0.875em; /* 14px /16 */
	}
	.elv-nav-footer .elv-nav-item:not(:first-child):before {
		content: "";
		border-left: 1px solid #ccc;
		padding: 0 0 0 .5em;
		margin-left: .5em;
	}
	.elv-nav-footer .elv-nav-item.lo-c:not(:first-child):before {
		margin-left: 0;
	}
}

@media (min-width: 38.75em) { /* 620px */
	/* Header nav */
	.elv-nav-header {
		clear: none;
		margin-top: 0;
		min-width: 34.375em; /* 550px /16 */
	}
	.elv-nav-header.lo .elv-nav-item.lo-c:first-child {
		margin-left: 0;
	}
}
@media (min-width: 43.75em) { /* 700px */
	.elv-docs .elv-nav-header {
		float: left;
		/* adjust for logo in Safari */
		width: calc(100% - 4.303125em - 1em);
	}
}