.search-lo {
	--lo-margin-h: 0;
	--lo-margin-v: .5rem;
	flex-wrap: nowrap;
	max-width: 33em;
}
.search-txt {
	width: 100%;
	padding-left: .2em;
	padding-right: .2em;
	-webkit-appearance: textfield;
	border: 2px solid;
	box-shadow: inset 2px 2px 2px 0 #aaa;
}
.search-btn {
	font-weight: 500;
	box-shadow: none;
	border-radius: 0 1em 1em 0;
	border-left: none;
}
.search-txt,
.search-btn {
	font-size: 1.125em; /* 18px /16 */
	height: 100%;
}
@media (min-width: 30em) { /* 480px */
	.search-txt,
	.search-btn {
		font-size: 1.5em; /* 24px /16 */
	}
}
.search-results-notfound {
	list-style-type: none;
}
.search-results-item {
	display: block;
	text-decoration: none;
	padding: .25em .5em;
}
.search-results-item:hover,
.search-results-item:focus {
	background-color: #f7f7f7;
}
.search-results-item:hover code,
.search-results-item:focus code {
	background-color: #ddd;
}
.search-results-item-title {
	display: block;
}
.search-results-item-title strong {
	text-decoration: underline;
}
.search-results-item-matches {
	font-size: .75em;
	line-height: 1.8;
	max-width: 50em;
}