.elv-possum-pic + .supporters-avatar {
	position: absolute;
	top: calc(1.0625rem + .3vw);
	right: calc(.5625rem + .75vw);
	opacity: .9;
	width: 9vw;
	height: auto;
	margin: 0;
}
@media (min-width: 41.875em) { /* 670px */
	.elv-possum-pic + .supporters-avatar {
		top: 1.25rem; /* 20px /16 */
		right: 0.9375rem; /* 15px /16 */
		width: 3.75rem; /* 60px /16 */
	}
}
.elv-header-default .elv-possum-pic + .supporters-avatar {
	top: .5rem;
	right: .5rem;
	pointer-events: none;
}

/* Supporters Page */
.supporters-facepile {
	padding: 0;
	--lo-margin-h: 1rem;
	--lo-margin-v: 1.5rem;
}
.supporters-facepile > .lo-c {
	flex-basis: 15rem;
	padding-bottom: 2rem;
	border-bottom: 1px solid #ddd;
}
.supporters-link {
	display: inline-block;
	white-space: nowrap;
	font-weight: 600;
}
.supporters-facepile .lo {
	/*position: relative;
	top: -.5em;*/
	width: 100%;
	--lo-margin-h: 1rem;
	--lo-margin-v: .5rem;
	--lo-stackpoint: 300px;
	align-items: flex-start;
	padding-left: calc(38px + 5vw);
}
@media (min-width: 37.5em) { /* 600px */
	.supporters-facepile .lo {
		padding-left: 68px;
	}
}
.supporters-tier {
	white-space: nowrap;
	font-size: 0.6875em; /* 11px /16 */
	flex-basis: 9em;
	line-height: 1.3;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: .5px;
}
.supporters-hearts {
	flex-grow: 5;
	font-size: 1.0625em; /* 17px /16 */
	line-height: 1.3;
	letter-spacing: -3px;
}
.supporters-hearts-empty {
	filter: grayscale(1) brightness(100%);
	opacity: .4;
	font-size: 0.875em; /* 14px /16 */
}
.supporters-facepile .avatar {
	margin-bottom: 0;
}
.supporters-facepile .supporters-active {
	font-weight: 900;
	background-color: #e2f4ff;
	border-bottom-color: transparent;
	border-radius: .5em;
	padding-top: .25em;
	padding-left: .25em;
	padding-right: .25em;
}
.supporters-facepile .supporters-active .supporters-tier {
	padding-right: 1em;
}
.supporters-facepile .supporters-active .supporters-tier:after {
	font-weight: 600;
	content: "—THANK YOU! 🎉";
}
.is-eleventy-supporter .supporters-facepile img {
	filter: grayscale(1);
}
.is-eleventy-supporter .supporters-facepile .supporters-active img {
	filter: grayscale(0);
}

/* Inline list of support avatars */
.is-eleventy-supporter .facepile-supporters img {
	filter: grayscale(1);
}
.is-eleventy-supporter .facepile-supporters .supporters-active {
	opacity: 1;
	position: relative;
	z-index: 2;
}
.is-eleventy-supporter .facepile-supporters .supporters-active img {
	filter: grayscale(0);
}
/* Gold supporters */
.supporters-gold {
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.supporters-gold .avatar {
	max-width: 75px;
	max-height: 75px;
}
.supporters-gold .subhed strong {
	color: #867202;
}
.supporters-gold + .facepile-supporters {
	margin-top: 0;
}

/* Modify content */
.investors-auth {
	display: none;
}
.is-eleventy-supporter .investors-noauth {
	display: none;
}
.is-eleventy-supporter .investors-auth {
	display: initial;
}

/* Buttons */
.investors-btn {
	padding: 0;
	margin-bottom: 4rem;
}
.investors-btn .netlify-identity-button {
	padding: .5em 1em .4em;
	display: block;
	text-decoration: none;
	color: inherit;
}