.elv-toc {
	font-size: 1rem; /* Reset */
}
.elv-toc details {
	--details-force-closed: (max-width: 63.9375em); /* 1023px */
}
.elv-toc details > summary {
	font-size: 1.375rem; /* 22px /16 */
	margin-bottom: .5em;
}
@media (min-width: 64em) { /* 1024px */
	.elv-toc {
		position: absolute;
		left: -14rem;
		width: 13rem;
	}
	.elv-toc details > summary {
		margin-top: 0;
	}
	.js .elv-toc details > summary {
		display: none;
	}
}

.elv-toc-list {
	padding-left: 0;
	padding-right: 0;
	margin: 0 0 2.5em;
	list-style: none;
}
/* Nested lists */
.elv-toc-list ul {
	padding: 0 0 .75em 0;
	margin: 0;
	list-style: none;
	font-size: 0.875em; /* 14px /16 */
}
@media (min-width: 64em) { /* 1024 */
	.elv-toc-list ul {
		display: none;
	}
}
@media (min-width: 64em) and (min-height: 31.25em) { /* 1024 x 500px */
	.elv-toc-list ul {
		display: block;
	}
}

/* Menus nested 2 or more deep */
.elv-toc-list ul ul {
	padding-bottom: 0;
}
.elv-toc-list ul ul > li:not(.elv-toc-active) > ul > li:not(.elv-toc-active) {
	display: none;
}

/* List items */
.elv-toc summary,
.elv-toc-list a {
	padding: .15em .25em;
	line-height: 1.4;
}
.elv-toc-list a {
	display: block;
}
.elv-toc-list ul {
	padding-left: 0.625rem; /* 10px /16 */
}
.elv-toc-list a:not(:hover) {
	text-decoration: none;
}
.elv-toc-list li {
	margin: 0;
	padding: 0;
}
/* Top level links */
.elv-toc-list > li > a {
	font-weight: 400;
	font-size: 1.0625em; /* 17px /16 */
	color: #222;
}

/* Active links */
.elv-toc-list li.elv-toc-active > a {
	background-color: #dff7ff;
}
.elv-toc-list ul .elv-toc-active > a:after {
	content: "";
}

/* Show only active nested lists */
.elv-toc-list ul.elv-toc-active,
.elv-toc-list li.elv-toc-active > ul {
	display: block;
}

/* Two column menu */
@media (min-width: 31.25em) and (max-width: 63.9375em) { /* 500px 1023px */
	.elv-toc-list {
		display: flex;
		flex-wrap: wrap;
	}
	.elv-toc-list > li {
		flex: 0 0 50%;
		margin-bottom: 1em;
	}
}