.elv-toc {
	font-size: 1rem; /* Reset */
}
@media (min-width: 64em) { /* 1024px */
	.elv-toc {
		position: absolute;
		left: -14rem;
		width: 13rem;
	}
}


.elv-toc-list {
	padding-left: 0;
	padding-right: 0;
	margin: 0;
	list-style: none;
}
/* Nested lists */
.elv-toc-list ul {
	display: none;
	padding: 0 0 .75em 0;
	margin: 0;
	list-style: none;
	font-size: 0.875em; /* 14px /16 */
}

@media (min-width: 64em) and (min-height: 31.25em) { /* 1024 x 500px */
	.elv-toc-list ul {
		display: block;
	}
}

/* List items */
.elv-toc-list a {
	display: block;
	padding: .15em .25em;
	line-height: 1.4;
}
.elv-toc-list ul a {
	padding-left: 1em;
}
.elv-toc-list a:not(:hover) {
	text-decoration: none;
}
.elv-toc-list li {
	margin: 0;
	padding: 0;
}
/* Top level links */
.elv-toc-list > li > a {
	font-weight: 400;
	font-size: 1.0625em; /* 17px /16 */
	color: #222;
}

/* Active links */
.elv-toc-list > li.elv-toc-active > a,
.elv-toc-list ul li.elv-toc-active {
	background-color: #dff7ff;
}
.elv-toc-list ul .elv-toc-active > a:after {
	content: "";
}

/* Show only active nested lists */
.elv-toc-list ul.elv-toc-active,
.elv-toc-list li.elv-toc-active > ul {
	display: block;
}