.elv-toc {
	font-size: 1rem; /* Reset */
}
@media (min-width: 64em) { /* 1024px */
	.elv-toc {
		position: absolute;
		left: -14rem;
		width: 13rem;
	}
}


.elv-toc-list {
	padding-left: 0;
	padding-right: 0;
	list-style: none;
}
/* Nested lists */
.elv-toc-list ul {
	padding: 0;
	display: none;
	margin-bottom: 1.5em;
	list-style: none;
	font-size: 0.875em; /* 14px /16 */
}
.elv-toc-list ul li {
	padding-left: 1em; /* 16px /16 */
}
@media (min-width: 64em) and (min-height: 31.25em) { /* 1024 x 500px */
	.elv-toc-list ul {
		display: block;
	}
}

/* List items */
.elv-toc-list a:not(:hover) {
	text-decoration: none;
}
.elv-toc-list li {
	padding-top: 0;
	padding-bottom: 0;
	margin: .1em 0 .5em;
}
/* Top level links */
.elv-toc-list > li > a {
	font-weight: 400;
	font-size: 1.0625em; /* 17px /16 */
	color: #222;
}

/* Active links */
.elv-toc-list li.elv-toc-active > a {
	text-decoration: underline;
}
.elv-toc-active > a:after {
	content: " ⬅";
	line-height: .5;
}
.elv-toc-list ul .elv-toc-active > a:after {
	content: "➡";
	position: absolute;
	left: 0;
	margin-top: 1px;
	line-height: 1;
}

/* Show only active nested lists */
.elv-toc-list ul.elv-toc-active,
.elv-toc-list li.elv-toc-active > ul {
	display: block;
}