<is-land on:visible import="/js/seven-minute-tabs.js">
<seven-minute-tabs persist sync class="tabs-flush">
{% renderFile "./src/_includes/syntax-chooser-tablist.11ty.js", {id: "webc-render"} %}
<div id="webc-render-liquid" role="tabpanel">
{%- set codeBlock %}{% raw %}
{% renderTemplate "webc" %}
<my-custom-component></my-custom-component>
{% endrenderTemplate %}
{% endraw %}{%- endset %}
{{ codeBlock | highlight("liquid") | safe }}
</div>
<div id="webc-render-njk" role="tabpanel">
{%- set codeBlock %}{% raw %}
{% renderTemplate "webc" %}
<my-custom-component></my-custom-component>
{% endrenderTemplate %}
{% endraw %}{%- endset %}
{{ codeBlock | highlight("jinja2") | safe }}
</div>
<div id="webc-render-js" role="tabpanel">
{%- set codeBlock %}{% raw %}
export default async function () {
	let content = await this.renderTemplate(
		`<my-custom-component></my-custom-component>`,
		"webc"
	);
	return content;
};
{% endraw %}{%- endset %}
{{ codeBlock | highlight("js") | safe }}
</div>
<div id="webc-render-cjs" role="tabpanel">
{%- set codeBlock %}{% raw %}
module.exports = async function () {
	let content = await this.renderTemplate(
		`<my-custom-component></my-custom-component>`,
		"webc"
	);
	return content;
};
{% endraw %}{%- endset %}
{{ codeBlock | highlight("js") | safe }}
</div>
</seven-minute-tabs>
</is-land>