<is-land on:visible import="/js/seven-minute-tabs.js">
<seven-minute-tabs persist sync class="tabs-flush">
  {% renderFile "./src/_includes/syntax-chooser-tablist.11ty.js", {id: "layoutoutput", additions: "md", label: "View the output from"} %}
  <div id="layoutoutput-md" role="tabpanel">
{% set codeBlock %}
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>My Rad Markdown Blog Post</title>
	</head>
	<body>
		<h1>My Rad Markdown Blog Post</h1>
	</body>
</html>
{% endset %}
{{ codeBlock | highlight("html") | safe }}
  </div>
  <div id="layoutoutput-liquid" role="tabpanel">
{% set codeBlock %}
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>My Rad Liquid Blog Post</title>
	</head>
	<body>
		<h1>My Rad Liquid Blog Post</h1>
	</body>
</html>
{% endset %}
{{ codeBlock | highlight("html") | safe }}
  </div>
  <div id="layoutoutput-njk" role="tabpanel">
{% set codeBlock %}
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>My Rad Nunjucks Blog Post</title>
	</head>
	<body>
		<h1>My Rad Nunjucks Blog Post</h1>
	</body>
</html>
{% endset %}
{{ codeBlock | highlight("html") | safe }}
  </div>
  <div id="layoutoutput-js" role="tabpanel">
{% set codeBlock %}
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>My Rad JavaScript Blog Post</title>
	</head>
	<body>
		<h1>My Rad JavaScript Blog Post</h1>
	</body>
</html>
{% endset %}
{{ codeBlock | highlight("html") | safe }}
  </div>
  <div id="layoutoutput-cjs" role="tabpanel">
{% set codeBlock %}
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>My Rad JavaScript Blog Post</title>
	</head>
	<body>
		<h1>My Rad JavaScript Blog Post</h1>
	</body>
</html>
{% endset %}
{{ codeBlock | highlight("html") | safe }}
  </div>
</seven-minute-tabs>
</is-land>