<is-land on:visible import="/js/seven-minute-tabs.js">
<seven-minute-tabs persist sync autoheight>
  {% renderFile "./src/_includes/syntax-chooser-tablist.11ty.js", {id: "shortcode"} %}
  <div id="shortcode-liquid" role="tabpanel">
		<div class="codetitle">sample.liquid</div>
{%- set codeBlock %}{% raw %}
{% user firstName, lastName %}
{% endraw %}{%- endset %}
{{ codeBlock | highlight("liquid") | safe }}
    <p>The comma between arguments is <strong>optional</strong> in Liquid templates.</p>
    <div class="codetitle">sample.liquid</div>
{%- set codeBlock %}{% raw %}
{% user firstName lastName %}
{% endraw %}{%- endset %}
{{ codeBlock | highlight("liquid") | safe }}
  </div>
  <div id="shortcode-njk" role="tabpanel">
    <div class="codetitle">sample.njk</div>
{%- set codeBlock %}{% raw %}
{% user firstName, lastName %}
{% endraw %}{%- endset %}
{{ codeBlock | highlight("jinja2") | safe }}
    <p>The comma between arguments is <strong>required</strong> in Nunjucks templates.</p>
  </div>
  <div id="shortcode-js" role="tabpanel">
    <div class="codetitle">sample.11ty.js</div>
{%- set codeBlock %}{% raw %}
export default function({ firstName, lastName }) {
  return `<h1>${this.user(firstName, lastName)}</h1>`;
};
{% endraw %}{%- endset %}
{{ codeBlock | highlight("js") | safe }}
  </div>
  <div id="shortcode-cjs" role="tabpanel">
    <div class="codetitle">sample.11ty.cjs</div>
{%- set codeBlock %}{% raw %}
module.exports = function({ firstName, lastName }) {
  return `<h1>${this.user(firstName, lastName)}</h1>`;
};
{% endraw %}{%- endset %}
{{ codeBlock | highlight("js") | safe }}
  </div>
</seven-minute-tabs>
</is-land>