{%- set tabid = "computed-ref" %}
<is-land on:visible import="/js/seven-minute-tabs.js">
<seven-minute-tabs class="tabs-flush" persist sync>
  {% renderFile "./src/_includes/syntax-chooser-tablist.11ty.js", {id: tabid, only: "jsesm,jscjs"} %}
  <div id="{{ tabid }}-jsesm" role="tabpanel">

```js
export default {
	eleventyComputed: {
		myValue: () => "Hi",
		myOtherValue: () => "Bye",
		usesAllTheThings: (data) => {
			// We detect this as a declared dependency
			data.myValue;
			// You can use as many as you want.
			data.myOtherValue;
			// You could use any valid JS syntax to access them.
			[data.myValue, data.myOtherValue];

			return `How are you?`;
		},
	},
};
```

  </div>
  <div id="{{ tabid }}-jscjs" role="tabpanel">

```js
module.exports = {
	eleventyComputed: {
		myValue: () => "Hi",
		myOtherValue: () => "Bye",
		usesAllTheThings: (data) => {
			// We detect this as a declared dependency
			data.myValue;
			// You can use as many as you want.
			data.myOtherValue;
			// You could use any valid JS syntax to access them.
			[data.myValue, data.myOtherValue];

			return `How are you?`;
		},
	},
};
```

  </div>
</seven-minute-tabs>
</is-land>