{%- set tabid = "computed-more" %}
<is-land on:visible import="/js/seven-minute-tabs.js">
<seven-minute-tabs class="tabs-flush" persist sync>
  {% renderFile "./src/_includes/syntax-chooser-tablist.11ty.js", {id: tabid, only: "jsesm,jscjs"} %}
  <div id="{{ tabid }}-jsesm" role="tabpanel">

```js
export default {
	eleventyComputed: {
		myTemplateString: "This is assumed to be a template string!",
		myString: (data) => "This is a string!",
		myFunction: (data) => `This is a string using ${data.someValue}.`,
		myAsyncFunction: async (data) => await someAsyncThing(),
		myPromise: (data) => {
			return new Promise((resolve) => {
				setTimeout(() => resolve("100ms DELAYED HELLO"), 100);
			});
		},
	},
};
```

  </div>
  <div id="{{ tabid }}-jscjs" role="tabpanel">

```js
module.exports = {
	eleventyComputed: {
		myTemplateString: "This is assumed to be a template string!",
		myString: (data) => "This is a string!",
		myFunction: (data) => `This is a string using ${data.someValue}.`,
		myAsyncFunction: async (data) => await someAsyncThing(),
		myPromise: (data) => {
			return new Promise((resolve) => {
				setTimeout(() => resolve("100ms DELAYED HELLO"), 100);
			});
		},
	},
};
```

  </div>
</seven-minute-tabs>
</is-land>