{%- set tabid = "computed" %}
<div class="codetitle codetitle-right-md">posts/posts.11tydata.js</div>
<is-land on:visible import="/js/seven-minute-tabs.js">
<seven-minute-tabs class="tabs-flush" persist sync>
  {% renderFile "./src/_includes/syntax-chooser-tablist.11ty.js", {id: tabid, only: "jsesm,jscjs"} %}
  <div id="{{ tabid }}-jsesm" role="tabpanel">

```js
export default {
	eleventyComputed: {
		eleventyNavigation: {
			key: (data) => data.title,
			parent: (data) => data.parent,
		},
	},
};
```

  </div>
  <div id="{{ tabid }}-jscjs" role="tabpanel">

```js
module.exports = {
	eleventyComputed: {
		eleventyNavigation: {
			key: (data) => data.title,
			parent: (data) => data.parent,
		},
	},
};
```

  </div>
</seven-minute-tabs>
</is-land>