{%- set tabid = "deepmerge" %}
<div class="codetitle codetitle-right-md">eleventy.config.js</div>
<is-land on:visible import="/js/seven-minute-tabs.js">
<seven-minute-tabs class="tabs-flush" persist sync>
  {% renderFile "./src/_includes/syntax-chooser-tablist.11ty.js", {id: tabid, only: "jsesm,jscjs"} %}
  <div id="{{ tabid }}-jsesm" role="tabpanel">

```js
export default function (eleventyConfig) {
	// defaults to true in 1.0, use false to opt-out
	eleventyConfig.setDataDeepMerge(false);

	// requires opt-in for 0.x
	eleventyConfig.setDataDeepMerge(true);
};
```

  </div>
  <div id="{{ tabid }}-jscjs" role="tabpanel">

```js
module.exports = function (eleventyConfig) {
	// defaults to true in 1.0, use false to opt-out
	eleventyConfig.setDataDeepMerge(false);

	// requires opt-in for 0.x
	eleventyConfig.setDataDeepMerge(true);
};
```

  </div>
</seven-minute-tabs>
</is-land>