{%- set tabid = "js-promise" %}
<is-land on:visible import="/js/seven-minute-tabs.js">
<seven-minute-tabs class="tabs-flush" persist sync>
  {% renderFile "./src/_includes/syntax-chooser-tablist.11ty.js", {id: tabid, only: "jsesm,jscjs"} %}
  <div id="{{ tabid }}-jsesm" role="tabpanel">

```js
async function fetchUserData(username) {
	// do some async things
	return username;
}

export default async function () {
	let user1 = await fetchUserData("user1");
	let user2 = await fetchUserData("user2");

	return [user1, user2];
};
```

  </div>
  <div id="{{ tabid }}-jscjs" role="tabpanel">

```js
async function fetchUserData(username) {
	// do some async things
	return username;
}

module.exports = async function () {
	let user1 = await fetchUserData("user1");
	let user2 = await fetchUserData("user2");

	return [user1, user2];
};
```

  </div>
</seven-minute-tabs>
</is-land>