<!doctype html>
<html lang="en"{% if templateClass %} class="{{ templateClass }}"{% endif %}>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="{% if subtitle %}{{ subtitle }} for Eleventy,{% else %}Eleventy is{% endif %} a simpler static site generator.">
		<title>{{ subtitle + ' -' if subtitle}} Eleventy</title>
{%- set css %}
{% include 'components/font-titles.css' %}
{{ googlefonts | safe }}
{% include 'index.css' %}
{% include 'components/navigation.css' %}
{% include 'components/quicktips.css' %}
{% include 'components/community.css' %}
{% include 'components/code.css' %}
{% include 'components/lists.css' %}
{% include 'components/external-links.css' %}
{% include 'components/minilink.css' %}
{% include 'components/toc.css' %}
{% include 'components/callout.css' %}
{% include 'components/codetitle.css' %}
{% endset %}
		<style>{{ css | cssmin | safe }}</style>
		<link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
{% if feedTitle and feedUrl %}
		<link rel="alternate" href="{{ feedUrl }}" title="{{ feedTitle }}" type="application/atom+xml">
{% endif %}
		<link rel="icon" type="image/png" sizes="96x96" href="/img/favicon.png">
		<script>
		{%- include "components/js-class.js" -%}
		</script>
	</head>
	<body>

		{{ content | safe }}

		<!-- Built on {{ config.now }} by Eleventy -->
		<script>
		{%- include "components/details-force-state.js" -%}
		</script>
		<script src="/js/instant.page.js" async></script>
	</body>
</html>
