<!doctype html>
<html lang="en"{% if templateClass %} class="{{ templateClass }}"{% endif %}>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Eleventy</title>
		<link rel="preload" href="/css/fonts/BenchNine-Bold-subset.woff2" as="font" type="font/woff2" crossorigin>
{%- set css %}
{% include 'index.css' %}
{% include 'prism-theme.css' %}
{% endset %}
		<style>{{ css | cssmin | safe }}</style>
{% if feedTitle and feedUrl %}
		<link rel="alternate" href="{{ feedUrl }}" title="{{ feedTitle }}" type="application/atom+xml">
{% endif %}
		<script>{% include "index.js" %}</script>
	</head>
	<body>

		{{ layoutContent | safe }}

	</body>
</html>