---
layout: layouts/main.njk
title: Eleventy Documentation
headerClass: elv-header-docs
layoutClass: elv-layout-toc
isDocs: true
menuSortOrder:
  - overview
  - getting-started
  - data
  - config
  - templates
  - languages
  - versions
---

{% include "components/docs-toc.njk" %}

{{ layoutContent | safe }}
