---
layout: layouts/main.njk
title: Eleventy Documentation
templateClass: elv-docs
headerClass: elv-header-docs
layoutClass: elv-layout-toc
isDocs: true
menuSortOrder:
  - overview
  - how-to-support
  - getting-started
  - templates
  - config
  - data
  - languages
  - versions
---

{% include "components/docs-toc.njk" %}

{{ content | safe }}

{% if relatedLinks or (relatedKey and collections[ "related-" + relatedKey ].length) %}
<hr>
<h3>Related Docs</h3>
<ul>
{% for related in collections[ "related-" + relatedKey ] %}
	<li><a href="{{ related.url }}">{{ related.data.relatedTitle }}</a></li>
{%- endfor %}
{% for url,title in relatedLinks %}
	<li><a href="{{ url }}">{{ title }}</a></li>
{% endfor %}
</ul>
{% endif %}
