---
layout: layouts/docs.njk
tags:
  - docs-languages
---
<h1>{{ subtitle }}</h1>

<div class="elv-langlist">
<h2 class="elv-langlist-hed">Template Languages:</h2>
{% templatelangs templatetypes, page %}
</div>

{{ content | safe }}
