---
title: Eleventy is a simpler static site generator.
layout: layouts/base.njk
templateClass: elv-default
headerClass: elv-header-default
---
{% include "header.njk" %}

{% if config.outdated -%}
<div class="elv-callout elv-callout-warn elv-callout-sticky">This is an <strong>older version of Eleventy</strong>. <a href="https://www.11ty.io/docs/versions/">Full release history</a>. Go to the <a href="https://www.11ty.io/docs/">newest Eleventy docs</a>. You could try <a href="https://www.11ty.io{{ page.url }}">{{ page.url }}</a> although it may not exist.</div>
{% endif -%}
{% if config.prerelease -%}
<div class="elv-callout elv-callout-info elv-callout-sticky">This documentation is for an upcoming version of Eleventy. Go to the <a href="https://www.11ty.io/docs/">latest stable version of Eleventy docs</a> or check out the <a href="https://www.11ty.io/docs/versions/">full release history.</a></div>
{% endif -%}

<main class="elv-layout{% if layoutClass %} {{ layoutClass }}{% endif %}">{{ content | safe }}</main>

<footer class="elv-layout{% if layoutClass %} {{ layoutClass }}{% endif %}">
{%- if ignoreGitHubButtons %}{% else %}
	<div class="elv-callout">
		<a href="https://github.com/11ty/eleventy" class="minilink">⭐ <strong>{{ github.stargazers | humanReadableNum }}</strong></a>
		<a href="https://github.com/11ty/eleventy"><strong>Please star Eleventy on GitHub!</strong></a> This is a good way to support our underrated project and help boost our rank on <a href="https://www.staticgen.com/">staticgen.com</a>, a giant list of static site generators.
	</div>
{%- endif %}

	{% include "footer-nav.njk" %}
</footer>
