---
title: Eleventy is a simpler static site generator.
layout: layouts/base.njk
templateClass: elv-default
headerClass: elv-header-default
---
{% include "header.njk" %}

{% if config.outdated -%}
<div class="elv-callout elv-callout-warn elv-callout-sticky">This is an <strong>older version of Eleventy</strong>. Go to the <a href="https://www.11ty.dev/docs/">newest Eleventy docs</a> (current path: <a href="https://www.11ty.dev{{ page.url }}"><code>{{ page.url }}</code></a>) or the <a href="https://www.11ty.dev/docs/versions/">full release history</a>.</div>
{% endif -%}
{% if config.prerelease -%}
<div class="elv-callout elv-callout-info elv-callout-sticky">This documentation is for an upcoming version of Eleventy. Go to the <a href="https://www.11ty.dev/docs/">latest stable version of Eleventy docs</a> or check out the <a href="https://www.11ty.dev/docs/versions/">full release history.</a></div>
{% endif -%}

<main class="elv-layout{% if layoutClass %} {{ layoutClass }}{% endif %}">
	{{ content | safe }}
</main>

<footer class="elv-layout{% if layoutClass %} {{ layoutClass }}{% endif %}">
{% if ignoreSupporters %}{% else %}
	<h2 id="eleventy-is-supported-by">Eleventy is <a href="/docs/supporters/">supported</a> by… <a class="direct-link" href="#eleventy-is-supported-by">#</a></h2>
	{% include "supporters.njk" %}
{% endif %}
{%- if ignoreGitHubButtons %}{% else %}
	<div class="elv-callout">
		{% include "star-on-github.njk" %}
	</div>
{%- endif %}
{% if ignoreFastestSite %}{% else %}
	<h2 id="top-fastest-sites">Eleventy’s <a href="/docs/sites/">Performance Leaderboard</a> <a class="direct-link" href="#top-fastest-sites">#</a></h2>
	<div class="lo sites-lo sites-lo-footer" style="--lo-stackpoint: 30em; --lo-margin-v: 2em">
	{%- for perf in fastestSites | head(2) %}
		{%- set site = perf.url | findSiteDataByUrl(sites) %}
		{%- if site.disabled !== true and site.url %}
			{%- set showMetadata = true %}
			{%- set showPerformanceMetadata = true %}
			{% include "site.njk" %}
		{%- endif %}
	{%- endfor %}
	</div>
{% endif %}
{#
{%- if ignoreFooterTestimonial -%}
{%- elseif page.url and page.url != "/" and not page.url.endsWith("/docs/") and not page.url.endsWith("/docs/testimonials/")  %}
	{%- set randomTestimonial = testimonials | randompick %}
	{%- testimonial randomTestimonial %}
{%- endif %}
#}

	{% include "footer-nav.njk" %}
</footer>
