---
layout: layouts/docs.njk
---
{% set quicktipheadertitle %}Quick Tip #{{ tipindex }}—{{ tiptitle }}{% endset %}
<h1>{{ quicktipheadertitle | orphanWrap | safe }}</h1>

<h2 class="sr-only">All Quick Tips</h2>
<ul class="quicktipstoc">
{% for tip in collections.quicktipssorted %}
	<li{% if page.url == tip.url %} class="active"{% endif %}><a href="{{ tip.url }}"><code>#{{ tip.data.tipindex }}</code>—{{ tip.data.tiptitle }}</a></li>
{%- endfor %}
</ul>

{{ layoutContent | safe }}

