{%- set tabid = "fetchgithubstars" %}
<div class="codetitle codetitle-right-md">_data/github.js</div>
<is-land on:visible import="/js/seven-minute-tabs.js">
<seven-minute-tabs class="tabs-full tabs-flush" persist sync>
  {% renderFile "./src/_includes/syntax-chooser-tablist.11ty.js", {id: tabid, only: "jsesm,jscjs"} %}
  <div id="{{ tabid }}-jsesm" role="tabpanel">

```js
import fetch from "node-fetch";

export default async function () {
	console.log("Fetching new github stargazers count…");

	// GitHub API: https://developer.github.com/v3/repos/#get
	let res = await fetch("https://api.github.com/repos/11ty/eleventy");
	let json = await res.json();

	// prune the data to return only what we want
	return {
		stargazers: json.stargazers_count,
	};
};
```

  </div>
  <div id="{{ tabid }}-jscjs" role="tabpanel">

```js
module.exports = async function () {
	const fetch = await import("node-fetch");

	console.log("Fetching new github stargazers count…");

	// GitHub API: https://developer.github.com/v3/repos/#get
	let res = await fetch("https://api.github.com/repos/11ty/eleventy");
	let json = await res.json();

	// prune the data to return only what we want
	return {
		stargazers: json.stargazers_count,
	};
};
```

  </div>
</seven-minute-tabs>
</is-land>