<is-land on:visible import="/js/seven-minute-tabs.js">
<seven-minute-tabs persist sync class="tabs-flush">
  {% renderFile "./src/_includes/syntax-chooser-tablist.11ty.js", {id: "collectionsall"} %}
  <div id="collectionsall-liquid" role="tabpanel">
{% set codeBlock %}{% raw %}
<ul>
{%- for post in collections.all -%}
  <li><a href="{{ post.url }}">{{ post.url }}</a></li>
{%- endfor -%}
</ul>
{% endraw %}{% endset %}
{{ codeBlock | highlight("liquid") | safe }}
  </div>
  <div id="collectionsall-njk" role="tabpanel">
{% set codeBlock %}{% raw %}
<ul>
{%- for post in collections.all -%}
  <li><a href="{{ post.url }}">{{ post.url }}</a></li>
{%- endfor -%}
</ul>
{% endraw %}{% endset %}
{{ codeBlock | highlight("jinja2") | safe }}
  </div>
  <div id="collectionsall-js" role="tabpanel">
{% set codeBlock %}{% raw %}
export function render(data) {
  return `<ul>
    ${data.collections.all
      .map((post) => `<li><a href="${post.url}">${post.url}</a></li>`)
      .join("\n")}
  </ul>`;
};
{% endraw %}{% endset %}
{{ codeBlock | highlight("js") | safe }}
  </div>
  <div id="collectionsall-cjs" role="tabpanel">
{% set codeBlock %}{% raw %}
exports.render = function (data) {
  return `<ul>
    ${data.collections.all
      .map((post) => `<li><a href="${post.url}">${post.url}</a></li>`)
      .join("\n")}
  </ul>`;
};
{% endraw %}{% endset %}
{{ codeBlock | highlight("js") | safe }}
  </div>
</seven-minute-tabs>
</is-land>