<is-land on:visible import="/js/seven-minute-tabs.js">
<seven-minute-tabs persist sync class="tabs-flush">
  {% renderFile "./src/_includes/syntax-chooser-tablist.11ty.js", {id: "collections"} %}
  <div id="collections-liquid" role="tabpanel">
{% set codeBlock %}{% raw %}
<ul>
{%- for post in collections.post -%}
  <li>{{ post.data.title }}</li>
{%- endfor -%}
</ul>
{% endraw %}{% endset %}
{{ codeBlock | highlight("liquid") | safe }}
  </div>
  <div id="collections-njk" role="tabpanel">
{% set codeBlock %}{% raw %}
<ul>
{%- for post in collections.post -%}
  <li>{{ post.data.title }}</li>
{%- endfor -%}
</ul>
{% endraw %}{% endset %}
{{ codeBlock | highlight("jinja2") | safe }}
  </div>
  <div id="collections-js" role="tabpanel">
{% set codeBlock %}{% raw %}
export function render(data) {
  return `<ul>
    ${data.collections.post
      .map((post) => `<li>${post.data.title}</li>`)
      .join("\n")}
  </ul>`;
};
{% endraw %}{% endset %}
{{ codeBlock | highlight("js") | safe }}
  </div>
  <div id="collections-cjs" role="tabpanel">
{% set codeBlock %}{% raw %}
exports.render = function (data) {
  return `<ul>
    ${data.collections.post
      .map((post) => `<li>${post.data.title}</li>`)
      .join("\n")}
  </ul>`;
};
{% endraw %}{% endset %}
{{ codeBlock | highlight("js") | safe }}
  </div>
</seven-minute-tabs>
</is-land>