<is-land on:visible import="/js/seven-minute-tabs.js">
<seven-minute-tabs persist sync class="tabs-flush">
  {% renderFile "./src/_includes/syntax-chooser-tablist.11ty.js", {id: "collections-dashwarn"} %}
  <div id="collections-dashwarn-liquid" role="tabpanel">

{% raw %}

```liquid
<ul>
{%- for post in collections.post-with-dash -%}
  <li>{{ post.data.title }}</li>
{%- endfor -%}
</ul>
```

{% endraw %}

  </div>
  <div id="collections-dashwarn-njk" role="tabpanel">

{% raw %}

```jinja2
<ul>
{%- for post in collections['post-with-dash'] -%}
  <li>{{ post.data.title }}</li>
{%- endfor -%}
</ul>
```

{% endraw %}

  </div>
  <div id="collections-dashwarn-js" role="tabpanel">

{% raw %}

```js
export function render(data) {
  return `<ul>
    ${data.collections['post-with-dash']
      .map((post) => `<li>${post.data.title}</li>`)
      .join("\n")}
  </ul>`;
};
```

{% endraw %}

  </div>
  <div id="collections-dashwarn-cjs" role="tabpanel">

{% raw %}

```js
exports.render = function (data) {
  return `<ul>
    ${data.collections['post-with-dash']
      .map((post) => `<li>${post.data.title}</li>`)
      .join("\n")}
  </ul>`;
};
```

{% endraw %}

  </div>
</seven-minute-tabs>
</is-land>