<is-land on:visible import="/js/seven-minute-tabs.js">
<seven-minute-tabs persist sync  class="tabs-flush">
  {% renderFile "./src/_includes/syntax-chooser-tablist.11ty.js", {id: "collections-import"} %}
  <div id="collections-import-liquid" role="tabpanel">
{% set codeBlock %}{% raw %}
---
eleventyImport:
  collections: ["post"]
---
<ul>
{%- for post in collections.post -%}
  <li>{{ post.data.title }}</li>
{%- endfor -%}
</ul>
{% endraw %}{% endset %}
{{ codeBlock | highlight("liquid") | safe }}
  </div>
  <div id="collections-import-njk" role="tabpanel">
{% set codeBlock %}{% raw %}
---
eleventyImport:
  collections: ["post"]
---
<ul>
{%- for post in collections.post -%}
  <li>{{ post.data.title }}</li>
{%- endfor -%}
</ul>
{% endraw %}{% endset %}
{{ codeBlock | highlight("jinja2") | safe }}
  </div>
  <div id="collections-import-js" role="tabpanel">
{% set codeBlock %}{% raw %}
export function data() {
  return {
    eleventyImport: {
      collections: ["post"],
    },
  };
};

export function render(data) {
  return `<ul>
    ${data.collections.post
      .map((post) => `<li>${post.data.title}</li>`)
      .join("\n")}
  </ul>`;
};
{% endraw %}{% endset %}
{{ codeBlock | highlight("js") | safe }}
  </div>
  <div id="collections-import-cjs" role="tabpanel">
{% set codeBlock %}{% raw %}
exports.data = function () {
  return {
    eleventyImport: {
      collections: ["post"],
    },
  };
};

exports.render = function (data) {
  return `<ul>
    ${data.collections.post
      .map((post) => `<li>${post.data.title}</li>`)
      .join("\n")}
  </ul>`;
};
{% endraw %}{% endset %}
{{ codeBlock | highlight("js") | safe }}
  </div>
</seven-minute-tabs>
</is-land>