{%- set tabid = "collections-getsortedfilter" %}
<div class="codetitle codetitle-right-md">eleventy.config.js</div>
<is-land on:visible import="/js/seven-minute-tabs.js">
<seven-minute-tabs class="tabs-flush" persist sync>
  {% renderFile "./src/_includes/syntax-chooser-tablist.11ty.js", {id: tabid, only: "jsesm,jscjs"} %}
  <div id="{{ tabid }}-jsesm" role="tabpanel">

```js
export default function (eleventyConfig) {
	// Filter using `Array.filter`
	eleventyConfig.addCollection("onlyMarkdown", function (collectionsApi) {
		return collectionsApi.getAllSorted().filter(function (item) {
			// Only return content that was originally a markdown file
			let extension = item.inputPath.split(".").pop();
			return extension === "md";
		});
	});
};
```

  </div>
  <div id="{{ tabid }}-jscjs" role="tabpanel">

```js
module.exports = function (eleventyConfig) {
	// Filter using `Array.filter`
	eleventyConfig.addCollection("onlyMarkdown", function (collectionsApi) {
		return collectionsApi.getAllSorted().filter(function (item) {
			// Only return content that was originally a markdown file
			let extension = item.inputPath.split(".").pop();
			return extension === "md";
		});
	});
};
```

  </div>
</seven-minute-tabs>
</is-land>