{%- set tabid = "collections-getfilteredbytags" %}
<div class="codetitle codetitle-right-md">eleventy.config.js</div>
<is-land on:visible import="/js/seven-minute-tabs.js">
<seven-minute-tabs class="tabs-flush" persist sync>
  {% renderFile "./src/_includes/syntax-chooser-tablist.11ty.js", {id: tabid, only: "jsesm,jscjs"} %}
  <div id="{{ tabid }}-jsesm" role="tabpanel">

```js
export default function (eleventyConfig) {
	// Get only content that matches a tag
	eleventyConfig.addCollection(
		"myTravelPostsWithPhotos",
		function (collectionsApi) {
			return collectionsApi.getFilteredByTags("post", "travel", "photo");
		}
	);
};
```

  </div>
  <div id="{{ tabid }}-jscjs" role="tabpanel">

```js
module.exports = function (eleventyConfig) {
	// Get only content that matches a tag
	eleventyConfig.addCollection(
		"myTravelPostsWithPhotos",
		function (collectionsApi) {
			return collectionsApi.getFilteredByTags("post", "travel", "photo");
		}
	);
};
```

  </div>
</seven-minute-tabs>
</is-land>
