<is-land on:visible import="/js/seven-minute-tabs.js">
<seven-minute-tabs persist sync class="tabs-flush">
  {% renderFile "./src/_includes/syntax-chooser-tablist.11ty.js", {id: "collectionsitem"} %}
  <div id="collectionsitem-liquid" role="tabpanel">

{% raw %}

```liquid
<ul>
{%- for post in collections.post -%}
  <li>{{ post.data.title }}</li>
{%- endfor -%}
</ul>
```

{% endraw %}

  </div>
  <div id="collectionsitem-njk" role="tabpanel">

{% raw %}

```jinja2
<ul>
{%- for post in collections.post -%}
  <li>{{ post.data.title }}</li>
{%- endfor -%}
</ul>
```

{% endraw %}

  </div>
  <div id="collectionsitem-js" role="tabpanel">

{% raw %}

```js
export function render(data) {
	return `<ul>
    ${data.collections.post
			.map((post) => `<li>${post.data.title}</li>`)
			.join("\n")}
  </ul>`;
};
```

{% endraw %}

  </div>
  <div id="collectionsitem-cjs" role="tabpanel">

{% raw %}

```js
exports.render = function (data) {
	return `<ul>
    ${data.collections.post
			.map((post) => `<li>${post.data.title}</li>`)
			.join("\n")}
  </ul>`;
};
```

{% endraw %}

  </div>
</seven-minute-tabs>
</is-land>