<is-land on:visible import="/js/seven-minute-tabs.js">
<seven-minute-tabs persist sync class="tabs-flush" autoheight>
  {% renderFile "./src/_includes/syntax-chooser-tablist.11ty.js", {id: "collectionssort"} %}
  <div id="collectionssort-liquid" role="tabpanel">
{% set codeBlock %}{% raw %}
<ul>
{%- for post in collections.post reversed -%}
  <li>{{ post.data.title }}</li>
{%- endfor -%}
</ul>
{% endraw %}{% endset %}
{{ codeBlock | highlight("liquid") | safe }}
  </div>
  <div id="collectionssort-njk" role="tabpanel">
{% set codeBlock %}{% raw %}
<ul>
{%- for post in collections.post | reverse -%}
  <li>{{ post.data.title }}</li>
{%- endfor -%}
</ul>
{% endraw %}{% endset %}
{{ codeBlock | highlight("jinja2") | safe }}
  </div>
  <div id="collectionssort-js" role="tabpanel">
{% set codeBlock %}{% raw %}
export function render(data) {
  // `toReversed` is Node 20+, see the note below
  let posts = data.collections.post.toReversed();
  return `<ul>
    ${posts.map((post) => `<li>${post.data.title}</li>`).join("\n")}
  </ul>`;
};
{% endraw %}{% endset %}
{{ codeBlock | highlight("js") | safe }}
  </div>
  <div id="collectionssort-cjs" role="tabpanel">
{% set codeBlock %}{% raw %}
exports.render = function (data) {
  // `toReversed` is Node 20+, see the note below
  let posts = data.collections.post.toReversed();
  return `<ul>
    ${posts.map((post) => `<li>${post.data.title}</li>`).join("\n")}
  </ul>`;
};
{% endraw %}{% endset %}
{{ codeBlock | highlight("js") | safe }}
  </div>
</seven-minute-tabs>
</is-land>