{%- set tabid = "configshapes-callback-export" %}
<div class="codetitle codetitle-right-md">eleventy.config.js</div>
<is-land on:visible import="/js/seven-minute-tabs.js">
<seven-minute-tabs class="tabs-flush" persist sync>
  {% renderFile "./src/_includes/syntax-chooser-tablist.11ty.js", {id: tabid, only: "jsesm,jscjs"} %}
  <div id="{{ tabid }}-jscjs" role="tabpanel">

```js
module.exports = async function(eleventyConfig) {};

// This named export is optional
module.exports.config = {
  dir: {
    input: "views",
    output: "dist"
  }
};
```

  </div>
  <div id="{{ tabid }}-jsesm" role="tabpanel">

```js
export default async function(eleventyConfig) {};

// This named export is optional
export const config = {
  dir: {
    input: "views",
    output: "dist"
  }
};
```

  </div>
</seven-minute-tabs>
</is-land>