---
permalink: /imports/facepile.html
---
<div class="facepile">
{%- for author in sites | topAuthors | shuffle %}
{%- if author.eligibleCount > 0 -%}
{%- if loop.first %}<div class="facepile-block">{% endif -%}
	<a href="/authors/{{ author.name | slug }}/">{% avatarlocalcache "twitter", author.name %}<span class="sr-only">{{ author.name }}</span></a>
{%- endif -%}
{%- endfor %}
</div>