---
permalink: /imports/supporters.html
---
<div class="facepile facepile-supporters">
{% for supporter in opencollective.supporters | supportersFacepile %}
{%- if loop.first %}<div class="facepile-block">{% endif %}
{%- set nameToSlug = supporter.name | slug | lower -%}
	<a href="{{ supporter.website or supporter.profile }}" class="elv-externalexempt" data-supporters-slug="{{ nameToSlug }}" rel="nofollow">{% avatarlocalcache "opencollective", nameToSlug, supporter.name %}</a>
{%- if loop.last or (loop.index0 % 40 == 0 and not loop.first) %}</div>{% endif %}
{%- if not loop.first and loop.index0 % 40 == 0 and not loop.last %}<div class="facepile-block">{% endif %}
{% endfor %}
{%- if config.localDev -%}
	<a href="https://zachleat.com/" class="elv-externalexempt" data-supporters-slug="zach-leatherman"><img src="/img/avatar-local-cache/opencollective/zach-leatherman.jpg" alt="Zach Leatherman" loading="lazy" class="avatar"></a>
{%- endif -%}
</div>