<is-land on:visible import="/js/seven-minute-tabs.js">
<seven-minute-tabs persist sync class="tabs-flush">
  {% renderFile "./src/_includes/syntax-chooser-tablist.11ty.js", {id: "pagedchunk"} %}
  <div id="pagedchunk-liquid" role="tabpanel">
{% set codeBlock %}{% raw %}
---
pagination:
  data: testdata
  size: 2
  alias: wonder
testdata:
  - Item1
  - Item2
  - Item3
  - Item4
permalink: "different/{{ wonder[0] | slugify }}/index.html"
---
You can use the alias in your content too {{ wonder[0] }}.
{% endraw %}{% endset %}
{{ codeBlock | highlight("liquid") | safe }}
  </div>
  <div id="pagedchunk-njk" role="tabpanel">
{% set codeBlock %}{% raw %}
---
pagination:
  data: testdata
  size: 2
  alias: wonder
testdata:
  - Item1
  - Item2
  - Item3
  - Item4
permalink: "different/{{ wonder[0] | slugify }}/index.html"
---
You can use the alias in your content too {{ wonder[0] }}.
{% endraw %}{% endset %}
{{ codeBlock | highlight("jinja2") | safe }}
  </div>
  <div id="pagedchunk-js" role="tabpanel">
{% set codeBlock %}{% raw %}
export const data = {
  pagination: {
    data: "testdata",
    size: 2,
    alias: "wonder"
  },
  testdata: [
    "Item1",
    "Item2",
    "Item3",
    "Item4"
  ],
  permalink: {
    function(data) {
      return `different/${this.slugify(data.wonder[0])}/index.html`
    };
  }
};

export function render(data) {
  return `You can use the alias in your content too ${data.wonder[0]}.`;
}
{% endraw %}{% endset %}
{{ codeBlock | highlight("js") | safe }}
  </div>
	<div id="pagedchunk-cjs" role="tabpanel">
{% set codeBlock %}{% raw %}
exports.data = {
  pagination: {
    data: "testdata",
    size: 2,
    alias: "wonder"
  },
  testdata: [
    "Item1",
    "Item2",
    "Item3",
    "Item4"
  ],
  permalink: {
    function(data) {
      return `different/${this.slugify(data.wonder[0])}/index.html`
    };
  }
};

exports.render = function (data) {
  return `You can use the alias in your content too ${data.wonder[0]}.`;
}
{% endraw %}{% endset %}
{{ codeBlock | highlight("js") | safe }}
  </div>
</seven-minute-tabs>
</is-land>