{%- set tabid = "i18n" %}
<div class="codetitle codetitle-right-md">eleventy.config.js</div>
<is-land on:visible import="/js/seven-minute-tabs.js">
<seven-minute-tabs class="tabs-flush" persist sync>
  {% renderFile "./src/_includes/syntax-chooser-tablist.11ty.js", {id: tabid, only: "jsesm,jscjs"} %}
  <div id="{{ tabid }}-jsesm" role="tabpanel">

```js
export default function (eleventyConfig) {
	eleventyConfig.addUrlTransform(({ url }) => {
		// `url` is guaranteed to be a string here even if you’re using `permalink: false`
		if (url.match(/\.[a-z]{2}\.html$/i)) {
			return url.slice(0, -1 * ".en.html".length) + "/";
		}

		// Returning undefined skips the url transform.
	});
};
```

  </div>
  <div id="{{ tabid }}-jscjs" role="tabpanel">

```js
module.exports = function (eleventyConfig) {
	eleventyConfig.addUrlTransform(({ url }) => {
		// `url` is guaranteed to be a string here even if you’re using `permalink: false`
		if (url.match(/\.[a-z]{2}\.html$/i)) {
			return url.slice(0, -1 * ".en.html".length) + "/";
		}

		// Returning undefined skips the url transform.
	});
};
```

  </div>
</seven-minute-tabs>
</is-land>